<ng-container *transloco="let t; read: 'csProjects.teamCreate'">
  <h1>
    {{ t('title') }}
  </h1>
  <h3>
    {{ t('subtitle') }}
  </h3>

  <div class="team-creation-container">
    <form class="team-creation-form" [formGroup]="formGroup">
      <trapper-ui-form-field>
        <trapper-ui-label [isRequired]="true">
          {{ t('nameLabel') }}
        </trapper-ui-label>
        <trapper-ui-text-input formControlName="name"></trapper-ui-text-input>
        <trapper-ui-server-errors
          formControlName="name"
        ></trapper-ui-server-errors>
      </trapper-ui-form-field>
      <trapper-ui-form-field>
        <trapper-ui-label [isRequired]="true">
          {{ t('descriptionLabel') }}
        </trapper-ui-label>
        <trapper-ui-text-input
          [multiline]="true"
          formControlName="description"
        ></trapper-ui-text-input>
        <trapper-ui-server-errors
          formControlName="description"
        ></trapper-ui-server-errors>
      </trapper-ui-form-field>

      <div class="polygon-upload-box">
        {{ t('polygonUploadHelpText') }}
        <a class="polygon-upload-link" (click)="selectPolygonFileFromDisk()">
          {{ t('polygonUploadLink') }}
        </a>
        <span class="optional-marker">
          {{ t('optionalMarker') }}
        </span>
      </div>
    </form>

    <div class="team-creation-map">
      <trapper-ui-map
        [polygonEditingEnabled]="true"
        (drawnPolygon)="polygonChanged($event)"
        [polygon]="newPolygon"
        [defaultLocation]="defaultLocation$ | async"
        [locateMeButtonEnabled]="true"
      ></trapper-ui-map>
    </div>
  </div>
  <div class="button-row">
    <trapper-ui-button
      [fullWidth]="false"
      (click)="onSubmit()"
      [inProgress]="(inProgress$ | async) || false"
    >
      {{ t('createButtonLabel') }}
    </trapper-ui-button>
  </div>
</ng-container>
