:host {
  padding-inline: 45px;
  text-align: left;
  gap: 24px;
  display: flex;
  flex-direction: column;
}

.team-creation-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  min-width: 328px;
  flex: 1;
}

.team-creation-container {
  display: flex;
  flex-direction: row;
  gap: 120px;
}

.team-creation-map {
  width: 100%;
  height: 500px;
}

.polygon-upload-box {
  align-self: flex-end;
}

.button-row {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
