<span
  *ngIf="value"
  class="yes"
  [class.swap-label-with-icon]="swapLabelWithIcon"
>
  <span *ngIf="showText">{{ yesText }}</span>
  <mat-icon fontIcon="check"></mat-icon
></span>
<span
  *ngIf="!value"
  class="no"
  [class.swap-label-with-icon]="swapLabelWithIcon"
>
  <span *ngIf="showText">{{ noText }}</span>
  <mat-icon fontIcon="close"></mat-icon
></span>
