span {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  &.swap-label-with-icon {
    flex-direction: row-reverse;
  }
}

.yes {
  mat-icon {
    color: var(--trapper-color-flag-yes);
  }
}

.no {
  mat-icon {
    color: var(--trapper-color-flag-no);
  }
}
