<div class="gallery" *transloco="let t; read: 'csProjects.mediaPreview'">
  <div
    class="gallery-heading"
    *ngIf="currentProject$ | async as currentProject"
  >
    <ng-container *ngIf="currentItem$ | async as item">
      <div class="info-section">
        <div class="title">{{ item.name }}</div>
        <div class="info">
          <span>{{ item.deployment.deployment_id }}</span>
          <span>{{ item.date_recorded }}</span>
        </div>
      </div>
      <div class="actions-section">
        <a
          class="action-button"
          [matTooltip]="t('markAsFavouriteActionTooltip')"
          (click)="markAsFavourite()"
        >
          <mat-icon
            [fontIcon]="item.is_favorite ? 'star' : 'star_outlined'"
          ></mat-icon
        ></a>

        <a class="action-button" (click)="close()">
          <mat-icon fontIcon="close"></mat-icon>
        </a></div
    ></ng-container>
  </div>
  <div class="gallery-content">
    @if (currentItem$ | async; as currentItem) {
      <trapper-resource-annotator
        [resourceSrc]="
          currentItem.resource_type === 'V'
            ? currentItem.original_url
            : currentItem.thumbnail_url.replace('/tfile/', '/pfile/')
        "
        [hdResourceSrc]="currentItem.original_url"
        [isVideo]="currentItem.resource_type === 'V'"
        [bboxes]="objects$ | async"
        [readOnly]="true"
        [showLabels]="true"
        [autoFitPaddingLeft]="0"
        [showObjectList]="false"
      ></trapper-resource-annotator>
    }
  </div>
</div>
