:host {
  --max-h: 90vh;
  --max-w: 94vw;
  --min-h: 800px;
  --min-w: 1100px;
  --gap: 24px;
  --heading-height: 48px;
  display: block;
  outline: none;

  max-width: var(--max-w);
  max-height: var(--max-h);
  width: var(--min-w);
  height: var(--min-h);

  overflow: hidden;
  background-color: black;

  border-radius: 5px;
}

.gallery-content {
  height: calc(min(var(--max-h), var(--min-h)) - var(--heading-height));
}

.gallery-heading {
  height: var(--heading-height);
  color: var(--trapper-color-text-contrast);
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .actions-section {
    display: flex;
    align-items: center;
    gap: 8px;

    .action-button {
      border: none;
      background: transparent;
      cursor: pointer;
      padding: 0;
      color: var(--trapper-color-icon-button);
    }
  }

  .info-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    .title {
      //   font-size: 24px;
      font-weight: 500;
    }
    .info {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 8px 16px;
    }
  }
}
