.tos-content {
  text-align: justify;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  /* or 125% */

  /* Gray 1 */

  color: var(--trapper-color-text-default);

  h1 {
    font-weight: 500;
    font-size: 32px;
    line-height: 36px;
    padding: 28px;
  }
}

.button-container {
  width: 100%;
  padding: 40px 150px;
}

.checkbox-container {
  display: flex;
  align-self: flex-start;

  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
