<trapper-ui-modal *transloco="let t; read: 'csConsents'">
  <ng-template #title>
    <h1>
      {{ t('tosUpdate.title') }}
    </h1>
  </ng-template>

  <form [formGroup]="formGroup">
    <trapper-ui-form-column>
      <div
        class="tos-content"
        [innerHTML]="content"
        *ngIf="content$ | async as content; else loading"
      ></div>
      <div class="checkbox-container">
        <trapper-ui-checkbox
          formControlName="gdpr"
          [errors]="gdprUpdateService.fieldError$('gdpr') | async"
        >
          {{ t('gdprUpdate.accept') }}
        </trapper-ui-checkbox>
      </div>
      <div class="button-container"></div>
    </trapper-ui-form-column>
  </form>

  <ng-template #footer>
    <trapper-ui-button
      (click)="updateGdpr()"
      [disabled]="!formGroup.controls.gdpr.value"
    >
      {{ t('gdprUpdate.continue') }}
    </trapper-ui-button>
  </ng-template>
</trapper-ui-modal>

<ng-template #loading><ngx-skeleton-loader></ngx-skeleton-loader></ng-template>
