<trapper-ui-card *transloco="let t; read: 'csProjects.uploadProgress'">
  <h1>
    {{ t('uploadProgressTitle') }}
  </h1>
  <p>
    {{ t('uploadProgressHint') }}
  </p>
  <trapper-ui-progress-bar
    [percentage]="
      (100 * mediaUploadService.processedFileCount) /
      mediaUploadService.totalCount
    "
  ></trapper-ui-progress-bar>
  <span class="progress-stats"
    >{{ mediaUploadService.processedFileCount }}/{{
      mediaUploadService.totalCount
    }}</span
  >
  <div class="btn-wrapper">
    <trapper-ui-button (click)="cancel()">
      {{ t('uploadProgressCancel') }}
    </trapper-ui-button>
  </div>
</trapper-ui-card>
