:host {
}

.btn-wrapper {
  width: 328px;
}

trapper-ui-progress-bar {
  width: 408px;
}

p {
  max-width: 379px;
}

.progress-stats {
  font-weight: 400;
  font-size: 12px;
  align-self: flex-end;
  margin-right: 32px;
}
