.location-section-heading {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  gap: 32px;
}

.existing-location-column {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  column-gap: 24px;
  grid-column: span 2;
  .toggle-wrapper {
    border-left: solid 2px var(--trapper-color-input-border);
    height: 48px;
    padding-left: 24px;
    display: flex;
    align-items: center;
  }
}

.new-location-column {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  flex-wrap: wrap;
  column-gap: 24px;
  grid-column: span 3;
}

:host {
  text-align: left;
  gap: 24px;
  display: flex;
  flex-direction: column;
}
