<ng-container *transloco="let t; read: 'csProjects.upload'">
  <section class="location-selection" [@inOutAnimation]>
    <div class="location-section-heading">
      <form class="existing-location-column">
        <trapper-ui-form-field *ngIf="locationSelectionFormControl">
          <trapper-ui-label
            [isDisabled]="locationEditingEnabled"
            [isRequired]="true"
          >
            {{ t('selectLocationLabel') }}
          </trapper-ui-label>
          <trapper-ui-select-box-input
            [placeholder]="t('selectLocationPlaceholder')"
            [searchable]="true"
            [formControl]="locationSelectionFormControl"
            [items]="locationChoices$ | async"
            testId="location-select"
          ></trapper-ui-select-box-input>
          <trapper-ui-server-errors
            [formControl]="locationSelectionFormControl"
          ></trapper-ui-server-errors>
        </trapper-ui-form-field>
        <trapper-ui-form-field>
          <trapper-ui-label></trapper-ui-label>
          <div class="toggle-wrapper">
            <a
              (click)="toggleLocationEditing()"
              data-testid="toggle-location-edit"
            >
              {{
                !locationEditingEnabled
                  ? t('createNewLocationLabel')
                  : t('selectExistingLocationLabel')
              }}</a
            >
          </div>
        </trapper-ui-form-field>
      </form>
      <form
        class="new-location-column"
        [formGroup]="locationEditFormGroup"
        *ngIf="locationEditFormGroup"
      >
        <ng-container *ngIf="locationEditingEnabled">
          <trapper-ui-form-field [@inOutAnimation]>
            <trapper-ui-label [isRequired]="true">
              {{ t('locationNameLabel') }}
            </trapper-ui-label>
            <trapper-ui-text-input
              formControlName="name"
              testId="location-name-input"
            ></trapper-ui-text-input>
            <trapper-ui-server-errors
              formControlName="name"
            ></trapper-ui-server-errors>
          </trapper-ui-form-field>
          <trapper-ui-form-field [@inOutAnimation]>
            <trapper-ui-label [isRequired]="true">
              {{ t('locationLatitudeLabel') }}
            </trapper-ui-label>
            <trapper-ui-text-input
              formControlName="latitude"
              type="number"
              [min]="-90"
              [max]="90"
              testId="location-latitude-input"
            ></trapper-ui-text-input>
            <trapper-ui-server-errors
              formControlName="latitude"
            ></trapper-ui-server-errors>
          </trapper-ui-form-field>
          <trapper-ui-form-field [@inOutAnimation]>
            <trapper-ui-label [isRequired]="true">
              {{ t('locationLongitudeLabel') }}
            </trapper-ui-label>
            <trapper-ui-text-input
              formControlName="longitude"
              type="number"
              [min]="-180"
              [max]="180"
              testId="location-longitude-input"
            ></trapper-ui-text-input>
            <trapper-ui-server-errors
              formControlName="longitude"
            ></trapper-ui-server-errors>
          </trapper-ui-form-field>
        </ng-container>
      </form>
    </div>
  </section>

  <section
    class="location-map-section"
    *ngIf="locationEditingEnabled"
    [@inOutAnimation]
  >
    <div style="height: 328px; width: 100%">
      <trapper-ui-map
        (mapClick)="leafletMapClick($event)"
        [markers]="markers$ | async"
        [locateMeButtonEnabled]="true"
        [defaultLocation]="defaultLocation$ | async"
      ></trapper-ui-map>
    </div>
  </section>
</ng-container>
