<div
  class="image-filters"
  (mousedown)="$event.stopPropagation()"
  *transloco="let t; prefix: 'resourceAnnotator.imageFilters'"
>
  <div class="image-filter">
    <label for="contrast">
      {{ t('contrast') }}
    </label>
    <div class="image-filter-slide-container">
      <input
        id="contrast"
        type="range"
        class="slider"
        min="0"
        max="400"
        step="1"
        [ngModel]="contrast"
        (ngModelChange)="setContrast($event)"
      />
      <trapper-tool-button
        (click)="resetContrast()"
        icon="bootstrapArrowCounterclockwise"
        [matTooltip]="t('resetContrast')"
      >
      </trapper-tool-button>
    </div>
  </div>
  <div class="image-filter">
    <label for="brightness">
      {{ t('brightness') }}
    </label>
    <div class="image-filter-slide-container">
      <input
        id="brightness"
        type="range"
        class="slider"
        min="0"
        max="400"
        step="1"
        [ngModel]="brightness"
        (ngModelChange)="setBrightness($event)"
      />
      <trapper-tool-button
        (click)="resetBrightness()"
        icon="bootstrapArrowCounterclockwise"
        [matTooltip]="t('resetBrightness')"
      ></trapper-tool-button>
    </div>
  </div>
  <div class="image-filter">
    <label for="saturate">
      {{ t('saturation') }}
    </label>
    <div class="image-filter-slide-container">
      <input
        id="saturate"
        type="range"
        class="slider"
        min="0"
        max="400"
        step="1"
        [ngModel]="saturation"
        (ngModelChange)="setSaturation($event)"
      />
      <trapper-tool-button
        (click)="resetSaturation()"
        icon="bootstrapArrowCounterclockwise"
        [matTooltip]="t('resetSaturation')"
      ></trapper-tool-button>
    </div>
  </div>
</div>
