.image-filters {
  display: flex;
  flex-direction: column;
  gap: 8px;
  opacity: 90%;
  border-radius: 4px;
  background-color: var(--trapper-color-muted-background);
  overflow: hidden;

  width: 200px;
  text-align: left;
  padding: 10px;
  margin: 0;
  font-size: 12px;

  .image-filter {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
    .slider {
      width: 100%;
      background: var(--trapper-color-muted-4);
      // outline: none;
      opacity: 0.7;
      transition: opacity 0.2s;
      accent-color: var(--trapper-color-text-contrast);
      // padding-top: 4px;
    }
  }

  .image-filter-slide-container {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    justify-content: space-between;
  }
}
