// base colors

:root[data-theme='dark'] {
  --trapper-color-primary-background: #212121;
  --trapper-color-secondary-background: #000000;
  --trapper-color-tertiary-background: #333333;

  --trapper-color-muted: #94abd4;
  --trapper-color-muted-background: #3b4252;
  --trapper-color-muted-2: #7888a7;
  --trapper-color-muted-3: #2e3440;
  --trapper-color-muted-4: #434c5e;

  --trapper-color-text-default: #e5e9f0;
  --trapper-color-text-secondary: #d8dee9;
  --trapper-color-text-muted: var(--trapper-color-muted);
  --trapper-color-text-contrast: #e5e9f0;

  --trapper-color-icon-button: #d8dee9;

  --trapper-color-placeholder-background: #434c5e;
}
:root {
  --trapper-color-primary: #133a61;
  --trapper-color-primary-contrast: #dbdada;

  --trapper-color-secondary: #2d7290;
  --trapper-color-secondary-contrast: #dbdada;

  --trapper-color-danger: #bf616a;
  --trapper-color-danger-contrast: #222222;

  --trapper-color-info: #5e81ac;
  --trapper-color-info-contrast: #222222;
  --trapper-color-warning: #d08770;
  --trapper-color-warning-contrast: #222222;
  --trapper-color-success: #a3be8c;
  --trapper-color-success-contrast: #222222;

  --trapper-color-primary-background: #ffffff;
  --trapper-color-secondary-background: #000000;
  --trapper-color-tetriary-background: #ffffff;

  --trapper-color-muted: #bdbdbd;
  --trapper-color-muted-background: #eeeeee;
  --trapper-color-muted-2: #a3a3a3;
  --trapper-color-muted-3: #f2f2f2;
  --trapper-color-muted-4: #a4a4a4;

  --trapper-color-text-default: #333333;
  --trapper-color-text-secondary: #4f4f4f;
  --trapper-color-text-muted: var(--trapper-color-muted);
  --trapper-color-text-contrast: #ffffff;

  --trapper-color-placeholder-background: #d9d9d9;
  --trapper-color-icon-button: var(--trapper-color-text-secondary);

  --trapper-color-badge-default: #5e81ac;
  --trapper-color-other: #a3be8c;

  --trapper-color-dashboard-plot-0: #edb74b;
  --trapper-color-dashboard-plot-1: #d08770;
  --trapper-color-dashboard-plot-2: #b48ead;
  --trapper-color-dashboard-plot-3: #5e81ac;
  --trapper-color-dashboard-plot-4: #bf616a;

  --trapper-color-tag-0: #edb74b;
  --trapper-color-tag-1: #d08770;
  --trapper-color-tag-2: #b48ead;
  --trapper-color-tag-3: #5e81ac;
  --trapper-color-tag-4: #bf616a;
  --trapper-color-tag-5: #a3be8c;
  --trapper-color-tag-6: #88c0d0;
  --trapper-color-tag-7: #81a1c1;
  --trapper-color-tag-8: #5e81ac;
  --trapper-color-tag-9: #4c566a;

  --trapper-color-link: #d08770;

  --trapper-sidebar-background: linear-gradient(
    180deg,
    var(--trapper-color-primary) 33.85%,
    var(--trapper-color-secondary) 100%
  );

  --trapper-color-bbox: #0676ff;
  --trapper-color-bbox-selected: #830606;

  --trapper-color-species-tag: var(--trapper-color-tag-0);
  --trapper-color-observation-type-tag: var(--trapper-color-tag-1);
}

// derived colors
:root {
  --trapper-color-error: var(--trapper-color-danger);
  --trapper-color-error-contrast: var(--trapper-color-danger-contrast);

  --trapper-color-required: var(--trapper-color-danger);

  --trapper-color-input-border: var(--trapper-color-muted);
  --trapper-color-input-text: var(--trapper-color-text-secondary);
  --trapper-color-card-background: var(--trapper-color-primary-background);

  --trapper-color-checkbox: var(--trapper-color-link);

  --trapper-color-outline: var(--trapper-color-primary);

  --trapper-color-me: var(--trapper-color-secondary);
  --trapper-color-me-contrast: var(--trapper-color-secondary-contrast);
  --trapper-color-approved: var(--trapper-color-primary);
  --trapper-color-approved-contrast: var(--trapper-color-primary-contrast);
  --trapper-color-ai: var(--trapper-color-danger);
  --trapper-color-ai-contrast: var(--trapper-color-danger-contrast);
  --trapper-color-has-feedback: var(--trapper-color-primary);
  --trapper-color-has-feedback-contrast: var(--trapper-color-primary-contrast);

  --trapper-color-alert-success: var(--trapper-color-success);
  --trapper-color-alert-success-text: var(--trapper-color-success-contrast);
  --trapper-color-alert-error: var(--trapper-color-danger);
  --trapper-color-alert-error-text: var(--trapper-color-danger-contrast);
  --trapper-color-alert-warning: var(--trapper-color-warning);
  --trapper-color-alert-warning-text: var(--trapper-color-warning-contrast);
  --trapper-color-alert-info: var(--trapper-color-info);
  --trapper-color-alert-info-text: var(--trapper-color-info-contrast);

  --trapper-color-disabled: var(--trapper-color-muted);
  --trapper-color-disabled-contrast: var(--trapper-color-muted-background);

  --trapper-color-form-placeholder: var(--trapper-color-muted-2);
  --trapper-color-help-text: var(--trapper-color-muted-2);

  --trapper-color-map-marker-circle: var(--trapper-color-secondary-contrast);
  --trapper-color-map-marker-circle-selected: var(--trapper-color-secondary);
  --trapper-color-map-marker: var(--trapper-color-link);

  --trapper-color-form-background: var(--trapper-color-primary-background);

  --trapper-color-border-1: var(--trapper-color-muted-background);
  --trapper-color-icon-button-hover: var(--trapper-color-muted-background);

  --trapper-color-cs-classification-listing-classify-button-icon: var(
    --trapper-color-text-contrast
  );

  --trapper-color-sequence-navigation: var(--trapper-color-success);

  --trapper-color-thumbnail-overlay-text: var(--trapper-color-text-contrast);

  --trapper-color-no-items: var(--trapper-color-text-secondary);

  --trapper-color-image-roll-sequence-label: var(--trapper-color-muted-2);
  --trapper-color-image-roll-sequence-background: var(
    --trapper-color-muted-background
  );
  --trapper-color-image-roll-item-background: var(
    --trapper-color-primary-background
  );

  --trapper-color-sequence-icon: var(--trapper-color-text-contrast);

  --trapper-color-workspace-background: var(--trapper-color-primary-background);

  --trapper-color-upload-drop-zone-background: var(--trapper-color-muted-3);

  --trapper-color-listing-row-hover-background: var(
    --trapper-color-muted-background
  );
  --trapper-color-listing-row-selected-background: var(
    --trapper-color-muted-background
  );
  --trapper-color-listing-row-selected-outline: var(--trapper-color-info);

  --trapper-color-switch-background: var(--trapper-color-muted-background);
  --trapper-color-switch-handle: var(--trapper-color-warning-contrast);
  --trapper-color-switch-handle-checked: var(--trapper-color-warning);

  --trapper-color-text-input-icon: var(--trapper-color-text-default);

  --trapper-color-flag-yes: var(--trapper-color-success);
  --trapper-color-flag-no: var(--trapper-color-danger);

  --trapper-color-select-box-highlight: var(--trapper-color-muted-3);
  --trapper-color-select-box-selected: var(--trapper-color-muted-background);

  --trapper-color-app-footer-background: var(--trapper-color-muted-background);

  --trapper-color-header: var(--trapper-color-secondary);
}

:root {
  --trapper-color-select-box-highlight: var(
    --trapper-color-listing-row-hover-background
  );
  --trapper-color-select-box-selected: var(
    --trapper-color-listing-row-selected-background
  );
  --trapper-color-select-box-primary-text: var(--trapper-color-text-default);
  --trapper-color-select-box-disabled-text: var(--trapper-color-disabled);
  --trapper-color-select-box-border: var(--trapper-color-input-border);

  --trapper-color-select-box-background: var(
    --trapper-color-primary-background
  );
  --trapper-color-select-box-selected-text: var(
    --trapper-color-select-box-primary-text
  );

  --trapper-color-select-box-marked: var(--trapper-color-muted-background);
  --trapper-color-select-box-marked-text: var(
    --trapper-color-select-box-primary-text
  );

  --trapper-color-select-box-placeholder: var(--trapper-color-form-placeholder);
  --trapper-color-select-box-optgroup-text: var(--trapper-color-input-text);
  --trapper-color-select-box-option-text: var(--trapper-color-input-text);
  --trapper-color-select-box-option-disabled: var(--trapper-color-disabled);

  --trapper-color-skeleton-loader-background: var(--trapper-color-muted-3);
}
