<div class="input-wrapper">
  <mat-date-range-input
    [rangePicker]="picker"
    [formGroup]="range"
    [min]="minDate"
    [max]="maxDate"
  >
    <input
      #startDateInput
      placeholder="YYYY-MM-DD"
      matStartDate
      formControlName="start"
      [attr.data-testid]="testId ? testId + '-start' : null"
    />
    <input
      #endDateInput
      placeholder="YYYY-MM-DD"
      matEndDate
      formControlName="end"
      [attr.data-testid]="testId ? testId + '-end' : null"
    />
  </mat-date-range-input>
  <button
    (click)="picker.open(); $event.stopPropagation(); $event.preventDefault()"
    tabindex="0"
    class="calendar-icon"
    [attr.data-testid]="testId ? testId + '-calendar' : null"
  >
    <mat-icon [fontIcon]="fontIcon" class="calendar-icon"></mat-icon>
  </button>
</div>

<mat-date-range-picker #picker></mat-date-range-picker>
