:host {
  display: flex;
  height: 48px;
  font-style: normal;

  font-weight: 400;
  font-size: 14px;
  line-height: 1em;
  width: 100%;
}
.input-wrapper {
  border: 1px solid var(--trapper-color-input-border);
  outline-color: var(--trapper-color-outline);
  width: 100%;

  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  padding-right: 8px;
  &:has(.cdk-focused) {
    box-shadow: 0 0 0 1px var(--trapper-color-outline);
  }
}

mat-date-range-input {
  font-size: 1em;
  line-height: 1em;

  width: calc(100% - 20px);

  resize: none;

  transition: border-color 200ms;

  &.has-errors {
    border-color: var(--trapper-color-danger);
    margin-bottom: 0;
  }
  &.has-help-text {
    margin-bottom: 0;
  }
  &:disabled {
    border-color: var(--trapper-color-disabled);
  }
}

button.calendar-icon {
  font-size: 17px;
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
  margin: 0;
  font-size: 1em;
  line-height: 1em;
  flex-shrink: 0;
  margin-left: 8px;
  color: var(--trapper-color-primary);
  &:disabled {
    color: var(--trapper-color-disabled);
  }

  .calendar-icon {
    line-height: 1em;
    width: 1em;
    height: 1em;
    font-size: 1em;
  }
}

input {
  display: inline-flex;
  align-items: center;
  width: 90px;
}

::placeholder {
  color: var(--trapper-color-form-placeholder);
  font-size: var(--trapper-form-placeholder-font-size);

  vertical-align: middle;
}

:host ::ng-deep {
  .mat-date-range-input-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
