a {
  max-width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  gap: 6px;

  span {
    max-width: calc(100% - 6px - 22px);
    display: block;
    flex: 1 1 auto;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.avatar {
  width: 22px;
  height: 22px;
  border-radius: 50%;
}
