:host {
  padding-inline: 45px;
  text-align: left;
  gap: 24px;
  display: flex;
  flex-direction: column;
}

.view-header {
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 8px;
}
.footer-section {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  trapper-ui-button {
    min-width: 328px;
  }
}

.basic-info-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  gap: 32px;
}

.deployment-basic-info-form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  column-gap: 24px;
  grid-column: span 2;
}

.thumbnails {
  --thumbnails-max-columns: 8;
  --thumbnails-layout-gap: 8px;
  --thumbnails-min-width: 120px;
  --thumbnails-column-gap-count: calc(var(--thumbnails-max-columns) - 1);
  --thumbnails-total-gap-width: calc(
    var(--thumbnails-layout-gap) * var(--thumbnails-column-gap-count)
  );
  --thumbnails-max-width: min(
    calc(
      (100% - var(--thumbnails-total-gap-width)) / var(--thumbnails-max-columns)
    ),
    160px
  );
  width: 100%;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(max(var(--thumbnails-min-width), var(--thumbnails-max-width)), 1fr)
  );
  gap: var(--thumbnails-layout-gap);
  .thumbnail {
    width: 100%;
    aspect-ratio: 16/10;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .thumbnail-overlay {
      cursor: pointer;
      background: rgba(0, 0, 0, 0.5);
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 8px;
      align-items: center;
      justify-content: center;
      color: var(--trapper-color-thumbnail-overlay-text);
      font-weight: 400;
      font-size: 24px;
      .thumbnail-overlay-text-small {
        font-size: 12px;
      }
    }
  }
}

.button-wrapper {
  margin-top: 40px;
}
