<ng-container *transloco="let t; read: 'csProjects.editDeployment'">
  <section class="view-header">
    <h1>{{ t('editDeploymentHeader') }}</h1>
    <h3>{{ t('editDeploymentSubheader') }}</h3>
  </section>
  <section class="basic-info-section">
    <ng-container [formGroup]="formGroup">
      <form class="deployment-basic-info-form">
        <trapper-ui-form-field [@inOutAnimation]>
          <trapper-ui-label [isRequired]="true">
            {{ t('deploymentCodeLabel') }}
          </trapper-ui-label>
          <trapper-ui-text-input
            formControlName="deployment_code"
          ></trapper-ui-text-input>
          <trapper-ui-server-errors
            formControlName="deployment_code"
          ></trapper-ui-server-errors>
        </trapper-ui-form-field>
        <trapper-ui-form-field class="date-range" [@inOutAnimation]>
          <trapper-ui-label [isRequired]="true">
            {{ t('deploymentDateRangeLabel') }}
          </trapper-ui-label>

          <trapper-ui-date-range-input
            [maxDate]="today"
            formControlName="date_range"
          ></trapper-ui-date-range-input>

          <trapper-ui-server-errors></trapper-ui-server-errors>
        </trapper-ui-form-field>

        <trapper-ui-form-field [@inOutAnimation]>
          <trapper-ui-label [isRequired]="true">
            {{ t('deploymentBaitTypeLabel') }}
          </trapper-ui-label>
          <trapper-ui-select-box-input
            [placeholder]="t('deploymentBaitTypePlaceholder')"
            [searchable]="true"
            formControlName="bait_type"
            [items]="baitTypeChoices$ | async"
          >
          </trapper-ui-select-box-input>
          <trapper-ui-server-errors
            formControlName="bait_type"
          ></trapper-ui-server-errors>
        </trapper-ui-form-field>
      </form>
    </ng-container>
    <div></div>
  </section>
  <trapper-frontend-deployment-edit-location-selection
    [locationEditFormGroup]="formGroup.controls.location"
    [locationSelectionFormControl]="formGroup.controls.location_id"
    (locationEditingEnabledChange)="locationEditingEnabledChange($event)"
    [locationEditingEnabled]="formGroup.controls.location.enabled"
  ></trapper-frontend-deployment-edit-location-selection>
  <trapper-frontend-deployment-edit-additional-fields
    [expanded]="true"
    [formGroup]="formGroup"
  ></trapper-frontend-deployment-edit-additional-fields>
  <trapper-frontend-deployment-edit-additional-informations
    [canChangePrivacySettings]="true"
    [formGroup]="formGroup"
  >
  </trapper-frontend-deployment-edit-additional-informations>

  <section class="footer-section">
    <div class="button-wrapper">
      <trapper-ui-button (click)="submit()">
        {{ t('saveDeploymentButton') }}
      </trapper-ui-button>
    </div>
  </section>

  <section class="footer-section">
    <div *ngIf="data$ | async as deployment; else loading" class="thumbnails">
      <div
        *ngFor="let thumbnail of deployment.media.slice(0, 16); let last = last"
        class="thumbnail"
        [style.background-image]="
          'url(' + thumbnail.thumbnail.replace('/tfile/', '/pfile/') + ')'
        "
      >
        <div
          class="thumbnail-overlay"
          *ngIf="last"
          role="link"
          [routerLink]="['/cs/projects', currentProjectSlug, 'media']"
          [queryParams]="{
            deployment: deployment.pk
          }"
        >
          <span
            class="thumbnail-overlay-text"
            *ngIf="deployment.resources_count > 16"
          >
            +{{ deployment.resources_count - 16 }}
          </span>
          <span
            class="thumbnail-overlay-text"
            *ngIf="deployment.resources_count <= 16"
          >
            See all
          </span>
          <span
            class="thumbnail-overlay-text-small"
            *ngIf="deployment.resources_count > 16"
          >
            See all
          </span>
        </div>
      </div>
    </div>
    <div class="button-wrapper">
      <trapper-ui-button
        [routerLink]="['../../../upload']"
        [queryParams]="{ deployment: currentDeploymentId }"
        variant="secondary"
      >
        {{ t('uploadMoreButton') }}
      </trapper-ui-button>
    </div>
  </section>
</ng-container>

<ng-template #loading>
  <ngx-skeleton-loader
    animation="pulse"
    [count]="1"
    [theme]="{
      backgroundColor: 'var(--trapper-color-skeleton-loader-background)'
    }"
  ></ngx-skeleton-loader>
</ng-template>
