<div class="horizontal-tool-container" (mousedown)="$event.stopPropagation()">
  @if (totalAnnotationFrames() > 0) {
    <trapper-tool-button
      (click)="previousFrameClicked()"
      icon="bootstrapSkipBackward"
    >
    </trapper-tool-button>
    <div class="seek-slider-container">
      <input
        type="range"
        class="slider"
        min="0"
        [max]="totalAnnotationFrames()"
        step="1"
        [ngModel]="currentAnnotationFrame()"
        (ngModelChange)="goToFrame($event)"
      />
    </div>

    <trapper-tool-button class="current-frame">
      {{ currentAnnotationFrame() + 1 }} / {{ totalAnnotationFrames() }}
    </trapper-tool-button>
    <trapper-tool-button
      (click)="nextFrameClicked()"
      icon="bootstrapSkipForward"
    >
    </trapper-tool-button>
  }
  <trapper-tool-button
    (click)="playPauseClicked()"
    [active]="videoPlaying()"
    [icon]="videoPlaying() ? 'bootstrapPause' : 'bootstrapPlay'"
  >
  </trapper-tool-button>
</div>
