:host {
  display: flex;
  gap: 8px;
  pointer-events: initial;
}
.horizontal-tool-container {
  display: flex;
  opacity: 90%;
  border-radius: 4px;
  background-color: var(--trapper-color-muted-background);
  overflow: hidden;
}

.seek-slider-container {
  width: 200px;
  height: 100%;
  display: flex;
  align-items: center;
  text-align: left;
  padding-inline: 10px;
  margin: 0;
  font-size: 12px;
}

.slider {
  width: 100%;
  background: var(--trapper-color-muted-4);
  // outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
  accent-color: var(--trapper-color-text-contrast);
  // padding-top: 4px;
}

.current-frame {
  min-width: 100px;
  text-align: center;
}
