@use '@angular/material' as mat;

@import 'normalize.css';
@import 'reset-css';

@import '@angular/cdk/overlay-prebuilt.css';
@import '@material-design-icons/font';

@import 'ngx-toastr/toastr';

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: 'DIN OT';
  font-weight: 400;
  src: url('assets/fonts/DINOT-Regular.woff') format('woff');
}

@font-face {
  font-family: 'DIN OT';
  font-weight: 500;
  src: url('assets/fonts/DINOT-Medium.woff') format('woff');
}

@font-face {
  font-family: 'DIN OT';
  font-weight: 700;
  src: url('assets/fonts/DINOT-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Lato';
  font-weight: 400;
  src:
    url('assets/fonts/Lato-Regular.woff2') format('woff2'),
    url('assets/fonts/Lato-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Lato';
  font-weight: 500;
  src:
    url('assets/fonts/Lato-Medium.woff2') format('woff2'),
    url('assets/fonts/Lato-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Lato';
  font-weight: 700;
  src:
    url('assets/fonts/Lato-Bold.woff2') format('woff'),
    url('assets/fonts/Lato-Bold.woff2') format('woff');
}

@import './styles/default_color_scheme';
// @import './styles/alt_scheme';

:root {
  font-family: 'Lato';
}

:root {
  --standard-spacing-gap: 32px;
  --standard-spacing-gap-small: 24px;

  @media (max-width: 1919px) {
    --standard-spacing-gap: 24px;
    --standard-spacing-gap-small: 12px;
  }

  --trapper-topbar-height: 68px;
  --trapper-topbar-height-compact: 48px;
  --trapper-footer-height: 56px;
  --trapper-footer-height-compact: 24px;
  --trapper-workspace-top-margin: 56px;
  --trapper-workspace-bottom-margin: 56px;

  --trapper-form-placeholder-font-size: 13px;
}

a {
  color: var(--trapper-color-link);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1em;
  cursor: pointer;
  text-decoration: none;
}

h1 {
  font-weight: 700;
  font-size: 36px;
}

h2 {
  font-weight: 500;
  font-size: 32px;
  line-height: 36px;
}

h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

h4 {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

@media (min-width: 800px) {
  h1 {
    font-size: 40px;
    word-wrap: break-word;
  }

  h2 {
    font-size: 32px;
    line-height: 36px;
  }

  h3 {
    font-size: 24px;
    line-height: 28px;
  }

  h4 {
    font-size: 16px;
    line-height: 20px;
  }
}

body {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: var(--trapper-color-text-default);
}

input,
textarea {
  background-color: var(--trapper-color-form-background);
  color: var(--trapper-color-input-text);
}

.mat-datepicker-content-container {
  td {
    vertical-align: middle;
  }
}

@include mat.core();

$my-primary: mat.define-palette(mat.$indigo-palette, 500);
$my-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$my-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

@include mat.all-component-themes($my-theme);

// @import '@ng-select/ng-select/scss/default.theme';
@import './styles/ngselect.theme';

.ng-value-container {
  line-height: 2em;
  .ng-placeholder {
    line-height: 2em;
  }

  .ng-value {
    line-height: 2em;
  }
}

.ng-dropdown-panel {
  z-index: 1052;

  .ng-dropdown-header {
    border-bottom: none;
    padding: 0;
  }
}

.compact-select {
  .ng-select {
    .ng-select-container {
      height: 35px;
      max-height: 35px;
      min-height: 35px;
    }
  }
}

@import 'leaflet/dist/leaflet.css';
@import '~leaflet.locatecontrol/dist/L.Control.Locate.min.css';
@import '~leaflet-draw/dist/leaflet.draw.css';

.trapper-common- {
  &card-shadow {
    box-shadow: 0px 8px 16px rgba(46, 46, 46, 0.16);
  }

  &text-center {
    text-align: center;
  }
}

.tooltip-multiline {
  white-space: pre-line;
}

.cdk-overlay-container {
  z-index: 2000;
}

.ngx-charts {
  text {
    fill: var(--trapper-color-text-default);
  }
}
