<ng-container *transloco="let t; read: 'csProjects.deploymentDetails'">
  <div class="content" *ngIf="data$ | async as deployment; else loading">
    <section class="heading">
      <h1 data-testid="deployment-id">
        {{ deployment.deployment_id }}
      </h1>
      <div class="actions">
        <a
          routerLink="../edit"
          *ngIf="deployment.can_update"
          [matTooltip]="t('editActionTooltip')"
        >
          <mat-icon fontIcon="edit"></mat-icon>
        </a>
        <button
          *ngIf="deployment.can_delete"
          (click)="deleteDeployment(deployment)"
          [matTooltip]="t('deleteActionTooltip')"
        >
          <mat-icon fontIcon="delete"></mat-icon>
        </button>
        <button
          *ngIf="deployment.can_update"
          (click)="updateTime(deployment)"
          [matTooltip]="t('updateTimeActionTooltip')"
        >
          <mat-icon fontIcon="more_time"></mat-icon>
        </button>
        <a
          *ngIf="deployment.can_classify"
          (click)="classifyDeployment(deployment)"
          [matTooltip]="t('classifyDeploymentActionTooltip')"
        >
          <mat-icon fontIcon="copy_all"></mat-icon>
        </a>
      </div>
    </section>

    <div class="main-content">
      <div class="main-content-left">
        <section
          class="no-thumbnails"
          *ngIf="deployment.thumbnails.length === 0"
        >
          <div class="no-thumbnails-text">
            <mat-icon
              class="in-progress-icon"
              fontIcon="settings-outline"
            ></mat-icon>
            {{ t('noThumbnails') }}
          </div>
          <div class="progress-bar-wrapper">
            <trapper-ui-progress-bar
              [percentage]="progress$ | async"
              [indeterminate]="
                (progress$ | async) === null ||
                (progress$ | async) === undefined
              "
            ></trapper-ui-progress-bar>
          </div>
        </section>
        <section class="thumbnails">
          <div
            *ngFor="
              let thumbnail of deployment.thumbnails.slice(0, 6);
              let last = last
            "
            class="thumbnail"
            [style.background-image]="
              'url(' + thumbnail.thumbnail.replace('/tfile/', '/pfile/') + ')'
            "
          >
            <div
              class="thumbnail-overlay"
              *ngIf="last"
              role="link"
              [routerLink]="['/cs/projects', currentProjectSlug, 'media']"
              [queryParams]="{
                deployment: deployment.pk
              }"
            >
              <span
                class="thumbnail-overlay-text"
                *ngIf="deployment.resources_count > 6"
              >
                +{{ deployment.resources_count - 6 }}
              </span>
              <span
                class="thumbnail-overlay-text"
                *ngIf="deployment.resources_count <= 6"
              >
                {{ t('seeAllThumbnailButton') }}
              </span>
              <span
                class="thumbnail-overlay-text-small"
                *ngIf="deployment.resources_count > 6"
              >
                {{ t('seeAllThumbnailButton') }}
              </span>
            </div>
          </div>
        </section>

        <section
          class="deployment-map"
          *ngIf="
            deployment.location.latitude !== null &&
              deployment.location.longitude !== null;
            else mapPlaceholder
          "
        >
          <trapper-ui-map
            [markers]="[
              {
                lat: deployment.location.latitude,
                lng: deployment.location.longitude,
                label: deployment.location.name,
                id: 'deployment-location'
              }
            ]"
          ></trapper-ui-map>
        </section>

        <ng-template #mapPlaceholder>
          <section class="deployment-map-placeholder">
            <mat-icon fontIcon="map"></mat-icon>
            <p>{{ t('deploymentMapPlaceholder') }}</p>
          </section>
        </ng-template>
      </div>
      <div class="main-content-right">
        <section class="details">
          <h3>
            {{ t('dataHeader') }}
          </h3>

          <trapper-ui-details-card-item [label]="t('data.deploymentId')">
            {{ deployment.deployment_id }}
          </trapper-ui-details-card-item>

          <trapper-ui-details-card-item [label]="t('data.locationName')">
            {{ deployment.location.name }}
          </trapper-ui-details-card-item>

          <trapper-ui-details-card-item [label]="t('data.coordinates')">
            <ng-container
              *ngIf="
                deployment.location.latitude !== null &&
                  deployment.location.longitude !== null;
                else na
              "
            >
              {{ deployment.location.latitude | number: '0.2' }}
              {{ deployment.location.latitude > 0 ? 'N' : 'S' }},
              {{ deployment.location.longitude | number: '0.2' }}
              {{ deployment.location.longitude > 0 ? 'E' : 'W' }}
            </ng-container>
            <ng-template #na>N/A</ng-template>
          </trapper-ui-details-card-item>

          <trapper-ui-details-card-item [label]="t('data.date')">
            {{ deployment.start_date | date: 'yyyy-MM-dd' }} -
            {{ deployment.end_date | date: 'yyyy-MM-dd' }}
          </trapper-ui-details-card-item>

          <trapper-ui-details-card-item [label]="t('data.deploymentOwner')">
            <trapper-ui-user-profile-link
              [avatarUrl]="deployment.owner.avatar"
              [name]="deployment.owner.name"
              (click)="viewProfile(deployment.owner.id)"
            >
            </trapper-ui-user-profile-link>
          </trapper-ui-details-card-item>

          <trapper-ui-details-card-item [label]="t('data.baitType')">
            <ng-container *ngIf="baitType$ | async as baitType">
              {{ baitType.name }}
            </ng-container>
          </trapper-ui-details-card-item>

          <trapper-ui-details-card-item [label]="t('data.species')">
            <div class="species-list">
              <trapper-ui-badge
                *ngFor="let species of deployment.species"
                color="var(--trapper-color-secondary)"
                [matTooltip]="species.latin_name"
                >{{ species.english_name }}
                <span *ngIf="species.total > 1">({{ species.total }}x)</span>
              </trapper-ui-badge>
              <span *ngIf="deployment.species.length === 0">-</span>
            </div>
          </trapper-ui-details-card-item>

          <h3 *ngIf="deployment.have_additional_fields">
            {{ t('additionalFieldsHeader') }}
          </h3>

          <!-- camera ID -->
          <trapper-ui-details-card-item [label]="t('data.cameraId')">
            <ng-container
              *ngIf="
                deployment.camera_id && deployment.camera_id !== '';
                else additionalFieldPlaceholder
              "
              >{{ deployment.camera_id }}</ng-container
            >
          </trapper-ui-details-card-item>

          <!-- camera model -->
          <trapper-ui-details-card-item [label]="t('data.cameraModel')">
            <ng-container
              *ngIf="
                deployment.camera_model && deployment.camera_model !== '';
                else additionalFieldPlaceholder
              "
              >{{ deployment.camera_model }}</ng-container
            >
          </trapper-ui-details-card-item>

          <!-- camera interval -->
          <trapper-ui-details-card-item [label]="t('data.cameraInterval')">
            <ng-container
              *ngIf="
                deployment.camera_interval !== null;
                else additionalFieldPlaceholder
              "
              >{{ deployment.camera_interval }}</ng-container
            >
          </trapper-ui-details-card-item>

          <!-- camera height -->
          <trapper-ui-details-card-item [label]="t('data.cameraHeight')">
            <ng-container
              *ngIf="
                deployment.camera_height !== null;
                else additionalFieldPlaceholder
              "
              >{{ deployment.camera_height }}</ng-container
            >
          </trapper-ui-details-card-item>

          <!-- camera tilt -->
          <trapper-ui-details-card-item [label]="t('data.cameraTilt')">
            <ng-container
              *ngIf="
                deployment.camera_tilt !== null;
                else additionalFieldPlaceholder
              "
              >{{ deployment.camera_tilt }}</ng-container
            >
          </trapper-ui-details-card-item>

          <!-- camera heading -->
          <trapper-ui-details-card-item [label]="t('data.cameraHeading')">
            <ng-container
              *ngIf="
                deployment.camera_heading !== null;
                else additionalFieldPlaceholder
              "
              >{{ deployment.camera_heading }}</ng-container
            >
          </trapper-ui-details-card-item>

          <!-- detection distance -->
          <trapper-ui-details-card-item [label]="t('data.detectionDistance')">
            <ng-container
              *ngIf="
                deployment.detection_distance !== null;
                else additionalFieldPlaceholder
              "
              >{{ deployment.detection_distance }}</ng-container
            >
          </trapper-ui-details-card-item>

          <!-- feature -->
          <trapper-ui-details-card-item [label]="t('data.feature')">
            <ng-container
              *ngIf="
                deployment.feature_type && deployment.feature_type !== '';
                else additionalFieldPlaceholder
              "
              >{{ deployment.feature_type }}</ng-container
            >
          </trapper-ui-details-card-item>

          <!-- habitat -->
          <trapper-ui-details-card-item [label]="t('data.habitat')">
            <ng-container
              *ngIf="
                deployment.habitat && deployment.habitat !== '';
                else additionalFieldPlaceholder
              "
              >{{ deployment.habitat }}</ng-container
            >
          </trapper-ui-details-card-item>

          <!-- timestamp issue -->
          <div>
            <trapper-ui-simple-checkmark [value]="deployment.timestamp_issues">
              {{ t('data.timestampIssue') }}
            </trapper-ui-simple-checkmark>
          </div>

          <h3>
            {{ t('additionalInformationsHeader') }}
          </h3>
          <trapper-ui-details-card-item
            [label]="t('data.comments')"
            *ngIf="deployment.comments && deployment.comments !== ''"
          >
            {{ deployment.comments }}
          </trapper-ui-details-card-item>

          <div>
            <trapper-ui-simple-checkmark [value]="deployment.is_private">
              {{ t('data.markAsPrivate') }}
            </trapper-ui-simple-checkmark>
          </div>

          <!-- complete deployment -->
          <div>
            <trapper-ui-simple-checkmark [value]="deployment.is_incomplete">
              {{ t('data.markAsIncomplete') }}
            </trapper-ui-simple-checkmark>
          </div>
        </section>
      </div>
    </div>
    <trapper-frontend-deployment-preview-stats-section
      [deployment]="deployment"
    ></trapper-frontend-deployment-preview-stats-section>
  </div>
</ng-container>

<ng-template #additionalFieldPlaceholder> - </ng-template>

<ng-template #loading>
  <div class="content">
    <ngx-skeleton-loader
      animation="pulse"
      [count]="1"
      [theme]="{
        backgroundColor: 'var(--trapper-color-skeleton-loader-background)'
      }"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader
      count="2"
      animation="pulse"
      [theme]="{
        backgroundColor: 'var(--trapper-color-skeleton-loader-background)',
        height: '120px'
      }"
    ></ngx-skeleton-loader>

    <ngx-skeleton-loader
      count="1"
      animation="pulse"
      [theme]="{
        backgroundColor: 'var(--trapper-color-skeleton-loader-background)',
        height: '240px'
      }"
    ></ngx-skeleton-loader>
  </div>
</ng-template>
