.content {
  padding-inline: 48px;
  display: flex;
  gap: 24px;
  flex-direction: column;
}

section.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
}

.actions {
  font-size: 34px;
  button,
  a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: transparent;
    cursor: pointer;
    color: var(--trapper-color-text-default);
    font-size: inherit;
  }
  mat-icon {
    font-size: 1em;
    width: 1em;
    height: 1em;
    line-height: 1em;
  }
}

.main-content {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 24px;

  .main-content-left {
    min-width: 300px;
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .main-content-right {
    min-width: 300px;
    // max-width: 400px;
    flex: 1;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
section.no-thumbnails {
  width: 100%;
  aspect-ratio: (3 / 2) * (4/3);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--trapper-color-placeholder-background);
  flex-direction: column;
  gap: 16px;

  .progress-bar-wrapper {
    width: 100%;
    padding-inline: 48px;
  }

  .no-thumbnails-text {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
  .in-progress-icon {
    font-size: 1em;
    width: 1em;
    height: 1em;
    animation: spin 2s linear infinite;
  }
}

section.thumbnails {
  --thumbnails-max-columns: 3;
  --thumbnails-layout-gap: 16px;
  --thumbnails-min-width: 120px;
  --thumbnails-column-gap-count: calc(var(--thumbnails-max-columns) - 1);
  --thumbnails-total-gap-width: calc(
    var(--thumbnails-layout-gap) * var(--thumbnails-column-gap-count)
  );
  --thumbnails-max-width: calc(
    (100% - var(--thumbnails-total-gap-width)) / var(--thumbnails-max-columns)
  );
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(max(var(--thumbnails-min-width), var(--thumbnails-max-width)), 1fr)
  );
  gap: 16px;
  .thumbnail {
    width: 100%;
    aspect-ratio: 4/3;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .thumbnail-overlay {
      cursor: pointer;
      background: rgba(0, 0, 0, 0.5);
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 8px;
      align-items: center;
      justify-content: center;
      color: var(--trapper-color-thumbnail-overlay-text);
      font-weight: 400;
      font-size: 24px;
      .thumbnail-overlay-text-small {
        font-size: 12px;
      }
    }
  }
}

section.details {
  box-shadow: 0px 8px 16px rgba(46, 46, 46, 0.16);
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 100%;

  padding: 24px 40px;

  h3:not(:first-child) {
    margin-top: 16px;
  }
}

section.deployment-map,
section.deployment-map-placeholder {
  flex: 1;
  width: 100%;
  aspect-ratio: 4/3;
}

section.deployment-map-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--trapper-color-placeholder-background);
  gap: 16px;

  mat-icon {
    font-size: 48px;
    width: 1em;
    height: 1em;
    line-height: 1em;
  }
}

.species-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
