.project-card {
  width: 242px;
  height: 173px;
  border-radius: 4px;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 12px;

  background-size: cover;
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-position: center;

  transition: background-color 300ms ease-in-out;

  background-color: rgba(0, 0, 0, 0.3);

  &:hover {
    background-color: rgba(0, 0, 0, 0.6);
  }

  position: relative;
  .description-box {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    pointer-events: none;
    background-color: var(--trapper-color-card-background);
    border: 1px solid var(--trapper-color-text-default);
    color: var(--trapper-color-text-default);
    padding: 18px;
    border-radius: 4px;
    overflow: hidden;
    opacity: 0;
    transition: opacity 200ms linear;
    &.displayed {
      opacity: 1;
    }

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    .description-text {
      flex: 1;
    }

    .close-icon {
      pointer-events: auto;
      align-self: flex-end;
    }
  }
}

.project-name {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;

  color: var(--trapper-color-text-contrast);
}

.project-card-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.project-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  flex: 1;
  max-height: 48px + 4px + 2px;
  overflow: hidden;
  align-items: flex-end;
  padding-bottom: 0px;
}

mat-icon {
  font-size: 24px;
  width: 1em;
  height: 1em;
  line-height: 1em;
  z-index: 2;

  &.info-icon {
    color: var(--trapper-color-text-contrast);
  }

  &.close-icon {
    color: var(--trapper-color-text-default);
  }
}
