<a
  *ngIf="project"
  [style.background-image]="'url(' + project.image_background + ')'"
  class="project-card"
  [routerLink]="[project.slug]"
  (mouseenter)="tagsDisplayed = true"
  (mouseleave)="tagsDisplayed = false"
  [attr.aria-label]="project.name"
>
  <div class="description-box" [class.displayed]="descriptionDisplayed">
    <mat-icon
      class="close-icon"
      fontIcon="clear"
      (click)="
        descriptionDisplayed = false;
        $event.preventDefault();
        $event.stopPropagation()
      "
    ></mat-icon>
    <div class="description-text" ellipsis>
      {{ project.description }}
    </div>
  </div>
  <span class="project-name" ellipsis>{{ project.name }}</span>
  <div class="project-card-footer">
    <span class="project-tags">
      <ng-container *ngIf="tagsDisplayed">
        <trapper-ui-badge
          *ngFor="let tag of tag$(project.tags) | async"
          [color]="tag.color"
          >{{ tag.tag }}</trapper-ui-badge
        >
      </ng-container>
    </span>
    <mat-icon
      fontIcon="info_outline"
      class="info-icon"
      *ngIf="project.description"
      (click)="
        descriptionDisplayed = true;
        $event.preventDefault();
        $event.stopPropagation()
      "
    ></mat-icon>
  </div>
</a>
