<label *ngIf="label" [class.disabled]="disabled"
  >{{ label }}<span class="is-required" *ngIf="isRequired">*</span></label
>
<div class="input-wrapper">
  @if (!multiline) {
    <input
      [type]="finalType"
      (blur)="onTouched()"
      [ngModel]="value"
      (ngModelChange)="onChange($event)"
      [class.has-errors]="hasErrors"
      [class.has-help-text]="helpText"
      [placeholder]="placeholder || ''"
      [disabled]="disabled"
      [min]="min"
      [max]="max"
      [step]="step"
      [attr.data-testid]="testId"
    />
  } @else {
    <textarea
      (blur)="onTouched()"
      [ngModel]="value"
      (ngModelChange)="onChange($event)"
      [rows]="5"
      [class.has-errors]="hasErrors"
      [class.has-help-text]="helpText"
      [placeholder]="placeholder || ''"
      [disabled]="disabled"
      [attr.data-testid]="testId"
    ></textarea>
  }
  @if (type === 'password') {
    <i class="password-toggle" (click)="togglePasswordVisibility()">
      @if (passwordVisible) {
        <ng-icon name="bootstrapEyeSlash" size="18"></ng-icon>
      } @else {
        <ng-icon name="bootstrapEye" size="18"></ng-icon>
      }
    </i>
  }
</div>
<div
  class="additional-info-wrapper"
  *ngIf="helpText || (errors && errors.length > 0)"
>
  <span @inOutAnimation *ngFor="let error of errors" class="field-error">{{
    error
  }}</span>
  <span class="help-text" *ngIf="helpText">{{ helpText }}</span>
</div>
