:host {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  font-size: 14px;
}

label {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  color: var(--trapper-color-input-text);
  &.disabled {
    color: var(--trapper-color-disabled);
  }
}

input,
textarea {
  padding: 16px;
  font-size: 1em;
  line-height: 1em;

  border: 1px solid var(--trapper-color-input-border);
  outline-color: var(--trapper-color-outline);

  border-radius: 4px;
  flex-grow: 1;
  width: 100%;
  resize: none;

  transition: border-color 200ms;

  &.has-errors {
    border-color: var(--trapper-color-danger);
    margin-bottom: 0;
  }
  &.has-help-text {
    margin-bottom: 0;
  }
  &:disabled {
    border-color: var(--trapper-color-disabled);
  }
}

input {
  height: var(--trapper-text-input-height, 48px);
}

.is-required {
  color: var(--trapper-color-required);
}

.help-icon {
  margin: -30px;
  line-height: 17px;
  font-size: 17px;
  width: 17px;
  height: 17px;
  vertical-align: middle;
  pointer-events: none;
}

ng-icon {
  color: var(--trapper-color-text-input-icon);
}

.password-toggle {
  margin: -30px;
  line-height: 14px;
  vertical-align: middle;
  cursor: pointer;
}

.input-wrapper {
  //   padding-right: 32px;
  width: 100%;
}

span.field-error {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: var(--trapper-color-danger);
}
div.additional-info-wrapper {
  margin-top: -8px;
  margin-bottom: -14px;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  flex-direction: column;
}

.help-text {
  color: var(--trapper-color-help-text);
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  // margin-top: -8px;
}

::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: var(--trapper-form-placeholder-font-size);
  line-height: 16px;

  color: var(--trapper-color-form-placeholder);

  vertical-align: middle;
}
