<ng-container *transloco="let t; read: 'csProjects.dashboard'">
  <h1>
    {{ t('dashboardTitle') }}
  </h1>
  <h3>{{ t('dashboardSubTitle') }}</h3>

  <div class="dashboard-messages">
    <h2>
      {{ t('messages') }}
    </h2>
    <div class="dashboard-messages-list">
      <div
        class="dashboard-message trapper-common-card-shadow"
        *ngFor="let message of messages$ | async"
      >
        <div class="dashboard-message-header">
          <span class="dashboard-message-title">{{ message.subject }}</span>
          <span class="dashboard-message-date">
            {{ message.date_sent | date: 'yyyy-MM-dd HH:mm:ss' }}
          </span>
        </div>
        <div class="dashboard-message-body">
          <p [innerHTML]="message.text"></p>
          <div class="mark-as-received">
            <button
              [matTooltip]="t('markAsReceived')"
              (click)="markAsReceived(message.pk)"
            >
              <mat-icon fontIcon="check_circle_outlined"></mat-icon>
            </button>
          </div>
        </div>
      </div>
      <div
        class="dashboard-message-no-messages"
        *ngIf="!(messages$ | async)?.length"
      >
        {{ t('noMessages') }}
      </div>
      <trapper-ui-paginator
        [simple]="true"
        [filtered]="(pagination$ | async)?.count"
        [total]="(pagination$ | async)?.total"
        [currentPage]="(pagination$ | async)?.page"
        [totalPages]="(pagination$ | async)?.pages"
        (pageChange)="pageChanged($event)"
      ></trapper-ui-paginator>
    </div>
  </div>

  <div class="dashboard">
    <h2>{{ projectName$ | async }}</h2>
    <ng-container
      *ngIf="dashboardService.data$ | async as dashboard; else dashboardLoading"
    >
      <div class="project-dates">
        <span *ngIf="dashboard.start_date">
          {{ t('projectStartDate') }}:
          {{ dashboard.start_date | date: 'mediumDate' }}
        </span>
        <span *ngIf="dashboard.joined_date">
          {{ t('joinedDate') }}:
          {{ dashboard.joined_date | date: 'mediumDate' }}
        </span>
      </div>

      <div class="trapper-common-card-shadow stats-card">
        <h3>
          {{ t('projectStatistics') }}
        </h3>
        <div class="dashboard-stats" *ngIf="dashboard.project_statistics as d">
          <dl>
            <dt>
              {{ t('activeUsers') }}
            </dt>
            <dd>{{ d.active_users !== null ? d.active_users : '-' }}</dd>
          </dl>
          <dl>
            <dt>
              {{ t('locations') }}
            </dt>
            <dd>{{ d.locations !== null ? d.locations : '-' }}</dd>
          </dl>
          <dl>
            <dt>
              {{ t('deployments') }}
            </dt>
            <dd>{{ d.deployments !== null ? d.deployments : '-' }}</dd>
          </dl>
          <dl>
            <dt>
              {{ t('images') }}
            </dt>
            <dd>{{ d.images !== null ? d.images : '-' }}</dd>
          </dl>
          <dl>
            <dt>
              {{ t('recordings') }}
            </dt>
            <dd>{{ d.recordings !== null ? d.recordings : '-' }}</dd>
          </dl>
          <dl>
            <dt>
              {{ t('cameraTrapDays') }}
            </dt>
            <dd>
              {{ d.camera_trap_days !== null ? d.camera_trap_days : '-' }}
            </dd>
          </dl>
        </div>
        <div class="dashboard-plots" *ngIf="plotProjectTotal$ | async as total">
          <div class="plot-wrapper">
            <ngx-charts-bar-horizontal-2d
              [results]="barChartData$ | async"
              [xAxis]="false"
              [yAxis]="true"
              [legend]="false"
              [showGridLines]="false"
              [showXAxisLabel]="true"
              [showXAxisLabel]="false"
              [showYAxisLabel]="true"
              [yAxisLabel]="t('speciesChartLabel')"
              [animations]="true"
              [scheme]="colorScheme"
            >
            </ngx-charts-bar-horizontal-2d>
          </div>
          <div class="plot-wrapper">
            <ngx-charts-pie-chart
              [results]="pieChartData$ | async"
              [legend]="false"
              [animations]="true"
              [scheme]="colorScheme"
            >
            </ngx-charts-pie-chart>
          </div>
        </div>
      </div>
      <div class="trapper-common-card-shadow stats-card">
        <h3>
          {{ t('myStatistics') }}
        </h3>
        <div class="dashboard-stats" *ngIf="dashboard.own_statistics as d">
          <dl></dl>
          <dl>
            <dt>
              {{ t('locations') }}
            </dt>
            <dd>{{ d.locations !== null ? d.locations : '-' }}</dd>
          </dl>
          <dl>
            <dt>
              {{ t('deployments') }}
            </dt>
            <dd>{{ d.deployments !== null ? d.deployments : '-' }}</dd>
          </dl>
          <dl>
            <dt>
              {{ t('images') }}
            </dt>
            <dd>{{ d.images !== null ? d.images : '-' }}</dd>
          </dl>
          <dl>
            <dt>
              {{ t('recordings') }}
            </dt>
            <dd>{{ d.recordings !== null ? d.recordings : '-' }}</dd>
          </dl>
          <dl>
            <dt>
              {{ t('cameraTrapDays') }}
            </dt>
            <dd>
              {{ d.camera_trap_days !== null ? d.camera_trap_days : '-' }}
            </dd>
          </dl>
        </div>
        <div class="dashboard-plots" *ngIf="plotOwnTotal$ | async as total">
          <div class="plot-wrapper">
            <ngx-charts-bar-horizontal-2d
              [results]="barChartOwnData$ | async"
              [xAxis]="false"
              [yAxis]="true"
              [legend]="false"
              [showGridLines]="false"
              [showXAxisLabel]="false"
              [showYAxisLabel]="true"
              [yAxisLabel]="t('speciesChartLabel')"
              [animations]="true"
              [scheme]="colorScheme"
            >
            </ngx-charts-bar-horizontal-2d>
          </div>
          <div class="plot-wrapper">
            <ngx-charts-pie-chart
              [results]="pieChartOwnData$ | async"
              [legend]="false"
              [animations]="true"
              [scheme]="colorScheme"
            >
            </ngx-charts-pie-chart>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</ng-container>

<ng-template #dashboardLoading>
  <div style="max-width: 100px">
    <ngx-skeleton-loader
      count="1"
      animation="pulse"
      [theme]="{
        backgroundColor: 'var(--trapper-color-skeleton-loader-background)'
      }"
    ></ngx-skeleton-loader>
  </div>
  <div>
    <ngx-skeleton-loader
      count="2"
      animation="pulse"
      [theme]="{
        backgroundColor: 'var(--trapper-color-skeleton-loader-background)',
        height: '120px'
      }"
    ></ngx-skeleton-loader>
  </div>
</ng-template>
