:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 40px;
  padding-right: 40px;
  gap: 8px;
}

.dashboard {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.project-dates {
  font-size: 16px;
  display: flex;
  gap: 16px;
}

.stats-card {
  padding: 26px 20px 60px 20px;
  gap: 16px;
  display: flex;
  flex-direction: column;

  .dashboard-stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 16px;
  }

  dl {
    min-width: 150px;
    display: flex;
    flex-direction: column;
    gap: 4px;

    dt {
      font-size: 16px;
      font-weight: 700;
      color: var(--trapper-color-text-default);
    }
  }
}

.dashboard-plots {
  margin-top: 48px;
  display: flex;
  flex-direction: row;
  gap: 24px;
  flex-wrap: wrap;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.dashboard-messages {
  margin-top: 20px;
  width: 100%;

  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .dashboard-messages-list {
    display: flex;
    flex-direction: column;
  }

  .dashboard-message {
    border-radius: 5px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 20px;
    width: 100%;

    .dashboard-message-header {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
      justify-content: space-between;
      margin-bottom: 10px;

      .dashboard-message-title {
        font-size: 18px;
        font-weight: bold;
      }

      .dashboard-message-date {
        font-size: 14px;
      }
    }

    .dashboard-message-body {
      font-size: 16px;
      line-height: 1.5;
      margin-top: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      p {
        margin: 0;
      }
      .mark-as-received button {
        background-color: transparent;
        border: none;
        border-radius: 5px;
        color: var(--trapper-color-text-default);
        cursor: pointer;
        font-size: 16px;
        padding: 10px;
        transition: background-color 0.3s ease;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          background-color: var(--trapper-color-icon-button-hover);
        }
      }
    }
  }

  .dashboard-message-no-messages {
    padding: 20px;
    width: 100%;
    color: var(--trapper-color-no-items);
  }
}

.plot-wrapper {
  min-height: 300px;
  flex-grow: 0.5;
}
