svg {
  color: var(--trapper-color-text-default);

  .trapper-color-primary {
    fill: var(--trapper-color-primary);
  }

  .trapper-color-secondary {
    fill: var(--trapper-color-secondary);
  }
}
