:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  &.full-width {
    width: 100%;
  }
  pointer-events: none;
}
button {
  pointer-events: auto;
  border-radius: 4px;
  padding: 14px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

  cursor: pointer;

  border: none;
  transition:
    width 0.2s ease-in-out,
    max-width 0.2s ease-in-out;

  &.full-width {
    width: 100%;
  }
}

.trapper-ui-button- {
  &primary {
    background: var(--trapper-color-primary);
    color: var(--trapper-color-primary-contrast);
  }

  &secondary {
    background: var(--trapper-color-secondary);
    color: var(--trapper-color-secondary-contrast);
  }

  &danger {
    background: var(--trapper-color-error);
    color: var(--trapper-color-error-contrast);
  }

  &outline {
    background: transparent;
    color: var(--trapper-color-outline);
    border: 1px solid var(--trapper-color-outline);
  }

  &outline-primary {
    background: transparent;
    color: var(--trapper-color-primary);
    border: 1px solid var(--trapper-color-primary);
  }

  &outline-secondary {
    background: transparent;
    color: var(--trapper-color-secondary);
    border: 1px solid var(--trapper-color-secondary);
  }

  &outline-danger {
    background: transparent;
    color: var(--trapper-color-error);
    border: 1px solid var(--trapper-color-error);
  }

  &no-outline-link {
    background: transparent;
    color: var(--trapper-color-error);

    &:disabled {
      color: var(--trapper-color-disabled);
      background: transparent;
    }
  }
}

button:disabled {
  color: var(--trapper-color-disabled);
  background: var(--trapper-color-disabled-contrast);
  pointer-events: none;
}

.in-progress {
  pointer-events: none;
}
