<button
  [class]="'trapper-ui-button-' + variant"
  (click)="$event.preventDefault()"
  [class.in-progress]="inProgress"
  [disabled]="disabled"
  [class.full-width]="fullWidth"
  [attr.data-testid]="testId"
>
  <ng-content *ngIf="!inProgress"></ng-content>
  <trapper-ui-spinner *ngIf="inProgress"></trapper-ui-spinner>
</button>
