.tool-button {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 100%;
  color: var(--trapper-color-icon-button);
  transition:
    background-color 0.2s,
    color 0.2s;

  &:hover {
    background-color: var(--trapper-color-muted-4);
  }

  &.active {
    color: var(--trapper-color-muted-3);
    background-color: var(--trapper-color-icon-button);
  }
}

:host {
  display: flex;
  justify-content: center;
  align-items: center;
}
