span.hint {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: var(--trapper-color-help-text);
}
div.hint-wrapper {
  margin-top: -8px;
  margin-bottom: -14px;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  flex-direction: column;
}

div.control-has-errors {
  margin-bottom: 0px;
}
