.icon-button {
  color: var(--trapper-color-icon-button);
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  padding: 0;
  border: none;
  mat-icon {
    width: 24px;
    height: 24px;
    font-size: 24px;
    display: inline-block;
  }
}
