.preview {
  width: 213px;
  height: 213px;
  border-radius: 50%;
  cursor: pointer;
}

.upload-placeholder {
  width: 213px;
  height: 213px;
  border-radius: 50%;
  font-size: 213px;
  cursor: pointer;
}
.upload-change-file {
  width: 1em;
  height: 1em;
  border-radius: 50%;
  font-size: 32px;
  cursor: pointer;
}

.clear-avatar {
  cursor: pointer;
  position: absolute;
  right: 80px;
  top: 0;
  border: none;
  background: transparent;
  color: var(--trapper-color-text-default);
}

form {
  position: relative;
}

a {
  color: var(--trapper-color-text-contrast);
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 16px;
}

span.field-error {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: var(--trapper-color-error);
}
div.errors-wrapper {
  font-size: 14px;
  line-height: 14px;
  display: flex;
  flex-direction: column;
}
.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
