<trapper-ui-card *transloco="let t; read: 'csProfile.avatarChangeDialog'">
  <h1>
    {{ t('title') }}
  </h1>
  <form trapperUiFormColumn [formGroup]="formGroup">
    <button
      class="clear-avatar"
      (click)="clearAvatar()"
      *ngIf="!croppedImage && (currentAvatar$ | async) !== null"
    >
      <mat-icon fontIcon="delete"></mat-icon>
    </button>

    <image-cropper
      [imageChangedEvent]="imageChangedEvent"
      [maintainAspectRatio]="true"
      [aspectRatio]="1"
      format="jpeg"
      (imageCropped)="imageCropped($event)"
      output="base64"
      *ngIf="imageChangedEvent"
    ></image-cropper>
    <label tabindex="0">
      <img
        [src]="(currentAvatar$ | async) || 'assets/images/default-avatar.svg'"
        class="preview"
        *ngIf="!croppedImage && (currentAvatar$ | async) !== null"
      />

      <mat-icon
        fontIcon="upload_file"
        class="upload-placeholder"
        *ngIf="!croppedImage && (currentAvatar$ | async) === null"
      ></mat-icon>
      <input
        type="file"
        accept="image/*"
        (change)="selectFile($event)"
        formControlName="avatar"
        [style.display]="'none'"
      />
      <div
        class="errors-wrapper"
        *ngIf="avatarFormErrors$ | async as serverErrors"
      >
        <span
          @inOutAnimation
          *ngFor="let error of serverErrors"
          class="field-error"
          >{{ error }}</span
        >
      </div>
      <div class="centered">
        <mat-icon
          fontIcon="upload_file"
          class="upload-change-file"
          *ngIf="croppedImage"
        ></mat-icon>
      </div>
    </label>
    <div class="buttons">
      <trapper-ui-button variant="secondary" (click)="cancel()">
        {{ t('cancel') }}
      </trapper-ui-button>
      <trapper-ui-button
        (click)="changeAvatar()"
        [disabled]="!croppedImage"
        [inProgress]="(inProgress$ | async) === true"
      >
        {{ t('change') }}
      </trapper-ui-button>
    </div>
  </form>
</trapper-ui-card>
