<trapper-ui-card *transloco="let t; read: 'csProjects.requestNewSpeciesModal'">
  <h1 class="trapper-common-text-center">{{ t('header') }}</h1>
  <p [innerHTML]="t('message')"></p>

  <form class="form-container" [formGroup]="formGroup">
    <trapper-ui-form-field>
      <trapper-ui-label [isRequired]="true">
        {{ t('newSpecies') }}
      </trapper-ui-label>
      <trapper-ui-text-input formControlName="species"></trapper-ui-text-input>
      <trapper-ui-server-errors
        formControlName="species"
      ></trapper-ui-server-errors>
    </trapper-ui-form-field>
    <trapper-ui-form-field>
      <trapper-ui-label [isRequired]="true">
        {{ t('comment') }}
      </trapper-ui-label>
      <trapper-ui-text-input
        formControlName="comment"
        [multiline]="true"
      ></trapper-ui-text-input>
      <trapper-ui-server-errors
        formControlName="comment"
      ></trapper-ui-server-errors>
    </trapper-ui-form-field>
  </form>

  <div class="buttons-container">
    <trapper-ui-button
      (click)="ok()"
      variant="primary"
      [disabled]="(inProgress$ | async) || false"
      [inProgress]="(inProgress$ | async) || false"
    >
      {{ t('ok') }}
    </trapper-ui-button>
    <trapper-ui-button
      (click)="cancel()"
      variant="no-outline-link"
      [disabled]="(inProgress$ | async) || false"
    >
      {{ t('cancel') }}
    </trapper-ui-button>
  </div>
</trapper-ui-card>
