:host {
  max-height: 90vh;
  display: block;
  overflow: hidden;
  overflow-y: auto;
}

p,
trapper-ui-simple-message {
  text-align: center;

  @media (min-width: 512px) {
    margin-inline: 64px;
  }
}

.buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  width: 100%;
}

trapper-ui-button {
  max-width: 328px;
}

trapper-ui-form-field {
  width: 100%;
}

.form-container {
  padding-inline: 24px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
