<ng-container *transloco="let t; read: 'csProjects.deploymentListingMap'">
  @if (markers$ | async; as markers) {
    <div class="map-container">
      <trapper-ui-map
        [markers]="markers$ | async"
        (markerClicked)="onMarkerClicked($event)"
      ></trapper-ui-map>
    </div>
  } @else {
    <div class="spinner-container">
      <trapper-ui-spinner color="primary"></trapper-ui-spinner>
    </div>
  }

  <div
    class="details-panel"
    *ngIf="selectedLocation$ | async as selectedLocation"
  >
    <h1>{{ t('detailsHeader') }}:</h1>
    <trapper-ui-details-card-item [label]="t('locationName')">
      {{ selectedLocation.name }}
    </trapper-ui-details-card-item>

    <trapper-ui-details-card-item [label]="t('coordinates')">
      <ng-container
        *ngIf="
          selectedLocation.latitude !== null &&
          selectedLocation.longitude !== null
        "
      >
        {{ selectedLocation.latitudeAbs | number: '0.2' }}
        {{ selectedLocation.latitude > 0 ? 'N' : 'S' }},
        {{ selectedLocation.longitudeAbs | number: '0.2' }}
        {{ selectedLocation.longitude > 0 ? 'E' : 'W' }}
      </ng-container>
    </trapper-ui-details-card-item>

    <trapper-ui-details-card-item [label]="t('deploymentsInThisLocation')">
      {{ selectedLocation.deployments_count }}
    </trapper-ui-details-card-item>

    <a (click)="onViewDeploymentsClicked(selectedLocation)">
      {{ t('viewDeployments') }}
    </a>
    <a (click)="onViewResourcesClicked(selectedLocation)">
      {{ t('viewResources') }}
    </a>
  </div>
</ng-container>
