.map-container {
  width: 100%;
  aspect-ratio: 16/5;
}

:host {
  position: relative;
  width: 100%;
}

.details-panel {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 2000;
  width: 321px;
  background: var(--trapper-color-card-background);
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 42px;
}
