<trapper-ui-card *transloco="let t; read: 'csProjects.teamMembershipDelete'">
  <h1 class="trapper-common-text-center">{{ t('header') }}</h1>
  <p [innerHTML]="t('message', { teamName, userName })"></p>

  <div class="buttons-container">
    <trapper-ui-button
      (click)="ok()"
      variant="danger"
      [inProgress]="(inProgress | async) || false"
    >
      {{ t('ok') }}
    </trapper-ui-button>
    <trapper-ui-button
      (click)="cancel()"
      variant="no-outline-link"
      [disabled]="(inProgress | async) || false"
    >
      {{ t('cancel') }}
    </trapper-ui-button>
  </div>
</trapper-ui-card>
