p,
trapper-ui-simple-message {
  text-align: center;

  @media (min-width: 512px) {
    margin-inline: 64px;
  }
}

:host ::ng-deep {
  b {
    font-weight: 700;
  }
}

.buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  width: 100%;
}

trapper-ui-button {
  max-width: 328px;
}
