:host {
  //   width: 100%;
  position: relative;
  // z-index: 1;
  font-size: 14px;
}

label {
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;

  color: var(--trapper-color-input-text);
  position: absolute;
  left: 8px;
  top: -8px;
  z-index: 1049;
  background-color: white;
  padding-left: 8px;
  padding-right: 8px;
}
.select-box-input-search-wrapper {
  // border-bottom: 1px solid $ng-select-border;
  padding: 5px 7px;
  .select-box-input-search {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    line-height: 1em;

    border: 1px solid var(--trapper-color-input-border);
    outline-color: var(--trapper-color-outline);
  }
}

:host ::ng-deep {
  .has-errors.ng-select .ng-select-container {
    border: 1px solid var(--trapper-color-danger);
    outline-color: var(--trapper-color-outline);
  }
}
