<label *ngIf="label"> {{ label }}</label>
<ng-select
  [placeholder]="placeholder"
  [items]="items || null"
  bindLabel="name"
  bindValue="id"
  [(ngModel)]="value"
  [virtualScroll]="true"
  loadingText="Loading..."
  [loading]="loading || items === undefined"
  dropdownPosition="bottom"
  [searchable]="false"
  #select
  (open)="focus()"
  [disabled]="disabled"
  [class.select-highlighted]="markNonEmpty && value && value.length > 0"
  (scroll)="scrolled.emit($event)"
  (scrollToEnd)="scrolled.emit(null)"
  [typeahead]="query$"
  [clearable]="clearable"
  [class.has-errors]="hasErrors"
  [typeahead]="typeahead$!"
  [attr.data-testid]="testId"
  [multiple]="multiple"
>
  <ng-template ng-header-tmp>
    <div class="select-box-input-search-wrapper">
      <input
        class="select-box-input-search"
        type="text"
        (input)="onInput($event)"
        [placeholder]="searchPlaceholder"
        #input
        *ngIf="searchable"
      />
    </div>
  </ng-template>
  <ng-container *ngIf="customOptionTemplate">
    <ng-template
      ng-option-tmp
      let-item="item"
      let-index="index"
      let-search="searchTerm"
    >
      <ng-container
        *ngTemplateOutlet="
          customOptionTemplate;
          context: { item: item, index: index, searchTerm: search }
        "
      ></ng-container>
    </ng-template>
  </ng-container>
  <ng-container *ngIf="customLabelTemplate">
    <ng-template ng-label-tmp let-item="item">
      <ng-container
        *ngTemplateOutlet="customLabelTemplate; context: { item: item }"
      ></ng-container>
    </ng-template>
  </ng-container>
</ng-select>
