<form [formGroup]="formGroup" *transloco="let t; read: 'csAccounts'">
  <trapper-ui-card horizontalPadding="compact">
    <h1>
      {{ t('passwordReset.title') }}
    </h1>
    <trapper-ui-simple-message>
      {{ t('passwordReset.instructions') }}
    </trapper-ui-simple-message>
    <trapper-ui-form-column>
      <trapper-ui-text-input
        [label]="t('passwordReset.email')"
        type="email"
        formControlName="email"
        [errors]="passwordResetService.fieldError$('email') | async"
        [isRequired]="true"
      ></trapper-ui-text-input>
      <trapper-ui-button
        (click)="requestPasswordReset()"
        [inProgress]="(passwordResetService.inProgress$ | async) === true"
      >
        {{ t('passwordReset.submit') }}
      </trapper-ui-button>
    </trapper-ui-form-column>
  </trapper-ui-card>
</form>
