<div class="profile-card" *transloco="let t; read: 'csProfilePreview'">
  <div
    class="avatar-container"
    [style.background-image]="currentAvatar$ | async"
  >
    <div
      class="edit-container"
      [class.no-avatar]="(currentAvatar$ | async) === null"
    ></div>
  </div>
  <h1>
    <ng-container *ngIf="data$ | async as data; else loading">
      {{ data.first_name }} {{ data.last_name }}
    </ng-container>
  </h1>
  <button class="icon-button" (click)="close()">
    <mat-icon fontIcon="close"></mat-icon>
  </button>
  <div class="responsive-row">
    <div class="profile-col">
      <div class="profile-subsection">
        <h2>
          {{ t('general') }}
        </h2>

        <trapper-ui-details-card-item [label]="t('username')">
          <ng-container *ngIf="data$ | async as data; else loading">
            {{ data.username ? data.username : '-' }}
          </ng-container>
        </trapper-ui-details-card-item>
        <trapper-ui-details-card-item [label]="t('firstName')">
          <ng-container *ngIf="data$ | async as data; else loading">
            {{ data.first_name ? data.first_name : '-' }}
          </ng-container>
        </trapper-ui-details-card-item>
        <trapper-ui-details-card-item [label]="t('lastName')">
          <ng-container *ngIf="data$ | async as data; else loading">
            {{ data.last_name ? data.last_name : '-' }}
          </ng-container>
        </trapper-ui-details-card-item>
        <trapper-ui-details-card-item [label]="t('institution')">
          <ng-container *ngIf="data$ | async as data; else loading">
            {{ data.institution ? data.institution : '-' }}
          </ng-container>
        </trapper-ui-details-card-item>
        <trapper-ui-details-card-item [label]="t('aboutMe')">
          <ng-container *ngIf="data$ | async as data; else loading">
            {{ data.about_me ? data.about_me : '-' }}
          </ng-container>
        </trapper-ui-details-card-item>
      </div>
    </div>
    <div class="vertical-line"></div>
    <div class="profile-col">
      <div class="profile-subsection">
        <h2>
          {{ t('projects') }}
        </h2>
        <ng-container *ngIf="data$ | async as data; else loading">
          <span
            class="project-name"
            *ngFor="let projectName of data.classification_projects"
          >
            {{ projectName }}
          </span>
        </ng-container>
      </div>
    </div>
  </div>
</div>
<ng-template #loading>
  <ngx-skeleton-loader
    animation="pulse"
    count="1"
    [theme]="{
      backgroundColor: 'var(--trapper-color-skeleton-loader-background)'
    }"
  ></ngx-skeleton-loader>
</ng-template>
