:host {
  position: relative;
  width: 100%;
}
.profile-card {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--trapper-color-card-background);
  min-height: 300px;
  align-items: center;
}
.icon-button {
  color: var(--trapper-color-icon-button);
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 16px;
  right: 16px;
}

.avatar-container {
  --avatar-radius: 213px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: contain;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: var(--avatar-radius);
  height: var(--avatar-radius);

  background-color: var(--trapper-color-placeholder-background);
  border-radius: 50%;
  // background-blend-mode: darken;
  transition: background-color 200ms linear;
  flex-shrink: 0;

  @media (min-width: 1280px) {
    position: absolute;
    left: 161px;
    top: calc(-0.5 * var(--avatar-radius));
  }
}

h1 {
  color: var(--trapper-color-text-default);
  margin-top: 82px;
}

h2 {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 24px;
}

.vertical-line {
  width: 2px;
  height: 551px;
  background: var(--trapper-color-border-1);
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 2px;
  @media (max-width: 1279px) {
    display: none;
  }
}

.responsive-row {
  align-self: stretch;
  margin-top: 64px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: var(--standard-spacing-gap);
  @media (min-width: 1280px) {
    flex-direction: row;
    gap: 155px - 64px;
    padding: 40px 161px - 64px - 22px;
  }
  min-height: min-content;
}

.profile-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 100%;
}

.profile-subsection {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.project-name {
  color: var(--trapper-color-link);
}
