<trapper-ui-card
  horizontalPadding="compact"
  *transloco="let t; read: 'csAccounts'"
>
  <h1>
    {{ t('verifyLinkExpired.title') }}
  </h1>
  <trapper-ui-simple-message>
    {{ t('verifyLinkExpired.instructions') }}
    <br />
    {{ t('verifyLinkExpired.instructions2') }}
  </trapper-ui-simple-message>
  <trapper-ui-button (click)="resend()">
    {{ t('verifyLinkExpired.resend') }}
  </trapper-ui-button>
  <a routerLink="/cs/accounts/login">
    {{ t('verifyLinkExpired.login') }}
  </a>
</trapper-ui-card>
