.listing-header,
.listing-row {
  flex-direction: column;
  column-gap: 18px;
  row-gap: 8px;
  margin-bottom: 8px;
}

.listing-header {
  display: grid;
  padding: 4px;
}

.listing-row {
  display: flex;
  flex-direction: column;

  &.table-mode {
    display: grid;
    // padding-right: 24px;
    margin-inline: 24px;
  }

  .row-content {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .subrow-cell,
  .row-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    width: 100%;
    padding-block: 8px;
    padding-inline: 24px;
  }
}

.listing-header {
  font-weight: 700;
  font-size: 16px;
  line-height: 40px;
  color: var(--trapper-color-text-default);
  padding-top: 40px;
  // display: contents;
}

.listing-row {
  box-shadow: 0px 8px 16px rgba(46, 46, 46, 0.16);
  position: relative;
  padding: 4px;

  &.table-mode {
    height: 82px;
  }

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    ngx-skeleton-loader {
      width: 80%;
      height: 32px;
    }
  }

  &:hover {
    background: var(--trapper-color-listing-row-hover-background);
  }

  &.is-selected {
    background: var(--trapper-color-listing-row-selected-background);
    outline: 2px solid var(--trapper-color-listing-row-selected-outline);
  }
}

.listing-header-cell {
  text-align: center;
  line-height: 1em;
}

.no-items {
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 400;
  color: var(--trapper-color-no-items);
  box-shadow: 0px 8px 16px rgba(46, 46, 46, 0.16);

  &.table-mode {
    margin-inline: 24px;
  }
}

.label {
  font-weight: 700;
  font-size: 16px;
  line-height: 1em;
  color: var(--trapper-color-text-default);
  flex-shrink: 0;
}

.cell-content {
  text-align: end;
}

.listing-scroll-viewport {
  &.table-mode {
    margin-inline: -24px;
  }
  &.has-no-items {
    height: 90px;
  }
}

.clickable {
  cursor: pointer;
}

.listing-cards-container {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
}
