@if (tableMode) {
  <div
    class="listing-header"
    [style.grid-template-columns]="gridTemplateColumns"
  >
    @if (selectableRows) {
      <div class="listing-header-cell"></div>
    }
    @for (column of cellDefsArray; track cellTrackByFn) {
      <div class="listing-header-cell" [class]="column.className">
        {{ column.label }}
      </div>
    }
  </div>
}
<div
  class="listing-scroll-viewport"
  [class.listing-cards-container]="!tableMode"
  [class.table-mode]="tableMode"
>
  @for (item of _items; track trackByFn) {
    <div
      class="listing-row"
      [style.grid-template-columns]="gridTemplateColumns"
      [class.table-mode]="tableMode"
      [class.is-selected]="selectedItems.has(item.item)"
      (click)="onItemClicked(item.item)"
      [class.clickable]="clickableRows"
    >
      @if (tableMode) {
        @if (selectableRows) {
          <div class="listing-item-cell">
            <trapper-ui-checkbox
              [ngModel]="selectedItems.has(item.item)"
              (ngModelChange)="onCheckboxChange(item.item, $event)"
              [disabled]="!item.selectable"
              [matTooltip]="
                item.selectable ? '' : this.selectionDisabledTooltip
              "
            ></trapper-ui-checkbox>
          </div>
        }
        @for (
          cell of cellDefs;
          track cellTrackByFn;
          let first = $first;
          let last = $last
        ) {
          <div class="listing-item-cell" [class]="cell.className">
            @if (cell.elementRef) {
              <ng-container
                *ngTemplateOutlet="
                  cell.elementRef;
                  context: { item: item.item, column: cell }
                "
              ></ng-container>
            }
          </div>
        }
      } @else {
        @if (mainColumns.length > 0 || selectableRows) {
          <div class="row-header">
            @for (column of mainColumns; track cellTrackByFn) {
              <div>
                @if (column.elementRef) {
                  <ng-container
                    *ngTemplateOutlet="
                      column.elementRef;
                      context: { item: item.item, column: column }
                    "
                  ></ng-container>
                }
              </div>
            }
            <div>
              <trapper-ui-checkbox
                [ngModel]="selectedItems.has(item.item)"
                (ngModelChange)="onCheckboxChange(item.item, $event)"
                [disabled]="!item.selectable"
                [matTooltip]="
                  item.selectable ? '' : this.selectionDisabledTooltip
                "
              ></trapper-ui-checkbox>
            </div>
          </div>
        }

        <div class="row-content">
          @for (cell of cellDefs; track cellTrackByFn) {
            @if (cell.elementRef && !cell.mainCell) {
              <div class="subrow-cell">
                <span class="label">{{ cell.label }}</span>
                <span class="cell-content">
                  <ng-container
                    *ngTemplateOutlet="
                      cell.elementRef;
                      context: { item: item.item, column: cell }
                    "
                  ></ng-container>
                </span>
              </div>
            }
          }
        </div>
      }
    </div>
  }
  @if (isLoading) {
    @for (item of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]; track $index) {
      <div
        class="listing-row"
        [class.table-mode]="tableMode"
        [style.grid-template-columns]="gridTemplateColumns"
        [@inOutAnimation]
      >
        @for (col of cellDefs; track cellTrackByFn) {
          <div class="listing-item-cell">
            <ngx-skeleton-loader
              animation="pulse"
              [theme]="{
                backgroundColor:
                  'var(--trapper-color-skeleton-loader-background)',
                height: '100%'
              }"
            ></ngx-skeleton-loader>
          </div>
        }
      </div>
    }
  } @else if (_items.length === 0) {
    <div class="no-items" [class.table-mode]="tableMode">
      {{ noItemsMessage || noItemsMessageDefault }}
    </div>
  }
</div>
