.loader {
  width: 1em;
  height: 1em;
  border: 0.1em solid var(--trapper-color-text-contrast);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

:host {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
}

.spinner-color-primary {
  border-color: var(--trapper-color-primary);
  border-bottom-color: transparent;
}
