<trapper-frontend-project-workspace-sidebar
  *ngIf="profileData$ | async"
  @inOutAnimation
></trapper-frontend-project-workspace-sidebar>
<div
  class="workspace-area"
  @inOutAnimation
  *ngIf="profileData$ | async; else loading"
  [class.compact-mode]="compactMode"
>
  <router-outlet></router-outlet>
</div>

<ng-template #loading>
  <div class="trapper-cs__spinner__wrapper">
    <div class="trapper-cs__spinner__lds-ring">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</ng-template>
