:host {
  display: flex;

  width: 100%;
  min-width: 100vw;
  min-height: calc(
    100vh - var(--trapper-topbar-height) - var(--trapper-footer-height)
  );

  padding-bottom: var(--trapper-workspace-bottom-margin);

  @media (min-width: 1414px) {
    padding-top: 0;
    padding-bottom: 0;
  }

  &.compact-mode {
    padding: 0;
  }
}

.workspace-area {
  flex: 1;
  box-shadow: 0px 8px 16px rgba(46, 46, 46, 0.16);
  background-color: var(--trapper-color-workspace-background);

  padding-block: 24px;
  margin-top: var(--trapper-workspace-top-margin);

  @media (min-width: 1414px) {
    margin-right: min(200px, 5vw);
    margin-bottom: var(--trapper-workspace-bottom-margin);
  }

  &.compact-mode {
    margin: 0;
    padding: 0;
    height: calc(
      100vh - var(--trapper-topbar-height) - var(--trapper-footer-height)
    );
    overflow: hidden;
  }
}
