<ng-container *transloco="let t; read: 'csProjects.mediaListing'">
  <section class="listing-view-header">
    <h1>{{ t('title') }}</h1>
    <trapper-ui-text-input
      class="search-box"
      [placeholder]="t('search.placeholder')"
      fontIcon="search"
      [ngModel]="currentFilters$('search') | async"
      (ngModelChange)="filterChanged('search', $event)"
    ></trapper-ui-text-input>
  </section>
  <section class="media-filters">
    <h2>{{ t('filters.header') }}:</h2>

    <div class="filter-grid">
      <trapper-ui-form-field class="media-filter" [@inOutAnimation]>
        <trapper-ui-label [onBorder]="true">
          {{ t('filters.locationLabel') }}
        </trapper-ui-label>
        <trapper-ui-select-box-input
          [items]="locationChoices$ | async"
          [ngModel]="currentFilters$('locations_map') | async"
          (ngModelChange)="filterChanged('locations_map', $event)"
          [placeholder]="t('filters.locationPlaceholder')"
          [searchable]="true"
        ></trapper-ui-select-box-input>
      </trapper-ui-form-field>
      <trapper-ui-form-field class="media-filter">
        <trapper-ui-label [onBorder]="true">
          {{ t('filters.deploymentLabel') }}
        </trapper-ui-label>
        <trapper-ui-select-box-input
          [items]="deploymentChoices$ | async"
          [ngModel]="currentFilters$('deployment') | async"
          (ngModelChange)="filterChanged('deployment', $event)"
          [placeholder]="t('filters.deploymentPlaceholder')"
          [searchable]="true"
          [@inOutAnimation]
        ></trapper-ui-select-box-input>
      </trapper-ui-form-field>

      @for (
        mediaFilter of (classifierFiltersBasic$ | async) || [];
        track mediaFilter.name
      ) {
        <trapper-ui-form-field
          class="media-filter"
          [class.wide-filter]="mediaFilter.wide"
        >
          <trapper-ui-label [onBorder]="true">{{
            mediaFilter.label
          }}</trapper-ui-label>
          <trapper-ui-select-box-input
            [items]="mediaFilter.choices"
            [placeholder]="mediaFilter.placeholder"
            [ngModel]="currentFiltersMulti$(mediaFilter.name) | async"
            (ngModelChange)="filterChanged(mediaFilter.name, $event)"
            [searchable]="true"
            [multiple]="mediaFilter.is_multiselect"
          ></trapper-ui-select-box-input>
        </trapper-ui-form-field>
      }

      <!-- teams -->
      <trapper-ui-form-field class="media-filter">
        <trapper-ui-label [onBorder]="true">
          {{ t('filters.teamLabel') }}
        </trapper-ui-label>
        <trapper-ui-select-box-input
          [items]="teamChoices$ | async"
          [ngModel]="currentFilters$('by_team') | async"
          (ngModelChange)="filterChanged('by_team', $event)"
          [placeholder]="t('filters.teamPlaceholder')"
          [searchable]="true"
          [@inOutAnimation]
        ></trapper-ui-select-box-input>
      </trapper-ui-form-field>

      @if (showAdvancedFilters) {
        @for (
          mediaFilter of (classifierFiltersAdvanced$ | async) || [];
          track mediaFilter.name
        ) {
          <trapper-ui-form-field
            class="media-filter"
            [class.wide-filter]="mediaFilter.wide"
          >
            <trapper-ui-label [onBorder]="true">{{
              mediaFilter.label
            }}</trapper-ui-label>
            <trapper-ui-select-box-input
              [items]="mediaFilter.choices"
              [placeholder]="mediaFilter.placeholder"
              [ngModel]="currentFiltersMulti$(mediaFilter.name) | async"
              (ngModelChange)="filterChanged(mediaFilter.name, $event)"
              [searchable]="true"
              [multiple]="mediaFilter.is_multiselect"
            ></trapper-ui-select-box-input>
          </trapper-ui-form-field>
        }
        <!-- classified by me: yes, no -->
        <trapper-ui-form-field>
          <trapper-ui-label [onBorder]="true">
            {{ t('filters.classifiedByMeLabel') }}
          </trapper-ui-label>
          <trapper-ui-select-box-input
            [items]="[
              { id: '1', name: t('filters.classifiedByMeYes') },
              { id: '0', name: t('filters.classifiedByMeNo') }
            ]"
            [ngModel]="currentFilters$('is_classified_by_me') | async"
            (ngModelChange)="filterChanged('is_classified_by_me', $event)"
            [placeholder]="t('filters.classifiedByMePlaceholder')"
            [searchable]="true"
          ></trapper-ui-select-box-input>
        </trapper-ui-form-field>
        <!-- approved: yes/no -->
        <trapper-ui-form-field>
          <trapper-ui-label [onBorder]="true">
            {{ t('filters.approvedLabel') }}
          </trapper-ui-label>
          <trapper-ui-select-box-input
            [items]="[
              { id: '1', name: t('filters.approvedYes') },
              { id: '0', name: t('filters.approvedNo') }
            ]"
            [ngModel]="currentFilters$('is_approved') | async"
            (ngModelChange)="filterChanged('is_approved', $event)"
            [placeholder]="t('filters.approvedPlaceholder')"
            [searchable]="true"
          ></trapper-ui-select-box-input>
        </trapper-ui-form-field>
        <!-- has_feedback: yes/no -->
        <trapper-ui-form-field>
          <trapper-ui-label [onBorder]="true">
            {{ t('filters.hasFeedbackLabel') }}
          </trapper-ui-label>
          <trapper-ui-select-box-input
            [items]="[
              { id: '1', name: t('filters.hasFeedbackYes') },
              { id: '0', name: t('filters.hasFeedbackNo') }
            ]"
            [ngModel]="currentFilters$('has_feedback') | async"
            (ngModelChange)="filterChanged('has_feedback', $event)"
            [placeholder]="t('filters.hasFeedbackPlaceholder')"
            [searchable]="true"
          ></trapper-ui-select-box-input>
        </trapper-ui-form-field>

        <trapper-ui-form-field class="media-filter">
          <trapper-ui-label [onBorder]="true">
            {{ t('filters.dateRangeLabel') }}
          </trapper-ui-label>
          <trapper-ui-date-range-input
            [ngModel]="currentDateRange$ | async"
            (ngModelChange)="dateRangeChanged($event)"
          ></trapper-ui-date-range-input>
        </trapper-ui-form-field>
      }

      <div class="show-advanced-filters-toggle">
        <a (click)="showAdvancedFilters = !showAdvancedFilters">
          {{
            showAdvancedFilters
              ? t('filters.hideAdvancedFilters')
              : t('filters.showAdvancedFilters')
          }}
        </a>
      </div>
    </div>
    <div class="filters-flags">
      <trapper-ui-checkbox
        [ngModel]="(currentFilters$('by_me') | async) === '1'"
        (ngModelChange)="filterChanged('by_me', $event ? '1' : null)"
      >
        {{ t('filters.byMeLabel') }}
      </trapper-ui-checkbox>
      <trapper-ui-checkbox
        [ngModel]="(currentFilters$('favorite') | async) === '1'"
        (ngModelChange)="filterChanged('favorite', $event ? '1' : null)"
      >
        {{ t('filters.favoriteLabel') }}
      </trapper-ui-checkbox>
    </div>
    <div
      class="filters-footer"
      *ngIf="availableFilters$ | async as availableFilters"
    >
      <trapper-ui-button
        [fullWidth]="false"
        class="clear-filters"
        routerLink="."
      >
        {{ t('filters.clearFilters') }}
      </trapper-ui-button>
    </div>
  </section>
  <section class="listing">
    <trapper-ui-responsive-table
      [items]="(results$ | async) || []"
      [isLoading]="(listingItems$ | async) === null"
    >
      <ng-template
        trapperUiTableCellDef="header"
        [label]="t('thumbnailColHeader')"
        let-item="item"
        gridWidth="106px"
        [mainCell]="true"
      >
        <a (click)="showGalleryDialog(item.pk)" class="thumbnail-container">
          <trapper-ui-thumbnail-with-bboxes
            [rounded]="false"
            [thumbnailUrl]="item.thumbnail_url"
            [bboxes]="item.bboxes"
          ></trapper-ui-thumbnail-with-bboxes>
        </a>
      </ng-template>

      <ng-template
        trapperUiTableCellDef="location"
        let-item="item"
        [label]="t('locationNameColHeader')"
      >
        {{ item.location_name }}
      </ng-template>

      <ng-template
        trapperUiTableCellDef="obs-type"
        let-item="item"
        [label]="t('observationsTypeColHeader')"
      >
        <div class="obs-type">
          <trapper-ui-badge
            *ngFor="let ot of item.observation_type_display || []"
            [color]="obsTypeTagColors(ot.key) || 'transparent'"
            >{{ ot.name }}
            <span *ngIf="ot.count > 1">({{ ot.count }}x)</span>
          </trapper-ui-badge>
        </div>
      </ng-template>

      <ng-template
        trapperUiTableCellDef="species"
        let-item="item"
        [label]="t('speciesColHeader')"
      >
        <div class="species">
          <trapper-ui-badge
            *ngFor="let species of item.species_display"
            [color]="
              species.isOther
                ? 'var(--trapper-color-other)'
                : 'var(--trapper-color-secondary)'
            "
            [matTooltip]="species.fullName"
            >{{ species.name }}
            <span *ngIf="species.count > 1">({{ species.count }}x)</span>
          </trapper-ui-badge>
          <trapper-ui-badge
            color="var(--trapper-color-species-tag)"
            *ngIf="!item.species_display || item.species_display.length < 1"
          >
            {{ t('noSpecies') }}
          </trapper-ui-badge>
        </div>
      </ng-template>

      <ng-template
        trapperUiTableCellDef="cls-status"
        let-item="item"
        [label]="t('classificationsStatusColHeader')"
      >
        <div class="badges">
          <trapper-ui-badge color="var(--trapper-color-secondary)">
            {{ t('classifiedByAI') }}
          </trapper-ui-badge>
          <trapper-ui-badge
            color="var(--trapper-color-me)"
            *ngIf="item.is_classified_by_me"
          >
            {{ t('classifiedByMe') }}
          </trapper-ui-badge>
          <trapper-ui-badge
            color="var(--trapper-color-approved)"
            *ngIf="item.is_approved"
          >
            {{ t('labelApproved') }}
          </trapper-ui-badge>
          <trapper-ui-badge
            color="var(--trapper-color-has-feedback)"
            *ngIf="item.has_feedback"
          >
            {{ t('hasFeedback') }}
          </trapper-ui-badge>
        </div>
      </ng-template>

      <ng-template
        trapperUiTableCellDef="owner"
        let-item="item"
        [label]="t('ownerColHeader')"
      >
        <trapper-ui-user-mini-avatar
          [name]="item.owner.name"
          [avatarUrl]="item.owner.avatar"
          (click)="viewProfile(item.owner.id)"
        ></trapper-ui-user-mini-avatar>
      </ng-template>

      <ng-template
        trapperUiTableCellDef="actions"
        let-item="item"
        [label]="t('actionsColHeader')"
        [mainCell]="true"
      >
        <div class="icon-set-wrapper">
          <a
            class="icon-button"
            [routerLink]="[item.pk]"
            [matTooltip]="t('previewActionTooltip')"
          >
            <mat-icon fontIcon="preview"></mat-icon
          ></a>
          <a
            class="icon-button"
            [routerLink]="['../classify', item.pk]"
            [queryParams]="{
              deployment: item.deployment?.pk
            }"
            [matTooltip]="t('classifyActionTooltip')"
          >
            <mat-icon fontIcon="flip_to_back"></mat-icon
          ></a>
          <button
            class="icon-button"
            (click)="markAsFavourite(item)"
            [matTooltip]="t('markAsFavouriteActionTooltip')"
          >
            <mat-icon
              [fontIcon]="item.is_favorite ? 'star' : 'star_outline'"
            ></mat-icon>
          </button>
        </div>
      </ng-template>
    </trapper-ui-responsive-table>
  </section>
  <section class="paginator">
    <trapper-ui-paginator
      [filtered]="(pagination$ | async)?.count"
      [total]="(pagination$ | async)?.total"
      [currentPage]="(pagination$ | async)?.page"
      [totalPages]="(pagination$ | async)?.pages"
      (pageChange)="pageChanged($event)"
      [currentPageSize]="(currentFilters$('page_size') | async) || '10'"
      (currentPageSizeChange)="
        filterChanged('page_size', $event === '10' ? null : $event)
      "
    ></trapper-ui-paginator>
  </section>
</ng-container>
