:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  padding-left: 48px;
  padding-right: 48px;
}

.media-filters {
  width: 100%;
  border-bottom: solid 3px var(--trapper-color-border-1);
  // padding-bottom: 84px;
  h2 {
    margin-bottom: 22px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
  }
}

.filter-grid {
  width: 100%;
  gap: 24px;

  @media (min-width: 800px) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    .wide-filter {
      grid-column: span 2;
    }
  }

  display: flex;
  flex-wrap: wrap;
  > * {
    flex-basis: 100%;
  }
}

.listing-view-header {
  width: 100%;
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.search-box {
  max-width: 328px;
}

.filters-flags {
  padding-top: 24px;
  display: flex;
  gap: 24px;
}

.filters-footer {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 24px;
  padding-bottom: 40px;
  justify-content: space-between;
}

.additional-filters {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, 164px);
  grid-gap: 24px;
}

.listing {
  width: 100%;
}

.thumbnail {
  img,
  trapper-ui-thumbnail-with-bboxes {
    width: 106px;
    height: 74px;
  }
}

.owner {
  font-weight: 700;
  font-size: 16px;
  line-height: 40px;
}

.icon-set-wrapper {
  --icon-w: 24px;
  --icon-set-gap: 8px;
  $icon-count: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--icon-set-gap);
  width: calc(
    var(--icon-w) * $icon-count + ($icon-count - 1) * var(--icon-set-gap)
  );
  flex-shrink: 0;
}

.icon-button {
  color: var(--trapper-color-icon-button);
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  padding: 0;
  border: none;
  mat-icon {
    width: 24px;
    height: 24px;
    font-size: 24px;
    display: inline-block;
  }
}

.paginator {
  width: 100%;
}

.species,
.obs-type {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.clear-filters {
  margin-left: auto;
}

.show-advanced-filters-toggle {
  display: flex;
  align-items: center;
  a {
    font-size: 14px;
    font-weight: 400;
    color: var(--trapper-color-text-secondary);
    text-decoration: underline;
    cursor: pointer;
  }
}

.badges {
  display: inline-flex;
  gap: 4px;
  flex-wrap: wrap;
  justify-content: center;
}

.thumbnail-container {
  height: 100%;
  trapper-ui-thumbnail-with-bboxes {
    height: 100%;
  }
}
