<ng-container *transloco="let t; read: 'csProjects'">
  <section class="deployment-stats" *ngIf="deployment">
    <h3>{{ t('deploymentPreviewStatsSection.title') }}</h3>
    <div class="deployment-stats-wrapper">
      <div class="deployment-stats-item">
        <span class="deployment-stats-item-label">
          {{ t('deploymentPreviewStatsSection.classifiedByObjectDetectionAI') }}
        </span>
        <span class="deployment-stats-item-value">
          {{ deployment.classified_ai_count }} /
          {{ deployment.resources_count }}
        </span>
      </div>

      <div class="deployment-stats-item">
        <span class="deployment-stats-item-label">
          {{ t('deploymentPreviewStatsSection.classifiedByMe') }}
        </span>
        <span class="deployment-stats-item-value">
          {{ deployment.classified_by_me_count }} /
          {{ deployment.resources_count }}
        </span>
      </div>

      <div class="deployment-stats-item">
        <span class="deployment-stats-item-label">
          {{ t('deploymentPreviewStatsSection.classifiedByExpert') }}
        </span>
        <span class="deployment-stats-item-value">
          {{ deployment.classified_expert_count }} /
          {{ deployment.resources_count }}
        </span>
      </div>
    </div>
  </section>
</ng-container>
