:host {
  box-shadow: 0px 8px 16px rgba(46, 46, 46, 0.16);
  padding: 24px;
}
.deployment-stats-wrapper {
  display: flex;
  flex-direction: row;
  @media (max-width: 1280px) {
    flex-direction: column;
  }
  gap: 3px;
  flex-wrap: wrap;
  background-color: var(--trapper-color-border-1);
  .deployment-stats-item {
    text-align: center;
    min-width: 200px;
    background-color: var(--trapper-color-card-background);
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    padding: 8px;
    .deployment-stats-item-label {
      font-size: 16px;
    }
    .deployment-stats-item-value {
      font-size: 16px;
    }
  }
}
