<ng-container *transloco="let t; read: 'csProfile.profileAuthenticatorList'">
  @if (configReady$ | async) {
    <div class="authenticators">
      <!-- TOTP -->
      @if (isTotpSupported) {
        <div class="authenticator">
          <h4>{{ t('totpAuthenticatorTitle') }}</h4>
          <p>{{ t('totpAuthenticatorDescription') }}</p>

          @if (totpAuthenticator !== null) {
            <p>
              {{ t('totpAuthenticatorEnabledDescription') }}
            </p>
          } @else if (!totpSetupInProgress) {
            <p>
              {{ t('totpAuthenticatorDisabledDescription') }}
            </p>
          } @else {
            <trapper-ui-alert>
              {{ t('totpAuthenticatorSetupInProgressDescription') }}
            </trapper-ui-alert>
            @if (totpSetupData$ | async; as totpSetupData) {
              <div class="totp-qr-code-container">
                @if (totpUri$ | async; as totpUri) {
                  <qrcode
                    [qrdata]="totpUri"
                    [width]="256"
                    [errorCorrectionLevel]="'M'"
                  ></qrcode>
                } @else {
                  <trapper-ui-spinner color="primary"></trapper-ui-spinner>
                }
              </div>
              <trapper-ui-form-field>
                <trapper-ui-label>
                  {{ t('totpSecret') }}
                </trapper-ui-label>
                <trapper-ui-text-input
                  [ngModel]="totpSetupData.secret"
                  [disabled]="true"
                ></trapper-ui-text-input>
              </trapper-ui-form-field>
              <trapper-ui-form-field>
                <trapper-ui-label>
                  {{ t('totpAuthenticatorCode') }}
                </trapper-ui-label>
                <trapper-ui-text-input
                  [errors]="totpSetupErrors$ | async"
                  [(ngModel)]="enteredCode"
                  (ngModelChange)="totpSetupErrors$.next(null)"
                ></trapper-ui-text-input>
              </trapper-ui-form-field>
            }
          }
          <div class="authenticator-actions">
            @if (totpAuthenticator === null && !totpSetupInProgress) {
              <trapper-ui-button
                variant="primary"
                [inProgress]="(inProgress$ | async) || false"
                (click)="startTotpSetup()"
              >
                {{ t('totpAuthenticatorEnable') }}
              </trapper-ui-button>
            } @else if (totpAuthenticator !== null && !totpSetupInProgress) {
              <trapper-ui-button
                variant="danger"
                (click)="deactivateTotp()"
                [inProgress]="(inProgress$ | async) || false"
              >
                {{ t('totpAuthenticatorDisable') }}
              </trapper-ui-button>
            } @else {
              <trapper-ui-button
                variant="primary"
                (click)="setupTotp()"
                [inProgress]="(inProgress$ | async) || false"
              >
                {{ t('totpAuthenticatorActivate') }}
              </trapper-ui-button>
            }
          </div>
        </div>
      }

      <!-- RECOVERY CODES -->
      @if (isRecoveryCodesSupported && recoveryCodesAuthenticator !== null) {
        <div class="authenticator">
          <h4>{{ t('recoveryCodesTitle') }}</h4>
          <p>{{ t('recoveryCodesDescription') }}</p>
          <div class="authenticator-actions">
            <trapper-ui-button
              variant="primary"
              (click)="regenerateRecoveryCodes()"
            >
              {{ t('recoveryCodesRegenerate') }}
            </trapper-ui-button>
            <trapper-ui-button
              variant="secondary"
              (click)="showRecoveryCodes()"
            >
              {{ t('recoveryCodesDownload') }}
            </trapper-ui-button>
          </div>
          @if (recoveryCodesVisible) {
            <div class="recovery-code-list">
              <h4>{{ t('recoveryCodesListTitle') }}</h4>
              @if (recoveryCodes$ | async; as recoveryCodes) {
                <ul>
                  @for (code of recoveryCodes; track $index) {
                    <li>{{ code }}</li>
                  }
                </ul>
              } @else {
                <ngx-skeleton-loader></ngx-skeleton-loader>
              }
            </div>
          }
        </div>
      }
    </div>
  } @else {
    <ngx-skeleton-loader></ngx-skeleton-loader>
  }

  <!-- WEBAUTHN -->
</ng-container>
