.authenticator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  gap: 1rem;
  border: 1px solid var(--trapper-color-border-1);
  border-radius: 4px;

  h4 {
    font-weight: 600;
  }

  .authenticator-actions {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }
}

.authenticators {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.totp-qr-code-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
