<form [formGroup]="formGroup" *transloco="let t; read: 'csAccounts'">
  <trapper-ui-card>
    <h1>
      {{ t('signUp.title') }}
    </h1>
    <trapper-ui-form-column>
      <trapper-ui-text-input
        [label]="t('signUp.email')"
        type="email"
        [isRequired]="true"
        [errors]="fieldError$('email') | async"
        formControlName="email"
      ></trapper-ui-text-input>
      <trapper-ui-text-input
        [label]="t('signUp.username')"
        [isRequired]="true"
        formControlName="username"
        [errors]="fieldError$('username') | async"
      ></trapper-ui-text-input>
      <trapper-ui-text-input
        [label]="t('signUp.firstName')"
        [isRequired]="true"
        formControlName="first_name"
        [errors]="fieldError$('first_name') | async"
      ></trapper-ui-text-input>
      <trapper-ui-text-input
        [label]="t('signUp.lastName')"
        [isRequired]="true"
        formControlName="last_name"
        [errors]="fieldError$('last_name') | async"
      ></trapper-ui-text-input>
      <trapper-ui-text-input
        [label]="t('signUp.password')"
        type="password"
        [helpText]="t('signUp.passwordHelp')"
        [isRequired]="true"
        formControlName="password"
        [errors]="fieldError$('password') | async"
      ></trapper-ui-text-input>
      <trapper-ui-text-input
        [label]="t('signUp.password2')"
        type="password"
        [isRequired]="true"
        formControlName="password2"
        [errors]="fieldError$('password2') | async"
      ></trapper-ui-text-input>
      <trapper-ui-text-input
        [label]="t('signUp.phoneNumber')"
        placeholder="+ 00 | 00-00-00"
        formControlName="phone_number"
        [errors]="fieldError$('phone_number') | async"
      ></trapper-ui-text-input>
      <trapper-ui-text-input
        [label]="t('signUp.institution')"
        formControlName="institution"
        [errors]="fieldError$('institution') | async"
      ></trapper-ui-text-input>
      <trapper-ui-text-input
        [label]="t('signUp.aboutMe')"
        [multiline]="true"
        formControlName="about_me"
        [errors]="fieldError$('about_me') | async"
      ></trapper-ui-text-input>
      <div class="consents">
        <trapper-ui-checkbox
          formControlName="gdpr"
          [isRequired]="true"
          [errors]="fieldError$('gdpr') | async"
        >
          <a (click)="gdprPopup(); $event.preventDefault()">
            {{ t('signUp.gdpr') }}
          </a>
        </trapper-ui-checkbox>
        <trapper-ui-checkbox
          formControlName="tos"
          [isRequired]="true"
          [errors]="fieldError$('tos') | async"
        >
          <a (click)="tosPopup(); $event.preventDefault()">
            {{ t('signUp.tos') }}
          </a>
        </trapper-ui-checkbox>
      </div>
      <trapper-ui-button (click)="signUp()">
        {{ t('signUp.submit') }}
      </trapper-ui-button>
    </trapper-ui-form-column>
  </trapper-ui-card>
</form>
