<trapper-ui-card *transloco="let t; read: 'csProjects.teamDelete'">
  <h1>{{ t('header') }}</h1>
  <p [innerHTML]="t('message', { teamName: teamName })"></p>
  <trapper-ui-simple-message> {{ t('warning') }} </trapper-ui-simple-message>

  <div class="buttons-container">
    <trapper-ui-button
      (click)="ok()"
      variant="danger"
      [inProgress]="(inProgress | async) || false"
    >
      {{ t('ok') }}
    </trapper-ui-button>
    <trapper-ui-button
      (click)="cancel()"
      variant="no-outline-link"
      [disabled]="(inProgress | async) || false"
    >
      {{ t('cancel') }}
    </trapper-ui-button>
  </div>
</trapper-ui-card>
