<ng-container *transloco="let t; read: 'csAccounts.mfaLogin'">
  <form [formGroup]="formGroup">
    <trapper-ui-card>
      <h1>
        {{ t('title') }}
      </h1>

      <p>
        {{ t('description') }}
      </p>

      <trapper-ui-form-column>
        <trapper-ui-form-field>
          <trapper-ui-label>
            {{ t('codeLabel') }}
          </trapper-ui-label>
          <trapper-ui-text-input
            type="text"
            formControlName="code"
            testId="code-input"
          ></trapper-ui-text-input>
          <trapper-ui-server-errors
            formControlName="code"
          ></trapper-ui-server-errors>
        </trapper-ui-form-field>
        <div class="non-field-errors-wrapper">
          <trapper-ui-non-field-errors
            *ngIf="nonFieldErrors$ | async as nonFieldErrors"
            [errors]="nonFieldErrors"
          >
          </trapper-ui-non-field-errors>
        </div>
        <div class="buttons-wrapper">
          <trapper-ui-button
            (click)="mfaAuthenticate()"
            [inProgress]="(inProgress$ | async) || false"
            testId="login-button"
          >
            {{ t('loginButton') }}
          </trapper-ui-button>
          <trapper-ui-button
            (click)="cancel()"
            [disabled]="(inProgress$ | async) || false"
            testId="cancel-button"
            variant="secondary"
          >
            {{ t('cancelButton') }}
          </trapper-ui-button>
        </div>
      </trapper-ui-form-column>
    </trapper-ui-card>
  </form>
</ng-container>
