.buttons-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--standard-spacing-gap-small);
}

trapper-ui-alert {
  width: 100%;
}

trapper-ui-form-field {
  width: 100%;
}

h1 {
  width: 100%;
  text-align: center;
}
