<form [formGroup]="formGroup" *transloco="let t; read: 'csAccounts'">
  <trapper-ui-card>
    <h1>
      {{ t('passwordResetSetPassword.title') }}
    </h1>
    <trapper-ui-text-input
      formControlName="new_password"
      [errors]="srvc.fieldError$('new_password') | async"
      [label]="t('passwordResetSetPassword.newPassword')"
      type="password"
      [isRequired]="true"
    ></trapper-ui-text-input>
    <trapper-ui-text-input
      formControlName="new_password2"
      [errors]="srvc.fieldError$('new_password2') | async"
      [label]="t('passwordResetSetPassword.newPassword2')"
      type="password"
      [isRequired]="true"
    ></trapper-ui-text-input>
    <trapper-ui-button (click)="resetPassword()">
      {{ t('passwordResetSetPassword.submit') }}
    </trapper-ui-button>
    <trapper-ui-non-field-errors
      *ngIf="srvc.nonFieldErrors$ | async as nonFieldErrors"
      [errors]="nonFieldErrors"
    >
    </trapper-ui-non-field-errors>
  </trapper-ui-card>
</form>
