<img
  [src]="thumbnailUrlWithBboxes"
  [class.is-selected]="isSelected"
  [class.is-highlighted]="isHighlighted"
  [class.rounded]="rounded"
  [class.wide]="wide"
/>
<div *ngIf="isSelected" class="selected-overlay"></div>
<div *ngIf="isHighlighted" class="highlighted-overlay"></div>
