img {
  aspect-ratio: 4/3;
  object-fit: cover;
  transition: box-shadow 0.1s ease-in-out;
  &.wide {
    aspect-ratio: 16/9;
  }

  &.rounded {
    border-radius: 4px;
  }

  height: 100%;
}

:host {
  display: block;
  position: relative;
}

.sequence-icon {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 15px;
  height: 15px;
  color: var(--trapper-color-sequence-icon);
}

.selected-overlay {
  position: absolute;
  inset: 0;
  background-color: var(--trapper-color-link);
  opacity: 0.3;
  pointer-events: none;
}

.highlighted-overlay {
  position: absolute;
  inset: 0;
  border: 5px solid var(--trapper-color-link);
  pointer-events: none;
}
