<ng-container *ngIf="control?.pristine">
  <ng-container *ngIf="control?.errors as errors">
    <div class="errors-wrapper" *ngIf="errors['serverErrors'] as serverErrors">
      <span
        @inOutAnimation
        *ngFor="let error of serverErrors"
        class="field-error"
        >{{ error }}</span
      >
    </div>
  </ng-container>
</ng-container>
