span.field-error {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: var(--trapper-color-danger);
}
div.errors-wrapper {
  margin-top: -8px;
  margin-bottom: -14px;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  flex-direction: column;
}
