main {
  @media (width>500px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

ng-scrollbar {
  height: calc(100vh);
}

:host {
  background: url('/api/cs/background_image/') no-repeat;
  background-color: var(--trapper-color-tertiary-background);
  background-size: cover;
  background-position: center center;
  width: 100%;

  display: block;
}

main {
  min-height: calc(
    100vh - var(--trapper-topbar-height) - var(--trapper-footer-height)
  );
}

.scrollbar-container {
  margin-top: var(--trapper-topbar-height);
}

.main-header {
  top: 0;
  display: block;
  transition: top 0.2s ease-in-out;
  z-index: 10001;

  &.nav-up {
    top: calc(-1 * var(--trapper-topbar-height));
  }

  &.sticky-header {
    position: sticky;
  }
}

:host {
  &.compact-mode {
    --trapper-topbar-height: var(--trapper-topbar-height-compact);
    --trapper-footer-height: var(--trapper-footer-height-compact);
  }

  ::ng-deep {
    ng-scrollbar .ng-scroll-content scrollbars .ng-scrollbar-sticky {
      z-index: 10010;
    }
  }
}
