<ng-scrollbar orientation="vertical" appearance="compact">
  <!-- <div scrollViewport> -->
  <trapper-cs-header
    class="main-header"
    [class.nav-up]="navHeaderHidden$ | async"
    [class.sticky-header]="stickyHeader"
    [(stickyHeader)]="stickyHeader"
    [navHeaderHidden]="true === (navHeaderHidden$ | async)"
    [scrolledToTop]="true === (scrolledToTop$ | async)"
  ></trapper-cs-header>
  <main>
    <router-outlet></router-outlet>
  </main>
  <!-- </div> -->
  <div>
    <trapper-cs-footer></trapper-cs-footer>
  </div>
</ng-scrollbar>
<!-- <div class="visible-on-wide">
  <trapper-cs-footer></trapper-cs-footer>
</div> -->
