:host {
  --zoom: 1;
  --pan-x: 0;
  --pan-y: 0;
  --bbox-resize-elem-size: 8px;
  --bbox-border-size: 2px;

  --zindex-interaction-zone: 100;
  --zindex-bbox: 10;
  --zindex-toolbox: 2;

  --zindex-crosshair: 100;
}
.workspace {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
}

.toolbox-top {
  display: flex;
}

.panning {
  cursor: grab;
}

.pan-container {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100px;
  min-height: 100px;
  transform: translate(var(--pan-x), var(--pan-y));
}

.annotation-layer {
  width: fit-content;
  transform-origin: 0 0;
  position: relative;
  transform: scale(var(--zoom));
}

.horizontal-tool-container {
  display: flex;
  opacity: 90%;
  border-radius: 4px;
  background-color: var(--trapper-color-muted-background);
  overflow: hidden;
}

.toolbox-top-container {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  padding: 8px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: var(--zindex-toolbox);
  pointer-events: none;
}

.footer-container {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  gap: 8px;
  padding: 8px;
  width: 100%;
  z-index: var(--zindex-toolbox);
  font-size: 14px;
  pointer-events: none;
  .footer {
    padding: 8px;
    display: block;
    opacity: 90%;
    border-radius: 4px;
    background-color: var(--trapper-color-muted-background);
    overflow: hidden;
    max-width: 50vh;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.toolbar-section {
  display: flex;
  gap: 8px;
  * {
    pointer-events: initial;
  }
}

.action-btn-container {
  height: 26px;
}

.global-message {
  font-size: 12px;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  span {
    padding: 8px;
  }
}

.select-new-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  color: var(--trapper-color-icon-button);
  width: 100%;
  height: 26px;
}

.object-list-container {
  position: absolute;
  top: 48px;
  left: 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 4px;
  z-index: var(--zindex-toolbox);
  background-color: var(--trapper-color-muted-background);
  border-radius: 4px;
  opacity: 90%;
  width: 200px;
  // min-height: 100px;
  font-size: 12px;
  transition: opacity 0.2s;
  max-height: 300px;
  overflow-y: scroll;

  &.create-new-active {
    opacity: 0.5;
    pointer-events: none;
  }

  &.bbox-group-selection-active {
    opacity: 0.5;
    pointer-events: none;
  }

  ng-scrollbar {
    --scrollbar-padding: 0px;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  li {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
    padding: 4px;
    border-radius: 4px;
    background-color: var(--trapper-color-muted-background);
    max-width: 100%;
    line-height: 110%;
    cursor: pointer;
    transition: background-color 0.2s;
    &:hover {
      background-color: var(--trapper-color-muted-4);
    }

    span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 180px;
    }

    &.selected {
      background-color: var(--trapper-color-muted-2);
    }
  }
}

.bbox-container {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: opacity 0.2s;

  &.loading {
    opacity: 0;
  }

  &.hidden {
    opacity: 0;
  }

  .bbox {
    --bbox-left: 0;
    --bbox-top: 0;
    --bbox-width: 1;
    --bbox-height: 1;
    --bbox-scale-inv-x: calc(1 / (var(--bbox-width) * var(--zoom)));
    --bbox-scale-inv-y: calc(1 / (var(--bbox-height) * var(--zoom)));
    pointer-events: none;
    position: absolute;
    transform-origin: 0 0;
    transform: translate(
        calc(100% * var(--bbox-left)),
        calc(100% * var(--bbox-top))
      )
      scale(var(--bbox-width), var(--bbox-height));
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    --bbox-color: var(--trapper-color-bbox);
    background-color: transparent;
    transition:
      background-color 0.2s,
      border-color 0.2s;
    cursor: pointer;

    .bbox-inner {
      position: relative;
      width: 100%;
      height: 100%;
      * {
        pointer-events: initial;
      }
    }

    &.movable {
      cursor: move;
    }

    &.selected {
      --bbox-color: var(--trapper-color-bbox-selected);
    }

    &.hovered {
      background-color: color-mix(in srgb, var(--bbox-color), transparent 80%);
    }
  }
}

.relative-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.horizontal-line {
  position: absolute;
  inset: 0;
  width: 100%;
  height: var(--bbox-border-size);
  border-top: 2px dotted var(--trapper-color-bbox);
  background-color: rgba(33, 150, 83, 0.2);
  z-index: var(--zindex-crosshair);
  pointer-events: none;
  transform: translate(0, var(--y));
}

.vertical-line {
  position: absolute;
  inset: 0;
  width: var(--bbox-border-size);
  height: 100%;
  border-left: 2px dotted var(--trapper-color-bbox);
  background-color: rgba(33, 150, 83, 0.2);
  z-index: var(--zindex-crosshair);
  pointer-events: none;
  transform: translate(var(--x), 0);
}

.bbox-sizing-element {
  position: absolute;
  background-color: var(--trapper-color-text-contrast);
  width: var(--bbox-resize-elem-size);
  height: var(--bbox-resize-elem-size);
  transform: scale(var(--bbox-scale-inv-x), var(--bbox-scale-inv-y));
  z-index: var(--zindex-interaction-zone);

  &.top-left {
    left: 0;
    top: 0;
    cursor: nwse-resize;
  }
  &.top-right {
    right: 0;
    top: 0;
    cursor: nesw-resize;
  }
  &.bottom-left {
    left: 0;
    bottom: 0;
    cursor: nesw-resize;
  }
  &.bottom-right {
    right: 0;
    bottom: 0;
    cursor: nwse-resize;
  }
}

.bbox-sizing-edge {
  position: absolute;
  background-color: var(--bbox-color);

  &.top {
    left: 0;
    top: 0;
    width: 100%;
    height: var(--bbox-border-size);
  }
  &.bottom {
    left: 0;
    bottom: 0;
    width: 100%;
    height: var(--bbox-border-size);
  }
  &.left {
    left: 0;
    top: 0;
    width: var(--bbox-border-size);
    height: 100%;
  }
  &.right {
    right: 0;
    top: 0;
    width: var(--bbox-border-size);
    height: 100%;
  }

  &.horizontal {
    transform: translate(0, -50%);
    width: 100%;
    height: var(--bbox-border-size);
    transform: scaleY(var(--bbox-scale-inv-y));
    .interaction-zone {
      width: 100%;
      height: 100%;
      transform: translate(0, -50%) scale(1, 5);
    }
    &.movable {
      cursor: ns-resize;
    }
  }
  &.vertical {
    transform: translate(-50%, 0);
    height: 100%;
    width: var(--bbox-border-size);
    transform: scaleX(var(--bbox-scale-inv-x));
    .interaction-zone {
      width: 100%;
      height: 100%;
      transform: translate(-50%, 0) scale(5, 1);
    }
    &.movable {
      cursor: ew-resize;
    }
  }
}

.selectable {
  cursor: pointer;
}

.movable {
  cursor: move;
}

.ctx-menu {
  opacity: 80%;
  display: inline-flex;
  flex-direction: column;
  min-width: 90px;
  max-width: 200px;
  color: var(--trapper-color-text-default);
  background-color: var(--trapper-color-primary-background);
  padding: 6px 0;
  border-radius: 4px;

  .ctx-menu-item {
    background-color: transparent;
    cursor: pointer;
    border: none;

    user-select: none;
    min-width: 64px;
    line-height: 24px;
    padding: 0 16px;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    flex: 1;
    gap: 4px;

    color: var(--trapper-color-text-default);

    &.hovered {
      background-color: var(--trapper-color-muted-background);
    }

    &:active {
      background-color: var(--trapper-color-muted-background);
    }

    &:focus:not(:focus-visible) {
      outline: none;
    }
  }
}

.loading-indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  font-size: 64px;
  pointer-events: none;
  transition: opacity 0.2s;
  opacity: 0;
  &.loading {
    opacity: 1;
  }
}

img,
video {
  display: block;
  transition: opacity 0.2s;
  &.loading {
    opacity: 0;
  }
  filter: brightness(var(--brightness, 100%)) contrast(var(--contrast, 100%))
    saturate(var(--saturate, 100%)) hue-rotate(var(--hue-rotate, 0deg));
  user-select: none;

  &.hd-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-move {
  cursor: move;
}

.cursor-crosshair {
  cursor: crosshair;
}

.bbox-label {
  position: absolute;
  background-color: color-mix(in srgb, var(--bbox-color), transparent 30%);
  color: var(--trapper-color-text-contrast);
  padding: 4px;
  border-radius: 4px;
  font-size: 12px;
  z-index: var(--zindex-bbox);
  pointer-events: none;
  transform-origin: 0 0;
  transform: scale(var(--bbox-scale-inv-x), var(--bbox-scale-inv-y))
    translate(0, calc(-100% - 4px));
  opacity: 0;
  transition: opacity 0.2s;
  &.show {
    opacity: 1;
  }
}

.temporary-bbox {
  --bbox-left: 0;
  --bbox-top: 0;
  --bbox-width: 1;
  --bbox-height: 1;
  --bbox-scale-inv-x: calc(1 / (var(--bbox-width) * var(--zoom)));
  --bbox-scale-inv-y: calc(1 / (var(--bbox-height) * var(--zoom)));
  --bbox-color: var(--trapper-color-primary);
  pointer-events: none;
  position: absolute;
  transform-origin: 0 0;
  transform: translate(
      calc(100% * var(--bbox-left)),
      calc(100% * var(--bbox-top))
    )
    scale(var(--bbox-width), var(--bbox-height));
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: color-mix(in srgb, var(--bbox-color), transparent 90%);
  transition:
    background-color 0.2s,
    border-color 0.2s;

  --border-size-vertical: calc(
    var(--bbox-border-size) * var(--bbox-scale-inv-x)
  );
  --border-size-horizontal: calc(
    var(--bbox-border-size) * var(--bbox-scale-inv-y)
  );

  border-left: var(--border-size-vertical) solid var(--bbox-color);
  border-right: var(--border-size-vertical) solid var(--bbox-color);
  border-top: var(--border-size-horizontal) solid var(--bbox-color);
  border-bottom: var(--border-size-horizontal) solid var(--bbox-color);
}

.image-filters-container {
  pointer-events: initial;
  position: absolute;
}

.popups-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: var(--zindex-toolbox);
  opacity: 0;
  transition: opacity 0.2s;

  &.active {
    pointer-events: initial;
    opacity: 1;
  }
}

.bbox-error-indicator {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: var(--zindex-bbox);
  pointer-events: none;
  transform: scaleX(var(--bbox-scale-inv-x)) scaleY(var(--bbox-scale-inv-y));
  transform-origin: 100% 0;
  padding: 4px;

  .bbox-error-indicator-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    background-color: var(--trapper-color-danger);
    color: var(--trapper-color-danger-contrast);
    border-radius: 50%;
  }
}

.controls-on-hover {
  .horizontal-tool-container,
  trapper-zoom-controls,
  trapper-video-controls {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  &:hover {
    .horizontal-tool-container,
    trapper-zoom-controls,
    trapper-video-controls {
      opacity: 100%;
    }
  }
}
