<ng-container *transloco="let t; prefix: 'resourceAnnotator'">
  <div
    class="workspace"
    [class.panning]="panInProgress"
    (wheel)="wheel($event)"
    (mousedown)="workspaceMouseDown($event)"
    (mousemove)="workspaceMouseMoved($event)"
    (mouseout)="workspaceMouseOut()"
    (click)="workspaceClicked()"
    [cdkContextMenuTriggerFor]="
      contextMenuEnabled ? workspaceContextMenu : null
    "
    #workspace
    [class.controls-on-hover]="controlsOnHover"
  >
    <div
      class="toolbox-top-container"
      (mousedown)="$event.stopPropagation()"
      (click)="$event.stopPropagation()"
    >
      <div class="toolbar-section">
        @if (!readOnly) {
          <div class="horizontal-tool-container">
            @for (mode of modeButtons(); track mode.mode) {
              <trapper-tool-button
                (click)="currentMode = mode.mode; $event.stopPropagation()"
                [active]="currentMode === mode.mode"
                [icon]="mode.icon"
                [tooltip]="mode.tooltip || ''"
              >
              </trapper-tool-button>
            }
          </div>
        }

        @if (showLabels) {
          <div class="horizontal-tool-container">
            <trapper-tool-button
              (click)="alwaysShowLabelsLocked = !alwaysShowLabelsLocked"
              (mouseover)="alwaysShowLabels = true"
              (mouseout)="alwaysShowLabels = false"
              [active]="alwaysShowLabelsLocked"
              icon="bootstrapEye"
              [tooltip]="t('alwaysShowLabels.tooltip')"
            >
            </trapper-tool-button>
          </div>
        }

        <div class="horizontal-tool-container">
          <trapper-tool-button
            (click)="hideBoundingBoxesLocked = !hideBoundingBoxesLocked"
            (mouseover)="hideBoundingBoxes = true"
            (mouseout)="hideBoundingBoxes = false"
            [active]="hideBoundingBoxesLocked"
            icon="matBrowserNotSupported"
            [tooltip]="t('hideBoundingBoxes.tooltip')"
          >
          </trapper-tool-button>
        </div>

        @if (!readOnly && selectedBboxes.length > 0) {
          <div class="horizontal-tool-container">
            <trapper-tool-button
              (click)="deleteSelectedBboxes()"
              [class.disabled]="selectedBboxes.length === 0"
              icon="bootstrapTrash"
              [matTooltip]="t('deleteSelectedBboxes.tooltip')"
            >
            </trapper-tool-button>
          </div>
        }
      </div>

      @if (!readOnly) {
        <div class="toolbar-section">
          @if (currentMode === 'create_new') {
            <div class="horizontal-tool-container">
              <div class="global-message">
                <span>
                  {{ t('bboxCreation.tipMessage') }}
                </span>
                <trapper-tool-button
                  (click)="cancelCreateNew()"
                  icon="bootstrapX"
                  [tooltip]="t('bboxCreation.cancel')"
                >
                </trapper-tool-button>
              </div>
            </div>
          } @else if (selectedObjectsCount() > 1) {
            <div class="horizontal-tool-container">
              <div class="global-message">
                <span>{{
                  t('bboxSelection.multipleSelected', {
                    count: selectedObjectsCount()
                  })
                }}</span>
              </div>
            </div>
          }
        </div>
      }

      <div class="toolbar-section">
        <div class="horizontal-tool-container">
          @for (customToolButton of customToolButtons; track $index) {
            <trapper-tool-button
              (click)="customToolButtonClicked.emit(customToolButton.eventName)"
              [icon]="customToolButton.icon"
              [tooltip]="customToolButton.tooltip"
            >
            </trapper-tool-button>
          }

          @if (fullScreenToogleEnabled) {
            <trapper-tool-button
              (click)="toggleFullscreen()"
              [icon]="
                isFullScreen()
                  ? 'bootstrapFullscreenExit'
                  : 'bootstrapArrowsFullscreen'
              "
              [tooltip]="t('fullscreen.tooltip')"
            >
            </trapper-tool-button>
          }
        </div>
      </div>
    </div>
    <div class="loading-indicator" [class.loading]="loading">
      <trapper-ui-spinner color="primary"></trapper-ui-spinner>
    </div>
    <div
      class="popups-layer"
      [class.active]="imageFiltersOpen"
      (click)="imageFiltersOpen = false"
    >
      <div class="relative-wrapper">
        @if (imageFiltersOpen) {
          <div
            class="image-filters-container"
            [style.right.px]="imageFiltersPosition.x"
            [style.bottom.px]="imageFiltersPosition.y"
            (click)="$event.stopPropagation()"
          >
            <trapper-image-filters
              [(brightness)]="brightness"
              [(contrast)]="contrast"
              [(saturation)]="saturation"
            ></trapper-image-filters>
          </div>
        }
      </div>
    </div>

    <div class="footer-container">
      <div class="toolbar-section">
        <trapper-zoom-controls
          [(zoom)]="currentZoom"
          [minZoom]="this.minZoom"
          [maxZoom]="this.maxZoom"
        ></trapper-zoom-controls>

        <div class="horizontal-tool-container">
          <trapper-tool-button
            (click)="scaleToFit()"
            icon="remixFocusMode"
            [tooltip]="t('scaleToFit.tooltip')"
          >
          </trapper-tool-button>
        </div>
      </div>

      @if (isVideo) {
        <trapper-video-controls></trapper-video-controls>
      }

      <div class="toolbar-section">
        <div class="horizontal-tool-container" #triggerImageFilters>
          <trapper-tool-button
            [active]="imageFiltersOpen"
            (click)="toggleImageFilters($event, triggerImageFilters)"
            icon="matSettingsBrightness"
            [tooltip]="t('imageFilters.tooltip')"
          >
          </trapper-tool-button>
        </div>
        @if (!isVideo) {
          <div class="horizontal-tool-container">
            <trapper-tool-button
              (click)="highResolution = !highResolution"
              [active]="highResolution"
              icon="remixHdLine"
              [tooltip]="t('highResolution.tooltip')"
            >
            </trapper-tool-button>
          </div>
        }
        @if (_fileName) {
          <div class="footer" [matTooltip]="_fileName">
            {{ _fileName }}
          </div>
        }
      </div>
    </div>
    @if (showObjectList && !_bboxInteactionDisabled()) {
      <div
        class="object-list-container"
        [class.create-new-active]="currentMode === 'create_new'"
        [class.bbox-group-selection-active]="temporaryBboxRect"
        (wheel)="$event.stopPropagation()"
        (contextmenu)="$event.stopPropagation()"
        (mousedown)="$event.stopPropagation()"
      >
        <ng-scrollbar track="vertical" autoHeightDisabled="false">
          <ul>
            @for (obj of annotatedObjects; track obj.id) {
              <li
                (mouseover)="hoveredId = obj.id"
                (mouseout)="hoveredId = null"
                (click)="toggleObjectSelection(obj.id, $event)"
                [class.selected]="selectedBboxes.includes(obj.id)"
              >
                <span>{{ obj.label }}</span>
                <!-- create new bbox -->
                <div class="action-btn-container">
                  @if (isVideo) {
                    <trapper-tool-button
                      (click)="
                        currentMode = 'create_new'; currentObjectId = obj.id
                      "
                      [active]="
                        currentMode === 'create_new' &&
                        currentObjectId === obj.id
                      "
                      icon="bootstrapBoundingBoxCircles"
                      [tooltip]="t('createBoundingBoxOnFrame.tooltip')"
                    >
                    </trapper-tool-button>
                  }
                </div>
              </li>
            }
            <li>
              <button
                class="select-new-btn"
                (click)="currentMode = 'create_new'; currentObjectId = null"
                [class.active]="
                  currentMode === 'create_new' && !currentObjectId
                "
              >
                <span>{{ t('selectNewObject.button') }}</span>
                <ng-icon name="bootstrapBoundingBoxCircles"> </ng-icon>
              </button>
            </li>
          </ul>
        </ng-scrollbar>
      </div>
    }
    <div class=""></div>
    <div
      class="pan-container"
      #panContainer
      [style.--pan-x.px]="panX"
      [style.--pan-y.px]="panY"
    >
      <div
        class="annotation-layer"
        [style.--zoom]="currentZoom"
        [class.cursor-pointer]="currentMode === 'select_existing' && hoveredId"
        [class.cursor-move]="currentMode === 'move_or_resize' && hoveredId"
        [class.cursor-crosshair]="currentMode === 'create_new'"
        #annotationLayer
        (mousemove)="annotationLayerMouseMoved($event)"
        (mousedown)="annotationLayerMouseDown($event)"
        (click)="annotationLayerClicked($event)"
        (dblclick)="annotationLayerDoubleClicked($event)"
      >
        <div
          class="relative-wrapper"
          [style.--brightness.%]="brightness"
          [style.--contrast.%]="contrast"
          [style.--saturate.%]="saturation"
        >
          @if (!isVideo) {
            <img
              [src]="internalresourceSrc"
              #mainResource
              (load)="imageUpdated()"
              [class.loading]="loading"
            />
            @if (internalHdResourceSrc && highResolution) {
              <img
                [src]="internalHdResourceSrc"
                [class.loading]="hdLoading"
                [class.hidden]="!highResolution"
                class="hd-image"
                (load)="hdLoading = false"
              />
            }
          } @else {
            <video
              [src]="internalresourceSrc"
              #mainResource
              (canplay)="imageUpdated()"
              (play)="videoStarted()"
              (pause)="videoPaused()"
              (ended)="videoEnded()"
              (timeupdate)="videoTimeUpdate()"
              [class.loading]="loading"
              preload="auto"
            ></video>
          }

          <div
            class="bbox-container"
            [class.loading]="loading"
            [class.hidden]="hideBoundingBoxes || hideBoundingBoxesLocked"
          >
            @for (bbox of boundingBoxes; track bbox.id) {
              <div
                [style.--bbox-left]="
                  bbox.interpolated ? bbox.interpolated.left : bbox.left
                "
                [style.--bbox-top]="
                  bbox.interpolated ? bbox.interpolated.top : bbox.top
                "
                [style.--bbox-width]="
                  bbox.interpolated ? bbox.interpolated.width : bbox.width
                "
                [style.--bbox-height]="
                  bbox.interpolated ? bbox.interpolated.height : bbox.height
                "
                class="bbox"
                (click)="bboxClicked($event, bbox)"
                [class.selected]="bbox.selected"
                (mousedown)="bboxMouseDown($event, bbox, 'move')"
                (dblclick)="bboxDoubleClick($event, bbox)"
                [class.selectable]="currentMode === 'select_existing'"
                [class.movable]="currentMode === 'move_or_resize'"
                (mouseenter)="bboxMouseEnter(bbox)"
                (mouseleave)="bboxMouseLeave(bbox)"
                [class.hovered]="bbox.id === hoveredId"
              >
                <div class="bbox-inner">
                  <div
                    class="bbox-label"
                    [class.show]="
                      showLabels &&
                      (bbox.id === hoveredId ||
                        alwaysShowLabels ||
                        alwaysShowLabelsLocked)
                    "
                  >
                    {{ bbox.label }}
                  </div>

                  @if (bbox.hasErrors) {
                    <div class="bbox-error-indicator">
                      <div class="bbox-error-indicator-inner">
                        <ng-icon name="bootstrapExclamationLg"></ng-icon>
                      </div>
                    </div>
                  }

                  @for (edge of edges; track edge) {
                    <div
                      class="bbox-sizing-edge {{ edge }}"
                      [class.horizontal]="edge === 'top' || edge === 'bottom'"
                      [class.vertical]="edge === 'left' || edge === 'right'"
                      [class.movable]="currentMode === 'move_or_resize'"
                      (mousedown)="bboxMouseDown($event, bbox, edge)"
                    >
                      <div
                        class="interaction-zone"
                        (mouseenter)="bboxMouseEnter(bbox)"
                        (mouseleave)="bboxMouseLeave(bbox)"
                      ></div>
                    </div>
                  }

                  @if (currentMode === 'move_or_resize' && bbox.selected) {
                    <div
                      class="bbox-sizing-element top-left"
                      (mousedown)="bboxMouseDown($event, bbox, 'top-left')"
                      (click)="$event.stopPropagation()"
                    ></div>
                    <div
                      class="bbox-sizing-element top-right"
                      (mousedown)="bboxMouseDown($event, bbox, 'top-right')"
                      (click)="$event.stopPropagation()"
                    ></div>
                    <div
                      class="bbox-sizing-element bottom-left"
                      (mousedown)="bboxMouseDown($event, bbox, 'bottom-left')"
                      (click)="$event.stopPropagation()"
                    ></div>
                    <div
                      class="bbox-sizing-element bottom-right"
                      (mousedown)="bboxMouseDown($event, bbox, 'bottom-right')"
                      (click)="$event.stopPropagation()"
                    ></div>
                  }
                </div>
              </div>
            }
            @if (
              temporaryBboxRect &&
              (currentMode === 'create_new' ||
                currentMode === 'select_existing')
            ) {
              <div
                class="temporary-bbox"
                [style.--bbox-left]="temporaryBboxRect.left"
                [style.--bbox-top]="temporaryBboxRect.top"
                [style.--bbox-width]="temporaryBboxRect.width"
                [style.--bbox-height]="temporaryBboxRect.height"
              >
                <div class="bbox-inner"></div>
              </div>
            }
          </div>
        </div>
      </div>
    </div>

    @if (
      currentMode === 'create_new' && lastMouseX !== null && lastMouseY !== null
    ) {
      <div class="vertical-line" [style.--x.px]="lastMouseX"></div>
      <div class="horizontal-line" [style.--y.px]="lastMouseY"></div>
    }
  </div>

  <ng-template #workspaceContextMenu>
    <div class="ctx-menu" cdkMenu>
      <button
        class="ctx-menu-item"
        cdkMenuItem
        (click)="resourcePreviewRequested.emit()"
      >
        {{ t('contextMenu.preview') }}
      </button>
    </div>
  </ng-template>
</ng-container>
