.listing-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  padding: 40px 86px;

  gap: 64px;

  @media (max-width: 768px) {
    padding: 40px 24px;
  }
}

h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.title-section {
  display: inline-flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  max-width: 600px;
}

.header {
  display: flex;
  flex-wrap: wrap;
  column-gap: 80px;
  row-gap: 8px;
  width: 100%;
  justify-content: space-between;
}

.search-section {
  min-width: 328px;
}

.listing-items-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 240px);
  justify-content: space-between;
  grid-gap: 36px;
  align-items: center;
  justify-content: center;

  .loader {
    width: 242px;
    height: 173px;
    border-radius: 4px;
  }
}

.no-projects {
  color: var(--trapper-color-no-items);
  display: flex;
  width: 100%;
  justify-content: center;
}

:host {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}
