<ng-container *transloco="let t; read: 'csProjects.projectListing'">
  <trapper-ui-card
    cardWidth="xxl"
    horizontalPadding="none"
    *ngIf="profileData$ | async"
    @inOutAnimation
  >
    <div class="listing-content">
      <div class="header">
        <div class="title-section">
          <h1>
            {{ t('projectListingTitle') }}
          </h1>
          <h2>
            {{ t('projectListingSubTitle') }}
          </h2>
        </div>
        <div class="search-section">
          <trapper-ui-text-input
            placeholder="Search (title, description, keywords etc.)"
            [ngModel]="searchText$ | async"
            (ngModelChange)="onSearchTextChange($event)"
            fontIcon="search"
          ></trapper-ui-text-input>
        </div>
      </div>
      <ng-container *ngIf="projects$ | async as projects; else noData">
        <div *ngIf="projects.length === 0" class="no-projects">
          <span>
            {{ t('noProjectsFound') }}
          </span>
        </div>
        <div class="listing-items-wrapper" @inOutAnimation>
          <div *ngFor="let project of projects">
            <trapper-frontend-project-listing-item
              [project]="project"
            ></trapper-frontend-project-listing-item>
          </div>
        </div>
      </ng-container>
      <ng-template #noData>
        <div
          class="listing-items-wrapper"
          *ngIf="(inProgress$ | async) === true"
        >
          <ngx-skeleton-loader
            class="loader"
            animation="pulse"
            [theme]="{
              backgroundColor:
                'var(--trapper-color-skeleton-loader-background)',
              width: '242px',
              height: '173px',
              'border-radius': '4px'
            }"
            count="1"
            appearance="circle"
            *ngFor="let project of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]"
          ></ngx-skeleton-loader>
        </div>
        <span *ngIf="(inProgress$ | async) === false" class="no-projects">
          {{ t('noProjectsFound') }}
        </span>
      </ng-template>
    </div>
  </trapper-ui-card>
</ng-container>
