<ng-container *transloco="let t; read: 'csProjects.deploymentListing'">
  <trapper-ui-responsive-table
    [items]="(deployments$ | async) || []"
    [isLoading]="(listingItems$ | async) === null"
    [selectedItems]="selectedItems"
    (selectedItemsChange)="onSelectedItemsChange($event)"
    [clickableRows]="false"
    [selectableRows]="true"
    [rowSelectionEnabledFunction]="rowSelectionEnabledFunction"
    [selectionDisabledTooltip]="t('noPermissionToSelectDeployment')"
  >
    <ng-template
      trapperUiTableCellDef="header"
      [label]="t('thumbnailColHeader')"
      let-deployment="item"
      gridWidth="106px"
      [mainCell]="true"
    >
      <trapper-ui-thumbnail-grid-mini
        [thumbnails]="deployment.thumbnail_urls"
      ></trapper-ui-thumbnail-grid-mini>
    </ng-template>

    <ng-template
      trapperUiTableCellDef="name"
      let-deployment="item"
      [label]="t('nameColHeader')"
      gridWidth="minmax(100px, 2fr)"
    >
      <a [routerLink]="[deployment.pk, 'details']">
        {{ deployment.deployment_id }}
      </a>
    </ng-template>

    <ng-template
      trapperUiTableCellDef="location"
      let-deployment="item"
      [label]="t('locationColHeader')"
      gridWidth="minmax(100px, 2fr)"
    >
      {{ deployment.location_name }}
    </ng-template>

    <ng-template
      trapperUiTableCellDef="species"
      let-deployment="item"
      [label]="t('speciesColHeader')"
      gridWidth="minmax(100px, 2fr)"
    >
      <div class="species">
        <trapper-ui-badge
          *ngFor="let species of deployment.species"
          [color]="
            species.isOther
              ? 'var(--trapper-color-other)'
              : 'var(--trapper-color-secondary)'
          "
          [matTooltip]="species.latin_name"
          >{{ species.english_name }}
          <span *ngIf="species.total > 1">({{ species.total }}x)</span>
        </trapper-ui-badge>
        <span *ngIf="deployment.species.length === 0">-</span>
      </div>
    </ng-template>

    <ng-template
      trapperUiTableCellDef="datetime"
      let-deployment="item"
      [label]="t('datetimeColHeader')"
      gridWidth="minmax(180px, 2fr)"
    >
      {{ deployment.start_date | date: 'yyyy-MM-dd' }} -
      {{ deployment.end_date | date: 'yyyy-MM-dd' }}
    </ng-template>

    <ng-template
      trapperUiTableCellDef="sequences"
      let-deployment="item"
      [label]="t('sequencesColHeader')"
      gridWidth="minmax(100px, 1fr)"
    >
      {{ deployment.sequences }}
    </ng-template>

    <ng-template
      trapperUiTableCellDef="owner"
      let-deployment="item"
      [label]="t('ownerColHeader')"
      gridWidth="minmax(48px, 1fr)"
    >
      <trapper-ui-user-mini-avatar
        [avatarUrl]="deployment.owner.avatar"
        [name]="deployment.owner.name"
        (click)="openUserDetails(deployment.owner)"
      ></trapper-ui-user-mini-avatar>
    </ng-template>

    <ng-template
      trapperUiTableCellDef="actions"
      let-deployment="item"
      [label]="t('actionsColHeader')"
      gridWidth="128px"
      [mainCell]="true"
    >
      <div class="icon-set-wrapper">
        <a
          class="icon-button"
          [routerLink]="[deployment.pk, 'details']"
          [matTooltip]="t('previewActionTooltip')"
          (click)="$event.stopPropagation()"
        >
          <mat-icon fontIcon="preview"></mat-icon>
        </a>
        <a
          class="icon-button"
          [routerLink]="[deployment.pk, 'edit']"
          *ngIf="deployment.can_update"
          [matTooltip]="t('editActionTooltip')"
          (click)="$event.stopPropagation()"
        >
          <mat-icon fontIcon="edit"></mat-icon>
        </a>
        <a
          class="icon-button"
          *ngIf="deployment.thumbnail_urls.length > 0"
          [matTooltip]="t('classifyDeploymentTooltip')"
          [routerLink]="['../classify', deployment.thumbnails[0].pk]"
          [queryParams]="{ deployment: deployment.pk }"
          (click)="$event.stopPropagation()"
        >
          <mat-icon fontIcon="copy_all"></mat-icon>
        </a>
        <button
          class="icon-button"
          *ngIf="deployment.can_delete"
          (click)="deleteDeployment(deployment); $event.stopPropagation()"
          [matTooltip]="t('deleteActionTooltip')"
        >
          <mat-icon fontIcon="delete"></mat-icon>
        </button>
      </div>
    </ng-template>
  </trapper-ui-responsive-table>
</ng-container>
