:host {
  width: 100%;
}

.owner {
  max-width: 100%;
  a {
    max-width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    gap: 6px;

    span {
      max-width: calc(100% - 6px - 22px);
      display: block;
      flex: 1 1 auto;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}

.icon-button {
  color: var(--trapper-color-icon-button);
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  padding: 0;
  border: none;
  mat-icon {
    width: 24px;
    height: 24px;
    font-size: 24px;
    display: inline-block;
  }
}

.no-items {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 400;
  color: var(--trapper-color-no-items);
}

.icon-set-wrapper {
  --icon-w: 24px;
  --icon-set-gap: 8px;
  $icon-count: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--icon-set-gap);
  width: calc(
    var(--icon-w) * $icon-count + ($icon-count - 1) * var(--icon-set-gap)
  );
  flex-shrink: 0;
}

.species {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
  justify-content: center;
}
