<div class="alert" [class]="'alert-' + variant" [class.no-icon]="!hasIcon">
  <span class="icon-wrapper" *ngIf="hasIcon">
    <mat-icon [fontIcon]="icon"></mat-icon>
  </span>
  <span class="text-wrapper" [class.no-icon]="!hasIcon">
    <ng-content></ng-content>
  </span>
</div>
