.alert {
  width: 100%;
  background: var(--trapper-color-alert-info);
  color: var(--trapper-color-alert-info-text);
  border: 0;
  border-radius: 4px;
  padding: 12px;
  display: flex;
  align-items: center;
  gap: 8px;
  &.alert-error {
    background: var(--trapper-color-alert-error);
    color: var(--trapper-color-alert-error-text);
  }
  &.alert-warning {
    background: var(--trapper-color-alert-warning);
    color: var(--trapper-color-alert-warning-text);
  }
  &.alert-success {
    background: var(--trapper-color-alert-success);
    color: var(--trapper-color-alert-success-text);
  }
  &.alert-info {
    background: var(--trapper-color-alert-info);
    color: var(--trapper-color-alert-info-text);
  }
}

.no-icon {
  display: flex;
  justify-content: center;
  width: 100%;
}
