.zoom-controls-container {
  display: flex;
  opacity: 90%;
  border-radius: 4px;
  background-color: var(--trapper-color-muted-background);
  overflow: hidden;
}

.zoom-value {
  width: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}
