<div
  class="zoom-controls-container"
  *transloco="let t; prefix: 'resourceAnnotator.zoomControls'"
>
  <trapper-tool-button (click)="zoomOut()" icon="featherZoomOut">
  </trapper-tool-button>
  <trapper-tool-button
    class="zoom-value"
    (click)="resetZoom()"
    [matTooltip]="t('resetZoom')"
  >
    <span> {{ zoom * 100 | number: '1.0-0' }}% </span>
  </trapper-tool-button>
  <trapper-tool-button (click)="zoomIn()" icon="featherZoomIn">
  </trapper-tool-button>
</div>
