:host {
  --max-h: 90vh;
  --max-w: 94vw;
  --min-h: 800px;
  --min-w: 1100px;
  --image-roll-padding: 16px;
  --image-roll-height: 120px;
  --gap: 24px;
  --scrollbar-size: 5px;
  --scrollbar-hover-size: 8px;
  --heading-height: 48px;
  display: block;
  outline: none;

  max-width: var(--max-w);
  max-height: var(--max-h);
  width: var(--min-w);
  height: var(--min-h);

  overflow: hidden;
  background-color: var(--trapper-color-secondary-background);

  border-radius: 5px;
}

.gallery-content {
  height: calc(
    min(var(--max-h), var(--min-h)) - var(--image-roll-height) - var(
        --heading-height
      )
  );
  position: relative;
  .prev-button-container {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 1;
  }

  .next-button-container {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 1;
  }

  .prev-button,
  .next-button {
    padding: 8px;
    font-size: 48px;
    mat-icon {
      font-size: 1em;
      width: 1em;
      height: 1em;
      line-height: 1em;
    }
  }
}

.gallery-heading {
  height: var(--heading-height);
  color: var(--trapper-color-text-contrast);
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .actions-section {
    display: flex;
    align-items: center;
    gap: 8px;

    .action-button {
      border: none;
      background: transparent;
      cursor: pointer;
      padding: 0;
      color: var(--trapper-color-icon-button);
    }
  }

  .info-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    .title {
      //   font-size: 24px;
      font-weight: 500;
    }
    .info {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 8px 16px;
    }
  }
}

.image-roll-container {
  width: 100%;
  height: var(--image-roll-height);
  display: flex;
  justify-content: stretch;
  align-items: flex-start;
  gap: 24px;
  box-sizing: content-box;
  .image-roll-images-wrapper {
    display: inline-flex;
    align-items: flex-start;

    gap: 24px;
    padding: 16px;
  }

  ng-scrollbar {
    width: 100%;
    height: 100%;
  }

  img,
  trapper-ui-thumbnail-with-bboxes {
    height: calc(
      (var(--image-roll-height) - 2 * var(--image-roll-padding) - 4px)
    );
    aspect-ratio: 4/3;
    object-fit: cover;
    border-radius: 4px;
  }

  .image-roll-button {
    cursor: pointer;
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0;
  }
}
