<div class="gallery" *transloco="let t; read: 'csProjects.mediaListing'">
  <div
    class="gallery-heading"
    *ngIf="currentProject$ | async as currentProject"
  >
    <ng-container *ngIf="currentItem$ | async as item">
      <div class="info-section">
        <div class="title">{{ item.name }}</div>
        <div class="info">
          <span>{{ item.deployment?.deployment_id }}</span>
          <span>{{ item.date_recorded }}</span>
        </div>
      </div>
      <div class="actions-section">
        <a
          class="action-button"
          [routerLink]="[
            '/cs/projects/',
            currentProject.slug,
            'media',
            item.pk
          ]"
          [matTooltip]="t('previewActionTooltip')"
          (click)="close()"
        >
          <mat-icon fontIcon="preview"></mat-icon
        ></a>
        <a
          class="action-button"
          [matTooltip]="t('classifyActionTooltip')"
          [routerLink]="[
            '/cs/projects/',
            currentProject.slug,
            'classify',
            item.pk
          ]"
          [queryParams]="{
            deployment: item.deployment?.pk
          }"
          (click)="close()"
        >
          <mat-icon fontIcon="flip_to_back"></mat-icon
        ></a>
        <a
          class="action-button"
          [matTooltip]="t('markAsFavouriteActionTooltip')"
          (click)="markAsFavourite(item)"
        >
          <mat-icon
            [fontIcon]="item.is_favorite ? 'star' : 'star_border'"
          ></mat-icon
        ></a>

        <a class="action-button" (click)="close()">
          <mat-icon fontIcon="close"></mat-icon>
        </a></div
    ></ng-container>
  </div>
  <div class="gallery-content">
    <div class="prev-button-container">
      <a class="prev-button" (click)="onPrev()">
        <mat-icon fontIcon="chevron_left"></mat-icon>
      </a>
    </div>
    @if (currentItem$ | async; as currentItem) {
      <trapper-resource-annotator
        [resourceSrc]="
          currentItem.resource_type === 'V'
            ? currentItem.original_url
            : currentItem.thumbnail_url.replace('/tfile/', '/pfile/')
        "
        [hdResourceSrc]="currentItem.original_url"
        [isVideo]="currentItem.resource_type === 'V'"
        [bboxes]="objects$ | async"
        [readOnly]="true"
        [showLabels]="false"
        [autoFitPaddingLeft]="0"
        [showObjectList]="false"
      ></trapper-resource-annotator>
    }
    <div class="next-button-container">
      <a class="next-button" (click)="onNext()">
        <mat-icon fontIcon="chevron_right"></mat-icon>
      </a>
    </div>
  </div>
  <div class="gallery-footer">
    <div class="image-roll-container" #rollContainer>
      <ng-scrollbar
        autoHeightDisabled="false"
        track="all"
        orientation="horizontal"
        class="image-roll-scrollbar"
        (wheel)="onScroll($event)"
        externalViewport
        cdkVirtualScrollViewport
      >
        <cdk-virtual-scroll-viewport
          orientation="horizontal"
          [itemSize]="itemWidth"
          scrollViewport
          #scrollViewport
        >
          <div
            class="image-roll-images-wrapper"
            infiniteScroll
            [infiniteScrollDistance]="20"
            [infiniteScrollUpDistance]="20"
            [infiniteScrollThrottle]="50"
            [horizontal]="true"
            [scrollWindow]="false"
            [alwaysCallback]="true"
          >
            <div
              *cdkVirtualFor="let item of listingItems$ | async; let i = index"
              #item
            >
              <button
                class="image-roll-button"
                (click)="setCurrentItem(item.pk)"
              >
                <trapper-ui-thumbnail-with-bboxes
                  [thumbnailUrl]="item.thumbnail_url"
                  [bboxes]="item.bboxes"
                  [isSelected]="(currentItemId$ | async) === item.pk"
                ></trapper-ui-thumbnail-with-bboxes>
              </button>
            </div>
          </div>
        </cdk-virtual-scroll-viewport>
      </ng-scrollbar>
    </div>
  </div>
</div>
