<trapper-ui-card *transloco="let t; read: 'csProjects.teamsShareDeployment'">
  <h1 class="trapper-common-text-center">{{ t('header') }}</h1>
  <p [innerHTML]="t('message')"></p>

  <div class="form-container" *ngIf="(sharingResults$ | async) === null">
    <trapper-ui-form-field>
      <trapper-ui-label>
        {{ t('shareWithLabel') }}
      </trapper-ui-label>
      <trapper-ui-select-box-input
        [items]="availableTeams$ | async"
        [(ngModel)]="selectedTeamId"
        [placeholder]="t('shareWithPlaceholder')"
        [searchable]="true"
      ></trapper-ui-select-box-input>
    </trapper-ui-form-field>
    <trapper-ui-checkbox [(ngModel)]="shareLocation">
      {{ t('shareLocation') }}
    </trapper-ui-checkbox>
  </div>

  <div class="sharing-results" *ngIf="rejected$ | async as rejected">
    <div class="no-rejected" *ngIf="rejected.length === 0">
      {{ t('noRejected') }}
    </div>
    <span class="rejected-deployments-info" *ngIf="rejected.length > 0">{{
      t('rejected')
    }}</span>

    <div
      class="deployments-list"
      *ngIf="allDeployments$ | async as deployments"
    >
      <div *ngFor="let deployment of deployments" class="dl-item">
        <span class="deployment-code"
          ><b>{{ deployment.deployment_code }}</b></span
        >
        <trapper-ui-yes-no-flag
          [value]="deployment.rejection_reason === null"
          [yesText]="t('sharedWithoutIssues')"
          [noText]="deployment.rejection_reason || ''"
          [swapLabelWithIcon]="true"
        ></trapper-ui-yes-no-flag>
      </div>
    </div>
  </div>

  <div class="buttons-container">
    <ng-container *ngIf="(sharingResults$ | async) === null">
      <trapper-ui-button
        (click)="share()"
        variant="primary"
        [disabled]="!selectedTeamId || (shareInProgress$ | async) || false"
        [inProgress]="(shareInProgress$ | async) || false"
      >
        {{ t('ok') }}
      </trapper-ui-button>
      <trapper-ui-button
        (click)="cancel()"
        variant="no-outline-link"
        [disabled]="(shareInProgress$ | async) || false"
      >
        {{ t('cancel') }}
      </trapper-ui-button>
    </ng-container>
    <trapper-ui-button
      variant="primary"
      *ngIf="sharingResults$ | async"
      (click)="close()"
    >
      {{ t('close') }}
    </trapper-ui-button>
  </div>
</trapper-ui-card>
