<ng-container *transloco="let t; read: 'csLayout.footer'">
  <div class="copyright" [class.compact-mode]="compactMode">
    <span *ngIf="projectName$ | async as projectName">
      {{ t('copyRight', { projectName, currentYear }) }}.
      {{ t('poweredBy') }}
      <a href="https://gitlab.com/trapper-project/trapper" target="_blank"
        >Trapper</a
      >
      {{ t('poweredByAnd') }}
      <a
        href="https://gitlab.com/trapper-project/trapper-ai-worker"
        target="_blank"
        >TrapperAI</a
      >
    </span>
    <mat-icon
      fontIcon="info_outline"
      *ngIf="versionInfo$ | async as version"
      [matTooltip]="version"
      matTooltipClass="tooltip-multiline"
    ></mat-icon>
  </div>
</ng-container>
<div class="social-icons">
  <a *ngIf="linkedin_url$ | async as linkedin_url" [href]="linkedin_url">
    <svg
      width="31"
      height="31"
      viewBox="0 0 31 31"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M15.3524 0C6.87338 0 0 6.87338 0 15.3524C0 23.8314 6.87338 30.7047 15.3524 30.7047C23.8314 30.7047 30.7047 23.8314 30.7047 15.3524C30.7047 6.87338 23.8314 0 15.3524 0ZM11.5942 21.7156H8.48538V11.711H11.5942V21.7156ZM10.0206 10.4828C9.03871 10.4828 8.40382 9.78714 8.40382 8.92676C8.40382 8.0488 9.0579 7.37394 10.0606 7.37394C11.0633 7.37394 11.6774 8.0488 11.6966 8.92676C11.6966 9.78714 11.0633 10.4828 10.0206 10.4828ZM22.9486 21.7156H19.8397V16.1712C19.8397 14.8806 19.3888 14.0042 18.2645 14.0042C17.4058 14.0042 16.8956 14.5975 16.6701 15.1685C16.587 15.3716 16.5662 15.6594 16.5662 15.9457V21.714H13.4557V14.9014C13.4557 13.6524 13.4157 12.6081 13.3742 11.7094H16.0752L16.2175 13.0991H16.2799C16.6893 12.4466 17.692 11.4839 19.3696 11.4839C21.415 11.4839 22.9486 12.8544 22.9486 15.8001V21.7156Z"
        fill="currentColor"
        style="color: var(--trapper-color-input-text)"
      />
    </svg>
  </a>
  <a *ngIf="twitter_url$ | async as twitter_url" [href]="twitter_url">
    <svg
      width="31"
      height="31"
      viewBox="0 0 31 31"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M15.6475 0C7.16946 0 0.295166 6.8743 0.295166 15.3524C0.295166 23.8304 7.16946 30.7047 15.6475 30.7047C24.1256 30.7047 30.9999 23.8304 30.9999 15.3524C30.9999 6.8743 24.1256 0 15.6475 0ZM23.0256 11.5725C23.0359 11.7336 23.0359 11.9015 23.0359 12.066C23.0359 17.0966 19.2046 22.8915 12.2035 22.8915C10.0446 22.8915 8.04332 22.2644 6.3573 21.1849C6.66571 21.2192 6.96043 21.2329 7.2757 21.2329C9.05767 21.2329 10.6957 20.6297 12.0013 19.6085C10.329 19.5743 8.92402 18.4777 8.44426 16.9699C9.03025 17.0555 9.55799 17.0555 10.1611 16.9013C9.30004 16.7264 8.52608 16.2587 7.97072 15.5778C7.41537 14.8969 7.11287 14.0447 7.11463 13.166V13.1181C7.61838 13.4025 8.21123 13.5773 8.8315 13.6012C8.31007 13.2537 7.88245 12.7829 7.58655 12.2306C7.29065 11.6783 7.13562 11.0614 7.1352 10.4348C7.1352 9.72545 7.32025 9.07778 7.65265 8.51577C8.60841 9.69234 9.80106 10.6546 11.1531 11.3401C12.5051 12.0255 13.9862 12.4188 15.5002 12.4944C14.9622 9.90708 16.8949 7.81326 19.2183 7.81326C20.3149 7.81326 21.3019 8.27246 21.9975 9.01266C22.8577 8.8516 23.6801 8.52948 24.4135 8.09769C24.129 8.9784 23.5328 9.72203 22.7412 10.1915C23.5088 10.1093 24.249 9.8968 24.9344 9.59866C24.4169 10.3594 23.7692 11.0345 23.0256 11.5725Z"
        fill="currentColor"
        style="color: var(--trapper-color-input-text)"
      />
    </svg>
  </a>
  <a *ngIf="facebook_url$ | async as facebook_url" [href]="facebook_url">
    <svg
      width="32"
      height="31"
      viewBox="0 0 32 31"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M31.2917 15.3908C31.2917 6.8951 24.4138 0 15.9393 0C7.46478 0 0.586914 6.8951 0.586914 15.3908C0.586914 22.84 5.86813 29.0425 12.8688 30.4739V20.0081H9.79834V15.3908H12.8688V11.5431C12.8688 8.5727 15.2791 6.15634 18.2421 6.15634H22.0802V10.7736H19.0098C18.1654 10.7736 17.4745 11.4662 17.4745 12.3127V15.3908H22.0802V20.0081H17.4745V30.7047C25.2275 29.9352 31.2917 23.3787 31.2917 15.3908Z"
        fill="currentColor"
        style="color: var(--trapper-color-input-text)"
      />
    </svg>
  </a>
</div>
