:host {
  background: var(--trapper-color-app-footer-background);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 8px;

  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: var(--trapper-footer-height);
  @media (min-width: 1414px) {
    padding: 0 128px;
  }
  @media (min-width: 1920px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: var(--trapper-footer-height);
    padding: 0 286px;
  }

  &.compact-mode {
    padding: 0 16px;
  }
}
.social-icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 4px;
  svg {
    height: 21px;
  }
}

.copyright {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--trapper-color-input-text);
  gap: 4px;

  a {
    color: var(--trapper-color-input-text);
    text-decoration: underline;
    font-size: inherit;
  }

  @media (max-width: 1919px) {
    font-size: 12px;
    line-height: 20px;
  }

  &.compact-mode {
    font-size: 12px;
    line-height: 20px;
  }

  mat-icon {
    font-size: inherit;
    width: 1em;
    height: 1em;
    line-height: 1em;
  }
}
