<trapper-ui-card
  *transloco="
    let t;
    read: 'csProjects.classification.deleteObjectsConfirmation'
  "
>
  <h1>
    {{ t('deleteObjectsTitle') }}
  </h1>
  <trapper-ui-simple-message>
    {{ t('confirmationText') }}
  </trapper-ui-simple-message>
  <trapper-ui-form-column>
    <trapper-ui-button (click)="ok()" variant="danger">
      {{ t('yes') }}
    </trapper-ui-button>
    <trapper-ui-button (click)="cancel()" variant="secondary">
      {{ t('no') }}
    </trapper-ui-button>
  </trapper-ui-form-column>
</trapper-ui-card>
