<ng-container *transloco="let t; read: 'csProjects.classificationView'">
  <div class="image-roll-container" #imageRollContainer>
    <ng-scrollbar
      externalViewport
      autoHeightDisabled="false"
      track="horizontal"
      orientation="horizontal"
      class="image-roll-scrollbar"
      (wheel)="onScroll($event)"
      #imageRollScrollbar
    >
      <div
        class="image-roll-scroll-viewport"
        scrollViewport
        infiniteScroll
        [infiniteScrollDistance]="2"
        [infiniteScrollUpDistance]="1"
        [infiniteScrollThrottle]="150"
        [horizontal]="true"
        [scrollWindow]="false"
        [alwaysCallback]="true"
        (scrolled)="onScrollDown()"
        (scrolledUp)="onScrollUp()"
        #imageRollScrollViewport
      >
        <div class="image-roll-sequences-wrapper">
          <div
            class="image-roll-single-sequence placeholder-reloading"
            *ngIf="reloading"
          >
            <span class="sequence-id">
              {{ t('imageRollLoadingPreviousThumbnails') }}
            </span>
            <div class="image-roll-images-wrapper">
              <div class="placeholder"></div>
            </div>
          </div>
          <div class="image-roll-single-sequence" *ngIf="fetchingPreviousPage">
            <span class="sequence-id">
              {{ t('imageRollLoadingPreviousThumbnails') }}
            </span>
            <div class="image-roll-images-wrapper">
              <div class="placeholder"></div>
            </div>
          </div>
          <div
            class="image-roll-single-sequence"
            *ngFor="
              let sequence of results$ | async;
              trackBy: imageRollSequencesTrakcByFn
            "
          >
            <a class="sequence-id" (click)="selectSequence(sequence.id)">
              {{ t('sequenceId', { sequenceId: sequence.sequence_id }) }}
              <mat-icon
                *ngIf="!sequence.isSequenceDataLoaded"
                fontIcon="settings-outline"
                class="sequence-loading-icon"
              ></mat-icon>
            </a>
            <div class="image-roll-images-wrapper">
              <div
                *ngFor="
                  let item of sequence.images;
                  trackBy: imageRollTrackByFn
                "
                class="image-roll-image-wrapper"
                [matTooltip]="
                  t('imageRollTooltip', {
                    fileName: item.name,
                    dateRecorded: item.date_recorded
                  })
                "
                matTooltipClass="tooltip-multiline"
              >
                <button
                  class="image-roll-button"
                  [attr.data-classification-id]="item.pk"
                  (click)="rollThumbnailClicked(item)"
                  #imageRollButton
                >
                  <div>
                    <trapper-ui-thumbnail-with-bboxes
                      [rounded]="false"
                      [wide]="true"
                      [thumbnailUrl]="item.thumbnail_url"
                      [isSelected]="item.pk === currentClassificationId"
                      [isHighlighted]="item.selected"
                      [bboxes]="item.bboxes"
                      [class.active-thumbnail]="
                        item.pk === currentClassificationId
                      "
                    ></trapper-ui-thumbnail-with-bboxes>
                  </div>
                </button>
                <a
                  class="roll-button"
                  (click)="rollItemSelectButtonClicked(item, $event)"
                  [class.button-me]="item.is_classified_by_me"
                  [class.button-expert]="item.is_approved"
                >
                  {{ t('imageRollButton') }}
                  <span class="checkmark-wrapper" *ngIf="item.is_approved">
                    <mat-icon fontIcon="done"></mat-icon>
                  </span>
                </a>
              </div>
            </div>
          </div>
          <div class="image-roll-single-sequence" *ngIf="fetchingNextPage">
            <span class="sequence-id">
              {{ t('imageRollLoadingNextThumbnails') }}
            </span>
            <div class="image-roll-images-wrapper">
              <div class="placeholder"></div>
            </div>
          </div>
        </div>
      </div>
    </ng-scrollbar>
  </div>
</ng-container>
