:host {
  width: 100%;
  --roll-button-height: 22px;
  --sequence-section-height: 160px;
}
.image-roll-sequence-placeholder {
  display: flex;
  width: 200px;
  height: var(--image-roll-height);
  background: var(--trapper-color-image-roll-sequence-background);
  border-radius: 5px;
}

.image-roll-scrollbar {
  --scrollbar-size: 5px;
  --scrollbar-hover-size: 8px;
  --scrollbar-thumb-color: var(--trapper-color-muted);
}

.image-roll-container {
  --image-roll-padding: 8px;
  --sequence-header: 24px;
  width: 100%;
  display: flex;
  justify-content: stretch;
  align-items: flex-start;
  gap: 0px;
  box-sizing: content-box;
  .image-roll-single-sequence {
    position: relative;
    padding-bottom: 12px;

    &.placeholder-reloading {
      width: 100%;
    }

    .placeholder {
      height: var(--image-roll-height);
    }
  }

  .sequence-id {
    font-size: 16px;
    color: var(--trapper-color-image-roll-sequence-label);
    position: sticky;
    left: 0;
    top: 2px;
    display: inline-flex;
    align-items: center;
    height: 24px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border: solid 1px var(--trapper-color-muted-background);
    padding: 4px 12px;
  }
  // spin animation
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .sequence-loading-icon {
    color: var(--trapper-color-image-roll-sequence-label);
    font-size: 1em;
    width: 1em;
    height: 1em;
    animation: spin 2s linear infinite;
  }
  .image-roll-sequences-wrapper {
    display: flex;
    gap: 8px;
  }
  .image-roll-images-wrapper {
    display: flex;
    align-items: flex-start;

    gap: 8px;
    padding: var(--image-roll-padding);

    border-radius: 5px;
    border-top-left-radius: 0px;
    background: var(--trapper-color-image-roll-sequence-background);
  }

  ng-scrollbar {
    width: 100%;
    // height: 100%;
  }

  trapper-ui-thumbnail-with-bboxes {
    height: calc(
      (var(--image-roll-height) - 2 * var(--image-roll-padding) - 4px)
    );
    // aspect-ratio: 4/3;
    flex-shrink: 0;
    object-fit: cover;
    border-radius: 4px;
  }

  .image-roll-button {
    cursor: pointer;
    border: none;
    background: transparent;
    padding: 0;
    position: relative;
  }
  .image-roll-thumbnail {
    position: absolute;
  }
}

.roll-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 22px;
  width: 100%;
  border-radius: 0px 0px 4px 4px;
  background: var(--trapper-color-image-roll-item-background);
  border: none;
  cursor: pointer;
  position: relative;
  font-size: 12px;

  &.button-me {
    color: var(--trapper-color-me-contrast);
    background-color: var(--trapper-color-me);
  }

  &.button-expert {
    color: var(--trapper-color-approved-contrast);
    background-color: var(--trapper-color-approved);
  }

  .checkmark-wrapper {
    position: absolute;
    right: 4px;
    border-left: 1px solid var(--trapper-color-input-border);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 12px;
    width: 28px;
    mat-icon {
      width: 1em;
      height: 1em;
      font-size: inherit;
      line-height: 1em;
    }
  }
}

.image-roll-image-wrapper {
  background-color: var(--trapper-color-image-roll-item-background);
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 8px 16px 0px rgba(46, 46, 46, 0.16);
}
