<div
  class="sidebar"
  [class.wide-screen]="wideScreen"
  [class.sidebar-compact-mode]="sidebarCompactMode"
  [class.sidebar-expanded]="sidebarExpanded"
  (click)="clickOnSidebar($event)"
>
  <div class="sidebar-header" *transloco="let t; read: 'csProjects.sidebar'">
    <div class="sidebar-header-nav">
      @if (sidebarExpanded) {
        <a class="switch-project" routerLink="/cs/projects">
          {{ t('switchProject') }} <mat-icon fontIcon="swap_horiz"></mat-icon
        ></a>
      }
      <a (click)="toggleSidebar()" class="sidebar-toggle">
        <mat-icon
          [fontIcon]="sidebarExpanded ? 'navigate_before' : 'navigate_next'"
        ></mat-icon>
      </a>
    </div>
    <span @inOutAnimation *ngIf="sidebarExpanded">{{
      projectName$ | async
    }}</span>
  </div>

  <ng-container *transloco="let t; read: 'csProjects.sidebar'">
    <div class="sidebar-menu" *ngIf="sidebarExpanded">
      <ul>
        <li>
          <a
            routerLink="dashboard"
            class="link"
            routerLinkActive="active"
            data-testid="dashboard-link"
            ><mat-icon fontIcon="stacked_bar_chart"></mat-icon>
            {{ t('dashboard') }}
          </a>
        </li>
        <li>
          <a
            routerLink="upload"
            class="bold-link"
            routerLinkActive="active"
            data-testid="upload-link"
            ><mat-icon fontIcon="upload"></mat-icon>
            {{ t('upload') }}
          </a>
        </li>
        <li>
          <a
            routerLink="media"
            class="link"
            routerLinkActive="active"
            data-testid="media-link"
            ><mat-icon fontIcon="image_search"></mat-icon>
            {{ t('media') }}
          </a>
        </li>
        <li>
          <a
            routerLink="deployments"
            class="link"
            routerLinkActive="active"
            data-testid="deployments-link"
            ><mat-icon fontIcon="photo_camera"></mat-icon>
            {{ t('deployments') }}
          </a>
        </li>
        <li>
          <a
            routerLink="classify"
            class="link"
            routerLinkActive="active"
            data-testid="classify-link"
            ><mat-icon fontIcon="copy_all"></mat-icon>
            {{ t('classify') }}
          </a>
        </li>
        <li>
          <a
            routerLink="teams"
            class="link"
            routerLinkActive="active"
            data-testid="teams-link"
            ><mat-icon fontIcon="supervisor_account"></mat-icon>
            {{ t('teams') }}
          </a>
        </li>
      </ul>
    </div>
  </ng-container>

  <div class="sidebar-footer" *ngIf="sidebarExpanded">
    <img src="/api/cs/sidebar_image/" />
  </div>
</div>
