:host {
  &.sidebar-expanded:not(.wide-screen),
  &.sidebar-expanded.sidebar-compact-mode {
    position: absolute;
    left: 0;
    right: 0;
    top: var(--sidebar-top-offset, 0);
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
  }
  z-index: 10002;
  position: relative;

  &.wide-screen:not(.sidebar-compact-mode) {
    z-index: 9999;
  }
}
.sidebar {
  background: var(--trapper-sidebar-background);

  flex-direction: column;
  padding-top: 16px;
  padding-left: 20px;
  padding-right: 45px;
  // position: sticky;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;

  // height: 56px;
  // height: 100%;

  gap: 40px;

  flex-shrink: 0;
  // align-self: flex-start;
  display: none;

  height: calc(
    100% - var(--trapper-workspace-top-margin) - var(
        --trapper-workspace-bottom-margin
      )
  );

  &.sidebar-expanded {
    width: 240px;
    min-height: 840px;
    display: flex;
  }

  &.wide-screen:not(.sidebar-compact-mode) {
    position: relative;
    display: flex;
    margin-top: var(--trapper-workspace-top-margin);
    margin-bottom: var(--trapper-workspace-bottom-margin);
  }

  &:not(.wide-screen),
  &.sidebar-compact-mode {
    height: 100%;
  }
}

.sidebar-footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  img {
    width: 100%;
    display: block;
  }
}

.sidebar-header {
  font-weight: 700;
  font-size: 24px;
  line-height: 1em;
  color: var(--trapper-color-text-contrast);
  width: 100%;
  display: flex;
  gap: 8px;
  flex-direction: column;

  min-height: 56px;
}

a {
  color: var(--trapper-color-text-contrast);
  vertical-align: middle;
  display: inline-flex;
  align-items: center;
  gap: 7px;

  mat-icon {
    width: 1em;
    height: 1em;
  }
}

.bold-link {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-block: 10px;
}

.link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.active {
  color: var(--trapper-color-link);
}

ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.switch-project {
  font-weight: 400;
  font-size: 14px;
  line-height: 1em;

  color: var(--trapper-color-link);
}

.sidebar-header-nav {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: space-between;
  margin-right: -25px;
}
