<trapper-ui-modal *transloco="let t; read: 'csConsents'">
  <ng-template #title>
    <h1>
      {{ t('tosUpdate.title') }}
    </h1>
  </ng-template>

  <form [formGroup]="formGroup">
    <trapper-ui-form-column>
      <div class="tos-content" [innerHTML]="content$ | async"></div>
      <div class="checkbox-container">
        <trapper-ui-checkbox
          formControlName="tos"
          [errors]="tosUpdateService.fieldError$('tos') | async"
        >
          {{ t('tosUpdate.accept') }}
        </trapper-ui-checkbox>
      </div>
    </trapper-ui-form-column>
  </form>

  <ng-template #footer>
    <trapper-ui-button
      (click)="updateTos()"
      [disabled]="!formGroup.controls.tos.value"
    >
      {{ t('tosUpdate.continue') }}
    </trapper-ui-button>
  </ng-template>
</trapper-ui-modal>

<ng-template #loading>
  <ngx-skeleton-loader
    animation="pulse"
    [theme]="{
      backgroundColor: 'var(--trapper-color-skeleton-loader-background)'
    }"
  ></ngx-skeleton-loader>
</ng-template>
