:host {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

label {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  color: var(--trapper-color-input-text);
  &.disabled {
    color: var(--trapper-color-disabled);
  }
}

input,
textarea {
  //   display: flex;
  //   flex-direction: row;
  //   align-items: flex-start;
  padding: 16px;
  font-size: 1em;
  line-height: 1em;

  border: 1px solid var(--trapper-color-input-border);
  outline-color: var(--trapper-color-outline);

  border-radius: 4px;
  //   height: 48px;
  flex-grow: 1;
  width: 100%;
  resize: none;

  transition: border-color 200ms;

  &.has-errors {
    border-color: var(--trapper-color-danger);
    margin-bottom: 0;
  }
  &.has-help-text {
    margin-bottom: 0;
  }
  &:disabled {
    border-color: var(--trapper-color-disabled-contrast);
  }
}

input {
  height: 48px;
}

.is-required {
  color: var(--trapper-color-required);
}

.help-icon {
  margin: -30px;
  line-height: 17px;
  font-size: 17px;
  width: 17px;
  height: 17px;
  vertical-align: middle;
  cursor: pointer;
}

.password-toggle {
  margin: -30px;
  line-height: 14px;
  vertical-align: middle;
  cursor: pointer;
}

.input-wrapper {
  //   padding-right: 32px;
  width: 100%;
}

::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: var(--trapper-form-placeholder-font-size);
  line-height: 16px;

  color: var(--trapper-color-form-placegolder);

  vertical-align: middle;
}
