<div class="input-wrapper">
  <input
    #dateInput
    type="text"
    (blur)="onTouched()"
    [ngModel]="value"
    (ngModelChange)="onChange($event)"
    [class.has-errors]="hasErrors"
    [placeholder]="placeholder || ''"
    [disabled]="disabled"
    [matDatepicker]="picker"
    (click)="picker.open()"
  />
  <mat-icon
    *ngIf="fontIcon"
    [fontIcon]="fontIcon"
    class="help-icon"
    (click)="picker.open()"
  ></mat-icon>
</div>
<mat-datepicker #picker></mat-datepicker>
