<ng-container *transloco="let t; read: 'csAccounts.reauthenticate'">
  <trapper-ui-card>
    <h1>
      {{ t('title') }}
    </h1>
    <p>
      {{ t('description') }}
    </p>

    <form
      trapperUiFormColumn
      [formGroup]="flow === 'reauthenticate' ? formGroupPassword : formGroupMfa"
    >
      @if (flow === 'reauthenticate') {
        <trapper-ui-form-field>
          <trapper-ui-label>
            {{ t('passwordLabel') }}
          </trapper-ui-label>
          <trapper-ui-text-input
            type="password"
            formControlName="password"
            testId="password-input"
          ></trapper-ui-text-input>
          <trapper-ui-server-errors
            formControlName="password"
          ></trapper-ui-server-errors>
        </trapper-ui-form-field>
      } @else {
        <trapper-ui-form-field>
          <trapper-ui-label>
            {{ t('codeLabel') }}
          </trapper-ui-label>
          <trapper-ui-text-input
            type="text"
            formControlName="code"
            testId="code-input"
          ></trapper-ui-text-input>
          <trapper-ui-server-errors
            formControlName="code"
          ></trapper-ui-server-errors>
        </trapper-ui-form-field>
      }

      <div class="non-field-errors-wrapper">
        <trapper-ui-non-field-errors
          *ngIf="nonFieldErrors$ | async as nonFieldErrors"
          [errors]="nonFieldErrors"
        >
        </trapper-ui-non-field-errors>
      </div>

      @for (availableFlow of flows; track $index) {
        @if (availableFlow !== flow) {
          <div class="use-authenticator-link">
            <a
              data-testid="use-authenticator-link"
              routerLink="."
              [queryParams]="{
                flows: flows,
                flow: availableFlow,
                next: postLoginRoute
              }"
            >
              @if (availableFlow === 'reauthenticate') {
                {{ t('usePasswordLink') }}
              } @else if (availableFlow === 'mfa_reauthenticate') {
                {{ t('useAuthenticatorLink') }}
              } @else {
                {{ availableFlow }}
              }
            </a>
          </div>
        }
      }

      <div class="buttons-wrapper">
        <trapper-ui-button
          (click)="reauthenticate()"
          [inProgress]="(inProgress$ | async) || false"
          testId="reauthenticate-button"
        >
          {{ t('reauthenticateButton') }}
        </trapper-ui-button>
      </div>
    </form>
  </trapper-ui-card>
</ng-container>
