<trapper-ui-card
  *transloco="let t; read: 'csProjects.deploymentBulkUpdateTimestamp'"
>
  <h1>{{ t('header') }}</h1>
  <trapper-ui-simple-message> {{ t('message') }} </trapper-ui-simple-message>
  <trapper-ui-form-field>
    <trapper-ui-label>
      {{ t('timeOffsetLabel') }}
    </trapper-ui-label>
    <div class="input-wrapper">
      <span class="mode-wrapper">
        <span
          class="mode"
          [class.active]="mode === 'add'"
          (click)="mode = 'add'"
          >{{ t('timeOffsetModeAddLabel') }}</span
        >
        <span
          class="mode"
          [class.active]="mode === 'subtract'"
          (click)="mode = 'subtract'"
          >{{ t('timeOffsetModeSubtractLabel') }}</span
        >
      </span>
      <div class="inputs">
        <span class="single-input">
          <input
            type="number"
            min="0"
            step="1"
            placeholder="00"
            [(ngModel)]="hours"
            (blur)="fixValues()"
          />
          <span class="unit">h</span>
        </span>
        <span class="single-input">
          <input
            type="number"
            min="0"
            max="59"
            step="1"
            placeholder="00"
            [(ngModel)]="minutes"
            (blur)="fixValues()"
          />
          <span class="unit">m</span>
        </span>
        <span class="single-input">
          <input
            type="number"
            min="0"
            max="59"
            step="1"
            placeholder="00"
            [(ngModel)]="seconds"
            (blur)="fixValues()"
          /><span class="unit">s</span>
        </span>
      </div>
    </div>
  </trapper-ui-form-field>

  <div class="buttons-container">
    <trapper-ui-button
      (click)="ok()"
      variant="primary"
      [inProgress]="(inProgress | async) || false"
      [disabled]="timeOffset === 0"
    >
      {{ t('save') }}
    </trapper-ui-button>
    <trapper-ui-button
      (click)="cancel()"
      variant="no-outline-link"
      [disabled]="(inProgress | async) || false"
    >
      {{ t('cancel') }}
    </trapper-ui-button>
  </div>
</trapper-ui-card>
