p,
trapper-ui-simple-message {
  text-align: center;

  @media (min-width: 512px) {
    margin-inline: 64px;
  }
}

:host ::ng-deep {
  b {
    font-weight: 700;
  }
}

.buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  width: 100%;
}

trapper-ui-button {
  max-width: 328px;
}

.input-wrapper {
  border: 1px solid var(--trapper-color-input-border);
  outline-color: var(--trapper-color-outline);
  width: 100%;

  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  gap: 8px;
  &:has(.cdk-focused) {
    box-shadow: 0 0 0 1px var(--trapper-color-outline);
  }
}

.mode-wrapper {
  height: 100%;
  display: flex;
  max-width: 100px;
  overflow: hidden;
  flex-shrink: 0;

  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  gap: 4px;
  padding: 4px;

  .mode {
    color: var(--trapper-color-text-muted);
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    &.active {
      color: var(--trapper-color-text-default);
    }
  }
}

input {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 16px;
  padding-right: 16px + 4px;
  font-size: 1em;
  line-height: 1em;

  border: none;

  transition: border-color 200ms;
  text-align: right;
}

::placeholder {
  color: var(--trapper-color-form-placeholder);
  font-size: var(--trapper-form-placeholder-font-size);

  vertical-align: middle;
}

.inputs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8px;
}

.single-input {
  display: flex;
  align-items: center;
  .unit {
    color: var(--trapper-color-form-placeholder);
    margin-left: -16px;
  }
}
