:host {
  width: 100%;
}
.label {
  font-weight: 700;
  font-size: 16px;
}

.value {
  font-weight: 400;
  font-size: 16px;
}

.top-row {
  display: flex;
  gap: 24px;
  width: 100%;
  height: 40px;
  align-items: center;
  justify-content: space-between;
  margin-top: 24px;
}

.counts-box {
  display: flex;
  gap: 24px;
}

.paginator-main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  line-height: 24px;
  gap: 8px;
  font-size: 16px;
  user-select: none;
  a {
    color: var(--trapper-color-text-default);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: color 200ms linear;
    font-size: 1em;
    line-height: 1em;
    &.inactive {
      cursor: auto;
      color: var(--trapper-color-disabled);
    }
  }
  mat-icon {
    font-size: 24px;
    width: 1em;
    height: 1em;
    line-height: 1em;
  }
}

.page-size-selector-container {
  display: flex;
  width: 64px;
  * {
    width: 100%;
  }
}

span.page-numbers {
  display: inline-flex;
  align-items: center;
  gap: 4px;

  span {
    color: var(--trapper-color-text-secondary);
    line-height: 24px;
  }
  .active {
    color: var(--trapper-color-link);
  }

  .no-pages {
    color: var(--trapper-color-form-placeholder);
  }
}
