<ng-container *transloco="let t; read: 'trapperUi.paginator'">
  <div class="top-row" *ngIf="!simple">
    <div class="counts-box">
      <span *ngIf="total !== null && total !== undefined"
        ><span class="label">{{ t('paginator.total') }}: </span
        ><span class="value">{{ total }}</span></span
      >
      <span *ngIf="filtered !== undefined && filtered !== null"
        ><span class="label"> {{ t('paginator.filtered') }}: </span
        ><span class="value">{{ filtered }}</span></span
      >
    </div>
    <div class="page-size-selector-container">
      <trapper-ui-select-box-input
        class="compact-select"
        [items]="pageSizeChoices"
        [clearable]="false"
        [ngModel]="currentPageSize"
        (ngModelChange)="
          currentPageSizeChange.next($event); currentPageSize = $event
        "
      ></trapper-ui-select-box-input>
    </div>
  </div>
  <div class="paginator-main" role="navigation">
    <a
      (click)="first()"
      [class.inactive]="
        currentPage === null || currentPage === undefined || currentPage < 2
      "
    >
      <mat-icon fontIcon="first_page"></mat-icon>
    </a>
    <a
      (click)="prev()"
      [class.inactive]="
        currentPage === null || currentPage === undefined || currentPage < 2
      "
    >
      <mat-icon fontIcon="navigate_before"></mat-icon>
    </a>
    <span class="page-numbers">
      <ng-container *ngFor="let page of pageChoices">
        <a (click)="pageClicked(page)" *ngIf="page >= 0; else separator">
          <span
            [class.active]="page === currentPage"
            [class.no-pages]="!totalPages"
            >{{ page }}</span
          >
        </a>
        <ng-template #separator>
          <span class="separator">...</span>
        </ng-template>
      </ng-container>
    </span>
    <a
      (click)="next()"
      [class.inactive]="
        currentPage === null ||
        currentPage === undefined ||
        totalPages === null ||
        totalPages === undefined ||
        currentPage >= totalPages
      "
    >
      <mat-icon fontIcon="navigate_next"></mat-icon>
    </a>
    <a
      (click)="last()"
      [class.inactive]="
        currentPage === null ||
        currentPage === undefined ||
        totalPages === null ||
        totalPages === undefined ||
        currentPage >= totalPages
      "
    >
      <mat-icon fontIcon="last_page"></mat-icon>
    </a>
  </div>
</ng-container>
