<ng-container *transloco="let t; read: 'csProjects.classificationView'">
  @if (viewData$ | async; as viewData) {
    <div class="annotation-panel">
      <div class="annotation-form-header">
        <div *ngIf="groupClassificationMode">
          <h3>
            {{ t('groupClassificationModeTitle') }}
          </h3>
        </div>
      </div>
      <ng-scrollbar orientation="vertical" class="scrollbar">
        <div class="classification-options">
          @for (field of viewData.fields; track field.name) {
            @if (field.show) {
              <div class="classification-option">
                <trapper-ui-form-field class="classification-option-field">
                  @if (field.type !== 'boolean') {
                    <trapper-ui-label
                      [isRequired]="field.required || false"
                      [isDisabled]="viewData.selectedBboxes.length === 0"
                      [hint]="field.description"
                    >
                      {{ field.label }}
                    </trapper-ui-label>
                  }

                  @switch (field.type) {
                    @case ('choices') {
                      <trapper-ui-select-box-input
                        [attr.data-name]="field.name"
                        [disabled]="viewData.selectedBboxes.length === 0"
                        [items]="field.selectBoxChoices"
                        [placeholder]="t('selectBoxPlaceholder')"
                        [searchable]="true"
                        [ngModel]="field.value"
                        (ngModelChange)="
                          updateBboxAttribute(
                            viewData.selectedBboxes,
                            field.name,
                            $event
                          )
                        "
                      >
                      </trapper-ui-select-box-input>
                    }
                    @case ('boolean') {
                      <trapper-ui-switch
                        *ngIf="field.type === 'boolean'"
                        [disabled]="viewData.selectedBboxes.length === 0"
                        [ngModel]="field.value"
                        (ngModelChange)="
                          updateBboxAttribute(
                            viewData.selectedBboxes,
                            field.name,
                            $event
                          )
                        "
                        class="classification-option-switch"
                      >
                        {{ field.label }}
                      </trapper-ui-switch>
                    }

                    @default {
                      <trapper-ui-text-input
                        [attr.data-name]="field.name"
                        [disabled]="viewData.selectedBboxes.length === 0"
                        [type]="
                          ['integer', 'float'].includes(field.type)
                            ? 'number'
                            : 'text'
                        "
                        [step]="
                          field.type === 'float'
                            ? 0.01
                            : field.type === 'integer'
                              ? 1
                              : undefined
                        "
                        [ngModel]="field.value"
                        (ngModelChange)="
                          updateBboxAttribute(
                            viewData.selectedBboxes,
                            field.name,
                            $event
                          )
                        "
                        [placeholder]="t('textInputPlaceholder')"
                      >
                      </trapper-ui-text-input>
                    }
                  }

                  @if (field.confidence !== null) {
                    <div class="confidence-box">
                      @if (field.confidenceWarning) {
                        <ng-icon
                          name="bootstrapExclamationTriangleFill"
                          class="warn-icon"
                          [matTooltip]="t('confidenceWarningTooltip')"
                        ></ng-icon>
                      }
                      {{ t('confidence', { confidence: field.confidence }) }}
                    </div>
                  }

                  @if (field.willBeBlurredWarning) {
                    <div class="blur-warning-box">
                      {{ t('willBeBlurredWarning') }}
                    </div>
                  }

                  @if (field.errors) {
                    <div class="error-wrapper">
                      <span
                        class="field-error"
                        *ngFor="let error of field.errors"
                      >
                        {{ error }}
                      </span>
                    </div>
                  }
                  <div
                    class="attribute-value-warning"
                    *ngIf="
                      viewData.selectedBboxes &&
                      viewData.selectedBboxes.length > 0 &&
                      field.sameValueForAll === false
                    "
                  >
                    {{ t('attributeValueWarning') }}
                  </div>
                  <div
                    class="request-new-species-link-container"
                    *ngIf="field.name === 'species'"
                  >
                    <a
                      (click)="requestNewSpeciesClick()"
                      class="request-new-species-link"
                    >
                      {{ t('requestNewSpeciesLink') }}
                    </a>
                  </div>
                </trapper-ui-form-field>
              </div>
            }
          }

          @if (actionsAvailable$ | async; as actionsAvailable) {
            @if (actionsAvailable.classify || actionsAvailable.classifyEmpty) {
              <trapper-ui-button
                (click)="saveClassificationClick(false)"
                [disabled]="!canSaveClassification || savingInProgress"
                [inProgress]="savingInProgress"
              >
                @if (actionsAvailable.classify) {
                  {{ t('saveClassificationAction') }}
                } @else {
                  {{ t('saveClassificationActionNoBboxes') }}
                }
              </trapper-ui-button>
            }

            @if (actionsAvailable.feedback || actionsAvailable.feedbackEmpty) {
              <trapper-ui-button
                (click)="saveClassificationClick(true)"
                [disabled]="!canSaveClassification || savingInProgress"
                [inProgress]="savingInProgress"
              >
                @if (actionsAvailable.feedback) {
                  {{ t('saveClassificationFeedbackAction') }}
                } @else {
                  {{ t('saveClassificationFeedbackActionNoBboxes') }}
                }
              </trapper-ui-button>
            }
          }

          <trapper-ui-form-field class="checkbox-proceed-to-next">
            <trapper-ui-checkbox
              [small]="true"
              [ngModel]="proceedToNextClassificationOnSave"
              (ngModelChange)="
                proceedToNextClassificationOnSaveChange.emit($event)
              "
            >
              {{ t('proceedToNext') }}
            </trapper-ui-checkbox>
          </trapper-ui-form-field>
        </div>
      </ng-scrollbar>
    </div>
  }
</ng-container>
