:host {
  --select-box-height: 35px;
  --trapper-text-input-height: 35px;
}
.annotation-form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
  margin-bottom: 8px;
  width: 100%;
  height: 24px;
  padding-left: 24px;

  .form-header-left {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}

.scrollbar {
  height: calc(100% - 24px - 8px);
}

.annotation-panel {
  height: 100%;
  width: 320px;

  background-color: var(--trapper-color-form-background);
  pointer-events: auto;
  transition: opacity 0.3s linear;

  z-index: 1000;

  span.field-error {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: var(--trapper-color-error);
  }
  div.errors-wrapper {
    margin-top: -8px;
    margin-bottom: -14px;
    font-size: 14px;
    line-height: 14px;
    display: flex;
    flex-direction: column;
  }

  h3 {
    font-size: 16px;
    line-height: 24px;
  }
}

.sbar {
  height: 100%;
}

.classification-options {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  padding: 0 24px;
  gap: 16px;

  .classification-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 8px;

    .classification-option-field {
      width: 100%;
    }
  }
}

.attribute-value-warning {
  color: var(--trapper-color-error);
  font-size: 12px;
}

.icon-button {
  color: var(--trapper-color-icon-button);
  cursor: pointer;
  border: none;
  background: transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.classification-option-switch {
  margin-top: 12px;
}

.request-new-species-link {
  font-size: 12px;
  line-height: 14px;
  color: var(--trapper-color-gray);
  text-decoration: underline;
  cursor: pointer;
}

.request-new-species-link-container {
  margin-top: -8px;
}

:host {
  position: relative;
  height: 100%;
}

.confidence-box {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  padding: 4px 8px;
  font-size: 12px;
  font-weight: 600;
  border: 1px solid var(--trapper-color-badge-default);
  border-radius: 4px;

  .warn-icon {
    color: var(--trapper-color-warning);
    font-size: 16px;
  }
}

.blur-warning-box {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  background-color: var(--trapper-color-danger);
  color: var(--trapper-color-danger-constrast);
  padding: 4px 8px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 4px;
}

.checkbox-proceed-to-next {
  max-width: 100%;
}
