<ng-container *transloco="let t; read: 'csProjects.teamDisplay'">
  @if (team$ | async; as team) {
    <section class="header">
      <div class="left-box">
        <span>{{ team.name }}</span>
      </div>
      <div class="right-box">
        <a
          class="action-button"
          *ngIf="team.can_manage"
          (click)="deleteTeam(team)"
        >
          <mat-icon fontIcon="delete_outline"></mat-icon
        ></a>
        <a
          class="action-button"
          *ngIf="!team.can_manage"
          (click)="leaveTeam(team)"
        >
          <mat-icon fontIcon="logout"></mat-icon
        ></a>
      </div>
    </section>
  } @else {
    <ng-container *ngTemplateOutlet="placeholderLoaderLine"></ng-container>
  }

  @if (team$ | async; as team) {
    <section class="map-and-details">
      <div class="map-container trapper-common-card-shadow">
        <div class="map-wrapper">
          <trapper-ui-map
            [polygonEditingEnabled]="team.can_manage"
            [polygon]="newPolygon || team.polygon"
            (drawnPolygon)="polygonChanged($event)"
          ></trapper-ui-map>
        </div>
        <div class="map-edditor-footer" *ngIf="team.can_manage">
          <div class="polygon-upload-box">
            {{ t('polygonUploadHelpText') }}
            <a
              class="polygon-upload-link"
              (click)="selectPolygonFileFromDisk()"
            >
              {{ t('polygonUploadLink') }}
            </a>
            <span class="optional-marker">
              {{ t('optionalMarker') }}
            </span>
          </div>
          <trapper-ui-button
            *ngIf="!editing && mapPolygonEdited && team.can_manage"
            [fullWidth]="false"
            variant="secondary"
            (click)="savePolygon()"
            [inProgress]="(editInProgress$ | async) === true"
          >
            {{ t('polygonConfirmChanges') }}
          </trapper-ui-button>
        </div>
      </div>
      <div class="details-container trapper-common-card-shadow">
        <div class="details-header">
          <span class="details-label">{{ t('detailsLabel') }}</span>
          <div class="details-actions">
            <a
              class="action-button"
              *ngIf="team.can_manage && !editing"
              (click)="startEditing(team)"
              ><mat-icon fontIcon="edit_outline"></mat-icon
            ></a>
          </div>
        </div>
        <form [formGroup]="formGroup">
          <trapper-ui-form-field>
            <trapper-ui-label>
              {{ t('nameLabel') }}
            </trapper-ui-label>
            <trapper-ui-text-input
              *ngIf="editing"
              formControlName="name"
            ></trapper-ui-text-input>
            <span *ngIf="!editing"> {{ team.name }}</span>
            <trapper-ui-server-errors
              formControlName="name"
            ></trapper-ui-server-errors>
          </trapper-ui-form-field>
          <trapper-ui-form-field>
            <trapper-ui-label>
              {{ t('descriptionLabel') }}
            </trapper-ui-label>
            <trapper-ui-text-input
              *ngIf="editing"
              [multiline]="true"
              formControlName="description"
            ></trapper-ui-text-input>
            <span *ngIf="!editing"> {{ team.description }}</span>
            <trapper-ui-server-errors
              formControlName="description"
            ></trapper-ui-server-errors>
          </trapper-ui-form-field>
        </form>
        <div class="details-footer" *ngIf="editing">
          <trapper-ui-button
            *ngIf="(editInProgress$ | async) === false"
            [fullWidth]="false"
            variant="secondary"
            (click)="editing = false"
            >Cancel</trapper-ui-button
          >
          <trapper-ui-button
            [fullWidth]="false"
            (click)="save()"
            [inProgress]="(editInProgress$ | async) === true"
            >Save</trapper-ui-button
          >
        </div>
      </div>
    </section>
  } @else {
    <ng-container *ngTemplateOutlet="placeholderLoaderLine"></ng-container>
  }

  <section class="team-projects trapper-common-card-shadow">
    @if (teamProjects$ | async; as teamProjects) {
      @if (teamProjects.length > 0) {
        <h3>{{ t('teamProjectsTitle') }}</h3>
        <ul>
          @for (
            project of teamProjects;
            track project.classification_project_slug
          ) {
            <li>
              <a
                [routerLink]="[
                  '/cs/projects',
                  project.classification_project_slug
                ]"
                >{{ project.classification_project_name }} ({{
                  t('teamProjectsDeployments', {
                    count: project.deployments
                  })
                }})</a
              >
            </li>
          }
        </ul>
      } @else {
        <h3>{{ t('noProjectsTitle') }}</h3>
      }
    } @else {
      <ng-container *ngTemplateOutlet="placeholderLoaderLine"></ng-container>
    }
  </section>

  <section
    class="invite-section trapper-common-card-shadow"
    *ngIf="(team$ | async)?.can_manage"
  >
    <h3>
      {{ t('inviteSectionTitle') }}
    </h3>

    <form class="invite-form" [formGroup]="invitationFormGroup">
      <trapper-ui-form-field>
        <trapper-ui-label [isRequired]="true">
          {{ t('inviteUserLabel') }}
        </trapper-ui-label>
        <ng-template #userTypeaheadOption let-item="item">
          <span class="typeahead-option">
            <img
              class="typeahead-option-avatar"
              [src]="item.avatar || 'assets/images/default-avatar.svg'"
              (error)="item.avatar = 'assets/images/default-avatar.svg'"
            />
            <span class="typeahead-option-name">{{ item.name }}</span>
          </span>
        </ng-template>

        <ng-template #userTypeaheadLabelTemplate let-item="item">
          <span class="typeahead-option">
            <img
              class="typeahead-option-avatar"
              [src]="item.avatar || 'assets/images/default-avatar.svg'"
              (error)="item.avatar = 'assets/images/default-avatar.svg'"
            />
            <span class="typeahead-option-name">{{ item.name }}</span>
            <span class="typeahead-remove-option">
              <trapper-ui-icon-button
                icon="close"
                (mousedown)="$event.preventDefault(); $event.stopPropagation()"
                (click)="
                  removeSelectedUserFromInvitationForm(item.id);
                  $event.stopPropagation();
                  $event.preventDefault()
                "
              ></trapper-ui-icon-button>
            </span>
          </span>
        </ng-template>

        <trapper-ui-select-box-input
          [items]="userSelectBoxItems$ | async"
          formControlName="users"
          [typeahead$]="userTypeahead$"
          [searchable]="true"
          [customOptionTemplate]="userTypeaheadOption"
          [customLabelTemplate]="userTypeaheadLabelTemplate"
          [multiple]="true"
          [clearable]="false"
        >
        </trapper-ui-select-box-input>
        <trapper-ui-server-errors
          formControlName="users"
        ></trapper-ui-server-errors>
      </trapper-ui-form-field>

      <trapper-ui-form-field>
        <trapper-ui-label>
          {{ t('inviteMotivationLabel') }}
        </trapper-ui-label>
        <trapper-ui-text-input
          [multiline]="true"
          formControlName="motivation"
        ></trapper-ui-text-input>
        <trapper-ui-server-errors
          formControlName="motivation"
        ></trapper-ui-server-errors>
      </trapper-ui-form-field>
    </form>
    <div class="invite-section-footer">
      <trapper-ui-button
        [fullWidth]="false"
        (click)="invite()"
        [inProgress]="(teamMemberInvitationInProgress$ | async) === true"
      >
        {{ t('inviteButtonLabel') }}
      </trapper-ui-button>
    </div>
  </section>

  @if (team$ | async; as team) {
    <section class="listing">
      <trapper-ui-responsive-table [items]="(teamMembers$ | async) || []">
        <!-- NAME -->
        <ng-template
          trapperUiTableCellDef="name"
          let-item="item"
          [label]="t('teamMembersListing.nameLabel')"
          gridWidth="minmax(150px, 1fr)"
          [mainCell]="true"
        >
          <trapper-ui-user-profile-link
            [userId]="item.user.id"
            [avatarUrl]="item.user.avatar"
            [name]="item.user.name"
          ></trapper-ui-user-profile-link>
        </ng-template>
        <!-- ROLE -->
        <ng-template
          trapperUiTableCellDef="role"
          let-item="item"
          [label]="t('teamMembersListing.roleLabel')"
          gridWidth="minmax(150px, 1fr)"
        >
          <span class="role">{{ item.role }}</span>
        </ng-template>

        <!-- STATUS -->
        <ng-template
          trapperUiTableCellDef="status"
          let-item="item"
          [label]="t('teamMembersListing.statusLabel')"
          gridWidth="minmax(150px, 1fr)"
        >
          <span class="status">{{ item.status }}</span>
        </ng-template>

        <!-- ACTIONS -->
        <ng-container *ngIf="team.can_manage">
          <ng-template
            trapperUiTableCellDef="actions"
            let-item="item"
            [label]="t('teamMembersListing.actionsLabel')"
            gridWidth="minmax(32px, 1fr)"
            [mainCell]="true"
          >
            <trapper-ui-icon-button
              icon="delete_outline"
              *ngIf="item.role_id !== 0 && team.can_manage"
              (click)="deleteTeamMember(team, item)"
            ></trapper-ui-icon-button>
          </ng-template>
        </ng-container>
      </trapper-ui-responsive-table>
    </section>
  } @else {
    <ng-container *ngTemplateOutlet="placeholderLoaderLine"></ng-container>
  }
</ng-container>
<ng-template #placeholderLoaderLine>
  <ngx-skeleton-loader
    animation="pulse"
    [theme]="{
      backgroundColor: 'var(--trapper-color-skeleton-loader-background)',
      height: '60px'
    }"
  ></ngx-skeleton-loader>
</ng-template>
