:host {
  width: 100%;
  padding-right: 78px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-left: 40px;
}

.action-button {
  color: inherit;
  cursor: pointer;
  color: var(--trapper-color-icon-button);
  mat-icon {
    font-size: var(--action-button-icon-size, 32px);
    width: 1em;
    height: 1em;
  }
}

.header {
  font-weight: 700;
  font-size: 44px;
  line-height: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.map-and-details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;

  .map-container {
    min-width: 200px;
    flex: 2;
  }
  .details-container {
    min-width: 200px;
    max-width: 500px;
    flex: 1;
  }
}

.details-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  --action-button-icon-size: 24px;
  padding: 24px;

  .details-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .details-footer {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    gap: 16px;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}

.map-edditor-footer {
  min-height: 96px;
  padding: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.map-wrapper {
  width: 100%;
  aspect-ratio: 16 / 9;
}

.polygon-upload-box {
  max-width: 460px;
}

.team-projects {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 40px 40px 24px 40px;
  border: 1px solid var(--trapper-color-border-1);
  border-radius: 8px;
  width: 100%;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 16px 0;

      .project-name {
        font-weight: 700;
      }

      .project-actions {
        display: flex;
        gap: 16px;
      }
    }
  }
}

.invite-section {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 40px 40px 24px 40px;
  border: 1px solid var(--trapper-color-border-1);
  border-radius: 8px;
  width: 100%;

  .invite-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 24px;
    width: 100%;
  }

  .invite-section-footer {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
  }

  trapper-ui-form-field {
    min-width: 200px;
  }
}

.typeahead-option {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 8px 16px;
  .typeahead-option-avatar {
    width: 22px;
    height: 22px;
    border-radius: 50%;
  }
  .typeahead-option-name {
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
  }
}
