.thumbnails {
  --thumbnails-layout-gap: 4px;
  --thumbnails-width: 52px;
  --thumbnails-height: 34px;
  width: calc(var(--thumbnails-width) * 2 + var(--thumbnails-layout-gap));
  height: calc(var(--thumbnails-height) * 2 + var(--thumbnails-layout-gap));
  display: grid;
  grid-template-columns: repeat(auto-fit, var(--thumbnails-width));
  gap: var(--thumbnails-layout-gap);
  justify-content: center;
  justify-items: center;
  align-items: center;
  .thumbnail {
    width: var(--thumbnails-width);
    height: var(--thumbnails-height);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--trapper-color-placeholder-background);

    display: flex;
    justify-content: center;
    align-items: center;

    &.last {
      position: relative;
      svg {
        position: absolute;
        right: 4px;
        bottom: 4px;
      }
    }

    mat-icon {
      font-size: 16px;
      width: 1em;
      height: 1em;
      line-height: 1em;
    }
  }
}
