span {
  background: var(--trapper-color-badge-default);
  border-radius: 4px;
  font-weight: 500;
  font-size: 1em;
  color: var(--trapper-color-text-contrast);
  padding: 4px 6px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 100%;
  display: inline-block;
  line-height: 1em;
}

:host {
  max-width: 100%;
  display: inline-block;
  font-size: 12px;
}
