<ng-container *transloco="let t; read: 'csProjects.teamListing'">
  <section class="listing-view-header">
    <div>
      <h1>{{ t('title') }}</h1>
      <h3>{{ t('subtitle') }}</h3>
    </div>
    <trapper-ui-text-input
      class="search-box"
      [placeholder]="t('search.placeholder')"
      fontIcon="search"
      [ngModel]="currentFilters$('search') | async"
      (ngModelChange)="filterChanged('search', $event ? $event : null)"
    ></trapper-ui-text-input>
  </section>

  <section class="filter-bar">
    <trapper-ui-checkbox
      [ngModel]="currentFilters$('owned_by_me') | async"
      (ngModelChange)="filterChanged('owned_by_me', $event ? 'true' : null)"
    >
      {{ t('filters.myTeamsLabel') }}
    </trapper-ui-checkbox>
  </section>

  <section class="toolbar">
    <trapper-ui-button
      routerLink="create"
      [fullWidth]="false"
      variant="secondary"
    >
      {{ t('createTeamButtonLabel') }}
    </trapper-ui-button>
  </section>

  <section class="listing">
    <trapper-ui-responsive-table
      [items]="(listingItems$ | async) || []"
      [isLoading]="(listingItems$ | async) === null"
    >
      <ng-template
        trapperUiTableCellDef="header"
        [label]="t('nameColHeader')"
        let-team="item"
        gridWidth="minmax(100px, 2fr)"
        [mainCell]="true"
      >
        {{ team.name }}
      </ng-template>

      <ng-template
        trapperUiTableCellDef="members"
        let-team="item"
        [label]="t('membersColHeader')"
        gridWidth="minmax(100px, 2fr)"
      >
        {{ team.members_count }}
      </ng-template>

      <ng-template
        trapperUiTableCellDef="teamleader"
        let-team="item"
        [label]="t('teamleaderColHeader')"
        gridWidth="minmax(48px, 1fr)"
      >
        <trapper-ui-user-mini-avatar
          [avatarUrl]="team.team_leader.avatar"
          [name]="team.team_leader.name"
          (click)="openUserDetails(team.team_leader)"
        ></trapper-ui-user-mini-avatar>
      </ng-template>

      <ng-template
        trapperUiTableCellDef="actions"
        let-team="item"
        [label]="t('actionsColHeader')"
        gridWidth="128px"
        [mainCell]="true"
      >
        <div class="actions">
          <div class="icon-set-wrapper">
            <a
              class="icon-button"
              [routerLink]="[team.id]"
              [matTooltip]="t('previewActionTooltip')"
            >
              <mat-icon fontIcon="preview"></mat-icon>
            </a>
            <button
              class="icon-button"
              *ngIf="team.can_manage"
              (click)="deleteTeam(team)"
              [matTooltip]="t('deleteActionTooltip')"
            >
              <mat-icon fontIcon="delete"></mat-icon>
            </button>
          </div>
        </div>
      </ng-template>
    </trapper-ui-responsive-table>
  </section>

  <section class="paginator">
    <trapper-ui-paginator
      [filtered]="(pagination$ | async)?.count"
      [total]="(pagination$ | async)?.total"
      [currentPage]="(pagination$ | async)?.page"
      [totalPages]="(pagination$ | async)?.pages"
      (pageChange)="pageChanged($event)"
      [currentPageSize]="(currentFilters$('page_size') | async) || '10'"
      (currentPageSizeChange)="
        filterChanged('page_size', $event === '10' ? null : $event)
      "
    ></trapper-ui-paginator>
  </section>
</ng-container>
