:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 48px;
  padding-right: 48px;
  gap: 26px;
}
.listing-view-header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: space-between;
}

.search-box {
  max-width: 328px;
}

.toolbar {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.listing {
  width: 100%;

  .listing-scroll-viewport {
    height: (82px + 8px) * 10 + 48px;

    margin-inline: -24px;
    padding-inline: 24px;
    .listing-row:last-of-type {
      margin-bottom: 24px;
    }

    &.has-no-items {
      height: 90px;
    }
  }

  .listing-header,
  .listing-row {
    display: grid;
    grid-template-columns: //
      minmax(100px, 2fr) // name
      minmax(100px, 2fr) // members
      minmax(48px, 1fr) // owner
      32px * 2; //actions
    // width: 100%;
    column-gap: 18px;
    row-gap: 8px;
    margin-bottom: 8px;
    padding-right: 24px;
  }

  .listing-header {
    font-weight: 700;
    font-size: 16px;
    line-height: 40px;
    color: var(--trapper-color-text-default);
    padding-top: 40px;
    // display: contents;
  }

  .listing-row {
    box-shadow: 0px 8px 16px rgba(46, 46, 46, 0.16);
    position: relative;
    padding: 4px;
    padding-right: 24px;
    height: 82px;
    margin-inline: 24px;
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      max-width: 100%;
      overflow: hidden;
      ngx-skeleton-loader {
        width: 80%;
        height: 32px;
      }
    }

    .thumbnails {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .species {
      display: flex;
      flex-direction: column;
    }

    &:hover {
      background: var(--trapper-color-listing-row-hover-background);
    }
  }

  .listing-header-cell {
    text-align: center;
    line-height: 1em;
  }
}

.actions {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  --icon-w: 24px;
  --icon-set-gap: 8px;
  $icon-count: 4;

  .icon-set-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--icon-set-gap);
    width: calc(
      var(--icon-w) * $icon-count + ($icon-count - 1) * var(--icon-set-gap)
    );
    flex-shrink: 0;
  }
}

.owner {
  max-width: 100%;
  a {
    max-width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    gap: 6px;

    span {
      max-width: calc(100% - 6px - 22px);
      display: block;
      flex: 1 1 auto;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}

.icon-button {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  padding: 0;
  border: none;
  color: var(--trapper-color-icon-button);
  mat-icon {
    width: 24px;
    height: 24px;
    font-size: 24px;
    display: inline-block;
  }
}

.no-items {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 400;
  color: var();
}

.paginator {
  width: 100%;
}

.no-items {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 400;
  color: var(--trapper-color-no-items);
}
