<ng-container *transloco="let t; read: 'csProfile.profileEdit'">
  <trapper-ui-card
    cardWidth="lg"
    verticalMargin="large"
    class="profile-card"
    *ngIf="(profileUpdateService.data$ | async) !== null"
  >
    <button
      class="avatar-container"
      (click)="changeAvatar()"
      [style.background-image]="currentAvatar$ | async"
      tabindex="0"
    >
      <div
        class="edit-container"
        [class.no-avatar]="(currentAvatar$ | async) === null"
      >
        <mat-icon fontIcon="edit" class="edit-icon"></mat-icon>
        <span class="edit">Edit</span>
        <span class="info">
          {{ t('avatarRequirements') }}
        </span>
      </div>
    </button>
    <h1>
      {{ t('title') }}
    </h1>
    <div class="responsive-row">
      <form [formGroup]="formGroup" trapperUiFormColumn>
        <h2>
          {{ t('general') }}
        </h2>
        <trapper-ui-form-field>
          <trapper-ui-label [isRequired]="true" [isDisabled]="true">
            {{ t('email') }}
          </trapper-ui-label>
          <trapper-ui-text-input
            type="email"
            formControlName="email"
          ></trapper-ui-text-input>
          <trapper-ui-server-errors
            formControlName="email"
          ></trapper-ui-server-errors>
        </trapper-ui-form-field>

        <trapper-ui-form-field>
          <trapper-ui-label [isRequired]="true">
            {{ t('username') }}
          </trapper-ui-label>
          <trapper-ui-text-input
            formControlName="username"
          ></trapper-ui-text-input>
          <trapper-ui-server-errors
            formControlName="username"
          ></trapper-ui-server-errors>
        </trapper-ui-form-field>

        <trapper-ui-form-field>
          <trapper-ui-label [isRequired]="true">
            {{ t('firstName') }}
          </trapper-ui-label>
          <trapper-ui-text-input
            formControlName="first_name"
          ></trapper-ui-text-input>
          <trapper-ui-server-errors
            formControlName="first_name"
          ></trapper-ui-server-errors>
        </trapper-ui-form-field>

        <trapper-ui-form-field>
          <trapper-ui-label [isRequired]="true">
            {{ t('lastName') }}
          </trapper-ui-label>
          <trapper-ui-text-input
            formControlName="last_name"
          ></trapper-ui-text-input>
          <trapper-ui-server-errors
            formControlName="last_name"
          ></trapper-ui-server-errors>
        </trapper-ui-form-field>

        <trapper-ui-form-field>
          <trapper-ui-label>
            {{ t('phoneNumber') }}
          </trapper-ui-label>
          <trapper-ui-text-input
            formControlName="phone_number"
            placeholder="+ 00 | 00-00-00"
          ></trapper-ui-text-input>
          <trapper-ui-server-errors
            formControlName="phone_number"
          ></trapper-ui-server-errors>
        </trapper-ui-form-field>

        <trapper-ui-form-field>
          <trapper-ui-label>
            {{ t('institution') }}
          </trapper-ui-label>
          <trapper-ui-text-input
            formControlName="institution"
          ></trapper-ui-text-input>
          <trapper-ui-server-errors
            formControlName="institution"
          ></trapper-ui-server-errors>
        </trapper-ui-form-field>

        <trapper-ui-form-field>
          <trapper-ui-label>
            {{ t('aboutMe') }}
          </trapper-ui-label>
          <trapper-ui-text-input
            [multiline]="true"
            formControlName="about_me"
          ></trapper-ui-text-input>
          <trapper-ui-server-errors
            formControlName="about_me"
          ></trapper-ui-server-errors>
        </trapper-ui-form-field>

        <div class="consents">
          <span class="consent">
            <trapper-ui-yes-no-flag
              [value]="true"
              [showText]="false"
            ></trapper-ui-yes-no-flag>
            <a (click)="gdprPopup()"> {{ t('gdpr') }}</a>
            <span class="acceptance-date"
              >({{ t('accepted') }}:
              {{
                formGroup.controls.gdpr_accepted_date.value
                  | date: 'yyyy-MM-dd HH:mm'
              }})</span
            >
          </span>
          <span class="consent">
            <trapper-ui-yes-no-flag
              [value]="true"
              [showText]="false"
            ></trapper-ui-yes-no-flag>
            <a (click)="tosPopup()">
              {{ t('termsOfService') }}
            </a>
            <span class="acceptance-date"
              >({{ t('accepted') }}:
              {{
                formGroup.controls.tos_accepted_date.value
                  | date: 'yyyy-MM-dd HH:mm'
              }})</span
            >
          </span>
        </div>
        <trapper-ui-button
          (click)="updateProfile()"
          [inProgress]="(profileUpdateService.inProgress$ | async) === true"
        >
          {{ t('save') }}
        </trapper-ui-button>
      </form>
      <div class="vertical-line"></div>
      <trapper-ui-form-column>
        <form [formGroup]="changePasswordFormGroup">
          <h2>
            {{ t('changePasswordTitle') }}
          </h2>
          <trapper-ui-form-field>
            <trapper-ui-text-input
              [label]="t('oldPassword')"
              type="password"
              [isRequired]="true"
              formControlName="old_password"
            ></trapper-ui-text-input>
            <trapper-ui-server-errors
              formControlName="old_password"
            ></trapper-ui-server-errors>
          </trapper-ui-form-field>
          <trapper-ui-form-field
            ><trapper-ui-text-input
              [label]="t('newPassword')"
              type="password"
              [isRequired]="true"
              formControlName="new_password"
            ></trapper-ui-text-input>
            <trapper-ui-form-field-hint formControlName="new_password">
              {{ t('passwordHint') }}
            </trapper-ui-form-field-hint>
            <trapper-ui-server-errors
              formControlName="new_password"
            ></trapper-ui-server-errors>
          </trapper-ui-form-field>
          <trapper-ui-form-field>
            <trapper-ui-text-input
              [label]="t('repeatNewPassword')"
              type="password"
              [isRequired]="true"
              formControlName="new_password2"
            ></trapper-ui-text-input>
            <trapper-ui-server-errors
              formControlName="new_password2"
            ></trapper-ui-server-errors>
          </trapper-ui-form-field>
          <trapper-ui-button (click)="changePassword()">
            {{ t('changePasswordButton') }}
          </trapper-ui-button>
        </form>

        <h2>
          {{ t('multipleFactorAuthTitle') }}
        </h2>

        @if (authenticators$ | async; as authenticators) {
          <trapper-cs-profile-authenticator-list></trapper-cs-profile-authenticator-list>
        } @else {
          <ngx-skeleton-loader
            animation="pulse"
            [theme]="{
              backgroundColor: 'var(--trapper-color-skeleton-loader-background)'
            }"
          ></ngx-skeleton-loader>
        }

        <h2>
          {{ t('deleteAccountTitle') }}
        </h2>

        <trapper-ui-button variant="outline-danger" (click)="deleteAccount()">
          {{ t('deleteAccountButton') }}
        </trapper-ui-button>
      </trapper-ui-form-column>
    </div>
  </trapper-ui-card>
</ng-container>
