.vertical-line {
  width: 2px;
  height: 551px;
  background: var(--trapper-color-border-1);
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 2px;
  @media (max-width: 1279px) {
    display: none;
  }
}

.responsive-row {
  align-self: stretch;
  margin-top: 64px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: var(--standard-spacing-gap);
  @media (min-width: 1280px) {
    flex-direction: row;
    gap: 155px - 64px;
    padding: 40px 161px - 64px - 22px;
  }
}

.consents {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  margin-top: 15px - 32px;
}

h1 {
  margin-top: 47px;
}
h2 {
  align-self: flex-start;
}

.avatar-container {
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: contain;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 213px;
  height: 213px;

  background-color: var(--trapper-color-placeholder-background);
  border-radius: 50%;
  border: none;
  padding: 0;

  .edit-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 50%;

    opacity: 0;
    transition: all 200ms linear;
    border-color: var(--trapper-color-placeholder-background);
    border-width: 2px;

    &:hover {
      background-color: color-mix(
        in srgb,
        var(--trapper-color-placeholder-background) 80%,
        transparent 20%
      );
      opacity: 1;
    }

    &.no-avatar {
      background-color: var(--trapper-color-placeholder-background);
      opacity: 1;
    }
  }

  .edit {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: var(--trapper-color-input-text);
  }

  .edit-icon {
    color: var(--trapper-color-input-text);
    font-size: 36px;
    width: 1em;
    height: 1em;
  }

  .info {
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;

    text-align: center;

    color: var(--trapper-color-input-text);

    margin: 0 38px;
  }

  @media (min-width: 1280px) {
    position: absolute;
    left: 161px;
    top: 170px - 54px;
  }
}

.profile-card {
  position: relative;
}

trapper-ui-form-field {
  width: 100%;
}

.consent {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  vertical-align: middle;
  .acceptance-date {
    color: var(--trapper-color-text-secondary);
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    display: inline-flex;
    align-items: center;
  }
}

:host {
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: var(--standard-spacing-gap);
  width: 100%;
}
