.additional-informations {
  display: flex;
  flex-direction: column;
  gap: 24px;
  h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
  }
  form {
    max-width: 328px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}

.help-text {
  color: var(--trapper-color-help-text);
  font-size: 12px;
}
