<ng-container *transloco="let t; read: 'csProjects.upload'">
  <section class="additional-informations">
    <h2>{{ t('deploymentAdditionalInformationsLabel') }}</h2>
    <form [formGroup]="formGroup" class="additional-informations-form">
      <trapper-ui-form-field>
        <trapper-ui-label>
          {{ t('deploymentCommentsLabel') }}
        </trapper-ui-label>
        <trapper-ui-text-input
          [placeholder]="t('deploymentCommentsPlaceholder')"
          formControlName="comments"
          [multiline]="true"
          testId="deployment-comments-input"
        ></trapper-ui-text-input>
        <trapper-ui-server-errors
          formControlName="comments"
        ></trapper-ui-server-errors>
      </trapper-ui-form-field>
      <trapper-ui-form-field>
        <trapper-ui-checkbox
          formControlName="is_incomplete"
          testId="is-incomplete"
        >
          {{ t('deploymentIsIncompleteLabel') }}
        </trapper-ui-checkbox>
        <trapper-ui-server-errors
          formControlName="is_incomplete"
        ></trapper-ui-server-errors>
      </trapper-ui-form-field>
      <trapper-ui-form-field *ngIf="canChangePrivacySettings">
        <trapper-ui-checkbox formControlName="is_private" testId="is-private">
          {{ t('deploymentIsPrivateLabel') }}
        </trapper-ui-checkbox>
        <trapper-ui-server-errors
          formControlName="is_private"
        ></trapper-ui-server-errors>
      </trapper-ui-form-field>
      <div class="help-text" *ngIf="!canChangePrivacySettings">
        You cannot change privacy settings when uploading new images to existing
        deployment.
      </div>
    </form>
  </section>
</ng-container>
