<ng-container *ngIf="siteCustomizationReady">
  <router-outlet></router-outlet>
</ng-container>
<div
  class="trapper-cs__spinner__wrapper"
  *ngIf="loading || !siteCustomizationReady"
>
  <div class="trapper-cs__spinner__lds-ring">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
