.forgot-password-link {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 18px;
  margin-top: -12px;
}

.buttons-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--standard-spacing-gap-small);
}

trapper-ui-alert {
  width: 100%;
}
.login-screen-message {
  text-align: center;
}

trapper-ui-form-field {
  width: 100%;
}

.social-login-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--standard-spacing-gap-small);
}
