<form [formGroup]="formGroup" *transloco="let t; read: 'csAccounts.login'">
  <trapper-ui-card>
    <h1>
      {{ t('title') }}
    </h1>

    <trapper-ui-form-column>
      <trapper-ui-alert *ngIf="message$ | async as message">
        <span class="login-screen-message" [innerHTML]="message"></span>
      </trapper-ui-alert>
      <trapper-ui-form-field>
        <trapper-ui-label>
          {{ t('emailLabel') }}
        </trapper-ui-label>
        <trapper-ui-text-input
          type="email"
          formControlName="email"
          testId="username-input"
        ></trapper-ui-text-input>
        <trapper-ui-server-errors
          formControlName="email"
        ></trapper-ui-server-errors>
      </trapper-ui-form-field>
      <trapper-ui-form-field>
        <trapper-ui-label>
          {{ t('passwordLabel') }}
        </trapper-ui-label>
        <trapper-ui-text-input
          type="password"
          formControlName="password"
          testId="password-input"
        ></trapper-ui-text-input>
        <trapper-ui-server-errors
          formControlName="password"
        ></trapper-ui-server-errors>
      </trapper-ui-form-field>
      <div
        class="forgot-password-link"
        routerLink="/cs/accounts/password-reset"
      >
        <a data-testid="forgot-password-link">
          {{ t('forgotPasswordLink') }}
        </a>
      </div>
      <div class="non-field-errors-wrapper">
        <trapper-ui-non-field-errors
          *ngIf="nonFieldErrors$ | async as nonFieldErrors"
          [errors]="nonFieldErrors"
        >
        </trapper-ui-non-field-errors>
      </div>
      <div class="buttons-wrapper">
        <trapper-ui-button
          (click)="login()"
          [inProgress]="(inProgress$ | async) || false"
          testId="login-button"
        >
          {{ t('loginButton') }}
        </trapper-ui-button>

        <span>
          {{ t('orSeparator') }}
        </span>
        <trapper-ui-button
          variant="secondary"
          [routerLink]="['/cs/accounts/signup']"
          testId="signup-button"
          [disabled]="(inProgress$ | async) || false"
        >
          {{ t('signupButton') }}
        </trapper-ui-button>
      </div>
      <div class="social-login-wrapper">
        @if (socialLoginProviders$ | async; as socialLoginProviders) {
          @for (provider of socialLoginProviders; track provider.name) {
            <trapper-ui-button
              (click)="socialLogin(provider.id)"
              [disabled]="(inProgress$ | async) || false"
              testId="social-login-button-{{ provider.id }}"
              variant="outline-primary"
            >
              {{ t('socialLoginButton', { provider: provider.name }) }}
            </trapper-ui-button>
          }
        } @else {
          <ngx-skeleton-loader></ngx-skeleton-loader>
        }
      </div>
    </trapper-ui-form-column>
  </trapper-ui-card>
</form>
