:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 8px;
  padding-right: 8px;
  gap: 8px;

  --image-roll-height: 100px;

  --header-height: var(--trapper-topbar-height);
  --footer-height: var(--trapper-footer-height);
  --workspace-top-margin: var(--trapper-workspace-top-margin);
  --workspace-gap: 8px;
  --workspace-padding: 24px;
  --workspace-margin-bottom: var(--trapper-workspace-bottom-margin);
  --toolbox-height: 96px;
  --layout-fillers-height: calc(
    var(--header-height) + var(--footer-height) + 2 * var(--workspace-gap) +
      var(--image-roll-height) + 4px + var(--toolbox-height)
  );
  --annotation-workspace-height: calc(100vh - var(--layout-fillers-height));
}

.classification-workspace-row {
  // width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 8px;
  flex: 1;
}

.img-card-wrapper {
  position: relative;
  height: var(--annotation-workspace-height);
  flex: auto;
}

.annotation-panel {
  height: var(--annotation-workspace-height);
}

.image-roll-container {
  width: 100%;
  padding-inline: 8px;
}

.icon-button {
  cursor: pointer;
  border: none;
  background: transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--trapper-color-icon-button);
  mat-icon {
    font-size: 1em;
    width: 1em;
    height: 1em;
    line-height: 1em;
  }
}

.sequence-nav-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: var(--trapper-color-muted-background);
  padding: 8px;
  user-select: none;

  .sequence-nav-box {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .sequence-nav-button {
    cursor: pointer;
    border: none;
    background: transparent;
    padding: 0;
    vertical-align: middle;
    display: inline-flex;
    gap: 4px;
    align-items: center;

    color: var(--trapper-color-sequence-navigation);
    font-size: 16px;
    line-height: 20px;
    height: 20px;
    font-weight: 700;

    border-radius: 4px;
    padding: 4px;
    border: 1px solid transparent;
    transition: border-color 0.2s;

    &:hover:not(.disabled) {
      border-color: var(--trapper-color-sequence-navigation-hover);
    }

    &.disabled {
      color: var(--trapper-color-disabled);
    }
  }
}

.group-classification-mode {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  color: var(--trapper-color-text-default);
  display: flex;
  align-items: center;
  height: 20px;
}

a.action-button {
  display: inline-flex;
  align-items: center;
  color: var(--trapper-color-icon-button);
}

.workspace-row {
  display: flex;
  flex-direction: column;
  width: 100%;
  @media (min-width: 1000px) {
    flex-direction: row;
  }
}

.classification-workspace-footer {
  padding-block: 8px;
  font-size: 14px;
}
