<ng-container *transloco="let t; read: 'csProjects.classificationView'">
  <div class="image-roll-container">
    <trapper-frontend-image-roll
      [currentClassificationId]="currentClassificationId"
    ></trapper-frontend-image-roll>
  </div>
  <div class="sequence-nav-row">
    <div class="sequence-nav-box">
      <a
        class="sequence-nav-button"
        (click)="selectPreviousSequence()"
        [class.disabled]="(hasPreviousSequence$ | async) !== true"
      >
        <ng-icon name="bootstrapChevronDoubleLeft"></ng-icon>
        {{ t('previousSequence') }}
      </a>

      <a
        class="sequence-nav-button"
        (click)="selectPreviousClassification()"
        [class.disabled]="(hasPreviousClassification$ | async) !== true"
      >
        <ng-icon name="bootstrapChevronLeft"></ng-icon>
        {{ t('previousClassification') }}
      </a>
    </div>

    @if (groupClassificationMode$ | async; as groupClassificationMode) {
      <span class="group-classification-mode">
        {{
          t('groupClassificationModeItemsSelected', {
            count: itemsSelected
          })
        }}
        <!-- clear selection -->
        <button
          class="icon-button"
          (click)="clearSelection()"
          [matTooltip]="t('clearSelectionTooltip')"
        >
          <mat-icon fontIcon="clear"></mat-icon>
        </button>
      </span>
    }
    <div class="sequence-nav-box">
      <a
        class="sequence-nav-button"
        (click)="selectNextClassification()"
        [class.disabled]="(hasNextClassification$ | async) !== true"
      >
        {{ t('nextClassification') }}
        <ng-icon name="bootstrapChevronRight"></ng-icon>
      </a>
      <a
        class="sequence-nav-button"
        (click)="selectNextSequence()"
        [class.disabled]="(hasNextSequence$ | async) !== true"
      >
        {{ t('nextSequence') }}
        <ng-icon name="bootstrapChevronDoubleRight"></ng-icon>
      </a>
    </div>
  </div>
  <div class="workspace-row">
    <div class="classification-workspace-row">
      <div class="img-card-wrapper">
        <trapper-resource-annotator
          [bboxes]="bboxes$ | async"
          [resourceSrc]="
            (currentClassificationData$ | async)?.resource_type === 'V'
              ? (currentClassificationData$ | async)?.original_url
              : (currentClassificationData$ | async)?.original_url?.replace(
                  '/file/',
                  '/pfile/'
                )
          "
          [hdResourceSrc]="(currentClassificationData$ | async)?.original_url"
          [isVideo]="
            (currentClassificationData$ | async)?.resource_type === 'V'
          "
          (selectedBboxesChange)="bboxSelectionChanged($event)"
          [selectedBboxes]="selectedBboxesIds$ | async"
          (bboxCreated)="bboxCreated($event)"
          (bboxesDeleted)="deleteBboxes($event)"
          (bboxUpdated)="bboxLocationUpdated($event)"
          [fileName]="deploymentAndFileName$ | async"
          (resourcePreviewRequested)="resourcePreviewRequested()"
          [bboxInteactionDisabled]="groupClassificationMode$ | async"
        >
        </trapper-resource-annotator>
      </div>
    </div>

    <!-- anotation panel -->
    <trapper-frontend-annotation-panel
      class="annotation-panel"
      [canSaveClassification]="(canSaveClassification$ | async) === true"
      [groupClassificationMode]="(groupClassificationMode$ | async) === true"
      (saveClassification)="saveClassification($event)"
      [currentClassificationId]="currentClassificationId"
      [savingInProgress]="(savingInProgress$ | async) === true"
      [proceedToNextClassificationOnSave]="proceedToNextClassificationOnSave"
      (proceedToNextClassificationOnSaveChange)="
        proceedToNextClassificationOnSave = $event;
        saveProceedToNextClassificationOnSaveValue()
      "
    ></trapper-frontend-annotation-panel>
  </div>
</ng-container>

<ng-template #loading>
  <ngx-skeleton-loader
    animation="pulse"
    [theme]="{
      backgroundColor: 'var(--trapper-color-skeleton-loader-background)'
    }"
  ></ngx-skeleton-loader>
</ng-template>
