<ng-container *transloco="let t; read: 'csProjects.deploymentListing'">
  <section class="listing-view-header">
    <h1>{{ t('title') }}</h1>
    <trapper-ui-text-input
      class="search-box"
      [placeholder]="t('search.placeholder')"
      fontIcon="search"
      [ngModel]="currentFilters$('search') | async"
      (ngModelChange)="filterChanged('search', $event)"
    ></trapper-ui-text-input>
  </section>

  <section class="deployment-filters">
    <h2>{{ t('filters.header') }}:</h2>
    <div class="filter-grid">
      <trapper-ui-form-field [@inOutAnimation]>
        <trapper-ui-label [onBorder]="true">
          {{ t('filters.locationLabel') }}
        </trapper-ui-label>
        <trapper-ui-select-box-input
          [items]="(availableFilters$ | async)?.location"
          [ngModel]="currentFilters$('location') | async"
          (ngModelChange)="filterChanged('location', $event)"
          [placeholder]="t('filters.locationPlaceholder')"
          [searchable]="true"
        ></trapper-ui-select-box-input>
      </trapper-ui-form-field>
      <trapper-ui-form-field [@inOutAnimation]>
        <trapper-ui-label [onBorder]="true">
          {{ t('filters.ownerLabel') }}
        </trapper-ui-label>
        <trapper-ui-select-box-input
          [items]="(availableFilters$ | async)?.media_owner"
          [ngModel]="currentFilters$('owner') | async"
          (ngModelChange)="filterChanged('owner', $event)"
          [placeholder]="t('filters.ownerPlaceholder')"
          [searchable]="true"
        ></trapper-ui-select-box-input>
      </trapper-ui-form-field>
      <trapper-ui-form-field>
        <trapper-ui-label [onBorder]="true">
          {{ t('filters.dateRangeLabel') }}
        </trapper-ui-label>
        <trapper-ui-date-range-input
          [ngModel]="currentDateRange$ | async"
          (ngModelChange)="dateRangeChanged($event)"
        ></trapper-ui-date-range-input>
      </trapper-ui-form-field>
    </div>
    <div class="filters-footer">
      <div class="filters-flags">
        <trapper-ui-checkbox
          [ngModel]="(currentFilters$('by_me') | async) === '1'"
          (ngModelChange)="myDeploymentsFilterChanged($event)"
        >
          {{ t('filters.byMeLabel') }}
        </trapper-ui-checkbox>
        <trapper-ui-checkbox
          [ngModel]="(currentFilters$('is_incomplete') | async) === 'true'"
          (ngModelChange)="
            filterChanged('is_incomplete', $event ? 'true' : null)
          "
        >
          {{ t('filters.isIncompleteLabel') }}
        </trapper-ui-checkbox>
      </div>
      <div class="buttons-wrapper">
        <trapper-ui-button
          [fullWidth]="false"
          (click)="shareSelectedWithTeams()"
          variant="secondary"
          [disabled]="selectedDeployments.size === 0"
        >
          {{ t('filters.shareWithTeam') }}
        </trapper-ui-button>
        <trapper-ui-button
          [fullWidth]="false"
          (click)="toggleMapMode()"
          variant="secondary"
        >
          {{
            mapModeEnabled
              ? t('filters.listModeToggle')
              : t('filters.mapModeToggle')
          }}
        </trapper-ui-button>
        <trapper-ui-button
          [fullWidth]="false"
          class="clear-filters"
          routerLink="."
        >
          {{ t('filters.clearFilters') }}
        </trapper-ui-button>
      </div>
    </div>
  </section>

  <trapper-frontend-deployment-listing-table
    *ngIf="!mapModeEnabled"
    [(selectedItems)]="selectedDeployments"
  ></trapper-frontend-deployment-listing-table>

  <trapper-frontend-deployment-listing-map
    *ngIf="mapModeEnabled"
  ></trapper-frontend-deployment-listing-map>

  <section class="paginator" *ngIf="!mapModeEnabled">
    <trapper-ui-paginator
      [filtered]="(pagination$ | async)?.count"
      [total]="(pagination$ | async)?.total"
      [currentPage]="(pagination$ | async)?.page"
      [totalPages]="(pagination$ | async)?.pages"
      (pageChange)="pageChanged($event)"
      [currentPageSize]="(currentFilters$('page_size') | async) || '10'"
      (currentPageSizeChange)="
        filterChanged('page_size', $event === '10' ? null : $event)
      "
    ></trapper-ui-paginator>
  </section>
</ng-container>
