:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  padding-left: 48px;
  padding-right: 48px;
}

.deployment-filters {
  width: 100%;
  border-bottom: solid 3px var(--trapper-color-border-1);
  // padding-bottom: 84px;
  h2 {
    margin-bottom: 22px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
  }
}

.filter-grid {
  width: 100%;
  gap: 24px;

  @media (min-width: 800px) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    .wide-filter {
      grid-column: span 2;
    }
  }

  display: flex;
  flex-wrap: wrap;
  > * {
    flex-basis: 100%;
  }
}

.listing-view-header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: space-between;
}

.search-box {
  max-width: 328px;
}

.filters-flags {
  padding-top: 24px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.filters-footer {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  width: 100%;
  padding-top: 24px;
  padding-bottom: 40px;
  justify-content: space-between;
}

.paginator {
  width: 100%;
}

.my-deployments-toolbar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-block: 24px;
}

.buttons-wrapper {
  display: flex;
  gap: 16px;
}
