:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 48px;
  padding-right: 48px;
}

.media-filters {
  width: 100%;
  border-bottom: solid 3px var(--trapper-color-border-1);
  h2 {
    margin-bottom: 22px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
  }
}

.filter-grid {
  width: 100%;
  gap: 24px;

  @media (min-width: 800px) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    .wide-filter {
      grid-column: span 2;
    }
  }

  display: flex;
  flex-wrap: wrap;
  > * {
    flex-basis: 100%;
  }
}

.listing-view-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.filters-footer {
  display: flex;
  width: 100%;
  padding-top: 24px;
  padding-bottom: 40px;
  justify-content: space-between;
}

.listing {
  width: 100%;
}

.paginator {
  width: 100%;
}

.no-items {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 400;
  color: var(--trapper-color-text-secondary);
}

.listing-grid {
  margin-top: 20px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 24px;
}

.thumbnail {
  aspect-ratio: 4/3;
  // background-size: cover;
  // background-position: 50% 50%;
  position: relative;
  color: var(--trapper-color-secondary);
  border-radius: 4px;
  overflow: hidden;
  box-sizing: content-box;
  cursor: pointer;
  trapper-ui-thumbnail-with-bboxes {
    width: 100%;
    height: 100%;
  }
  svg.corner-area {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50px;
    height: 50px;
  }

  .classify-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    font-weight: 700;
    pointer-events: none;
  }

  .classify-button-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s;

    &:hover {
      background-color: rgba(0, 0, 0, 0.5);
      .classify-button-text {
        opacity: 1;
      }
    }

    .classify-button-text {
      color: var(--trapper-color-text-contrast);
      font-size: 16px;
      font-weight: 700;
      opacity: 0;
      transition: opacity 0.2s;
    }
  }

  .classify-icon {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 4px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    mat-icon {
      color: var(
        --trapper-color-cs-classification-listing-classify-button-icon
      );
      width: 16px;
      height: 16px;
      font-size: 16px;
      line-height: 1em;
      flex-shrink: 0;
    }
  }

  &.by-me {
    border: 3px solid var(--trapper-color-me);
    color: var(--trapper-color-me);
  }
  &.by-expert {
    border: 3px solid var(--trapper-color-approved);
    color: var(--trapper-color-approved);
  }
  &.by-ai {
    border: 3px solid var(--trapper-color-ai);
    color: var(--trapper-color-ai);
  }
}

.listin-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.filename-info {
  font-weight: 400;
  font-size: 16px;
  color: var(--trapper-color-text-default);
  height: 40px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  overflow-wrap: anywhere;
  display: inline-block;
}

.header-info {
  font-weight: 700;
  font-size: 12px;
  display: inline-block;
  height: 20px;
  line-height: 20px;
  &.by-me {
    color: var(--trapper-color-me);
  }
  &.by-expert {
    color: var(--trapper-color-approved);
  }
  &.by-ai {
    color: var(--trapper-color-ai);
  }
}

.sequence-icon {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 12px;
  left: 12px;
}
