<ng-container *transloco="let t; read: 'csProjects.classificationListing'">
  <section class="listing-view-header">
    <h1>{{ t('title') }}</h1>
  </section>
  <section class="media-filters">
    <h2>{{ t('filters.header') }}:</h2>
    <div class="filter-grid" *ngIf="classifierFilters$ | async as mediaFilters">
      <trapper-ui-form-field class="media-filter">
        <trapper-ui-label [onBorder]="true">
          {{ t('filters.deploymentLabel') }}
        </trapper-ui-label>
        <trapper-ui-select-box-input
          [items]="(availableFilters$ | async)?.deployment"
          [ngModel]="currentFilters$('deployment') | async"
          (ngModelChange)="filterChanged('deployment', $event)"
          [placeholder]="t('filters.deploymentPlaceholder')"
          [searchable]="true"
          [@inOutAnimation]
        ></trapper-ui-select-box-input>
      </trapper-ui-form-field>
      <ng-container *ngIf="(currentFilters$('deployment') | async) !== null">
        <trapper-ui-form-field
          class="media-filter"
          *ngFor="let mediaFilter of mediaFilters"
          [class.wide-filter]="mediaFilter.wide"
        >
          <trapper-ui-label [onBorder]="true">{{
            mediaFilter.label
          }}</trapper-ui-label>
          <trapper-ui-select-box-input
            [items]="mediaFilter.choices"
            [placeholder]="mediaFilter.placeholder"
            [ngModel]="currentFilters$(mediaFilter.name) | async"
            (ngModelChange)="filterChanged(mediaFilter.name, $event)"
            [searchable]="true"
          ></trapper-ui-select-box-input>
        </trapper-ui-form-field>

        <!-- classified by me: yes, no -->
        <trapper-ui-form-field>
          <trapper-ui-label [onBorder]="true">
            {{ t('filters.classifiedByMeLabel') }}
          </trapper-ui-label>
          <trapper-ui-select-box-input
            [items]="[
              { id: '1', name: t('filters.classifiedByMeYes') },
              { id: '0', name: t('filters.classifiedByMeNo') }
            ]"
            [ngModel]="currentFilters$('is_classified_by_me') | async"
            (ngModelChange)="filterChanged('is_classified_by_me', $event)"
            [placeholder]="t('filters.classifiedByMePlaceholder')"
            [searchable]="true"
          ></trapper-ui-select-box-input>
        </trapper-ui-form-field>
        <!-- approved: yes/no -->
        <trapper-ui-form-field>
          <trapper-ui-label [onBorder]="true">
            {{ t('filters.approvedLabel') }}
          </trapper-ui-label>
          <trapper-ui-select-box-input
            [items]="[
              { id: '1', name: t('filters.approvedYes') },
              { id: '0', name: t('filters.approvedNo') }
            ]"
            [ngModel]="currentFilters$('is_approved') | async"
            (ngModelChange)="filterChanged('is_approved', $event)"
            [placeholder]="t('filters.approvedPlaceholder')"
            [searchable]="true"
          ></trapper-ui-select-box-input>
        </trapper-ui-form-field>
        <!-- has_feedback: yes/no -->
        <trapper-ui-form-field>
          <trapper-ui-label [onBorder]="true">
            {{ t('filters.hasFeedbackLabel') }}
          </trapper-ui-label>
          <trapper-ui-select-box-input
            [items]="[
              { id: '1', name: t('filters.hasFeedbackYes') },
              { id: '0', name: t('filters.hasFeedbackNo') }
            ]"
            [ngModel]="currentFilters$('has_feedback') | async"
            (ngModelChange)="filterChanged('has_feedback', $event)"
            [placeholder]="t('filters.hasFeedbackPlaceholder')"
            [searchable]="true"
          ></trapper-ui-select-box-input>
        </trapper-ui-form-field>
      </ng-container>
    </div>

    <div
      class="filters-footer"
      *ngIf="availableFilters$ | async as availableFilters"
    >
      <trapper-ui-button
        [fullWidth]="false"
        class="clear-filters"
        routerLink="."
      >
        {{ t('filters.clearFilters') }}
      </trapper-ui-button>
    </div>
  </section>
  <section
    class="listing"
    *ngIf="(currentFilters$('deployment') | async) !== null"
  >
    <div class="listing-grid">
      <div
        class="listing-item"
        *ngFor="let item of results$ | async; let i = index"
      >
        <span
          class="header-info"
          [class.by-me]="item.is_classified_by_me"
          [class.by-expert]="item.is_approved"
        >
          <ng-container *ngIf="item.is_classified_by_me && !item.is_approved">{{
            t('classifiedByMeLabel')
          }}</ng-container>
          <ng-container *ngIf="item.is_approved">{{
            t('approvedByExpertLabel')
          }}</ng-container>
        </span>
        <div
          [class.by-me]="item.is_classified_by_me"
          [class.by-expert]="item.is_approved"
          class="thumbnail"
          [@inOutAnimation]
        >
          <trapper-ui-thumbnail-with-bboxes
            [thumbnailUrl]="item.thumbnail_url.replace('/tfile/', '/pfile/')"
            [strokeLineWidth]="6"
            [bboxes]="item.bboxes"
          ></trapper-ui-thumbnail-with-bboxes>

          <svg
            viewBox="0 0 50 50"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class="corner-area"
          >
            <path d="M0 50L50 0L50 50L0 50Z" fill="currentColor" />
          </svg>
          <a
            class="classify-button-overlay"
            [routerLink]="[item.pk]"
            queryParamsHandling="preserve"
          >
            <svg
              viewBox="0 0 15 15"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              *ngIf="item.sequence"
              class="sequence-icon"
              [matTooltip]="
                t('sequenceIconTooltip', {
                  sequenceId: item.sequence.sequence_id
                })
              "
            >
              <path
                d="M-3.93414e-07 1.36509L-6.5569e-08 8.18324C-2.91782e-08 8.94006 0.613619 9.54687 1.3636 9.54687L8.18158 9.54687C8.93156 9.54687 9.54518 8.94006 9.54518 8.18324L9.54518 1.36509C9.54518 0.615095 8.93156 0.00146175 8.18158 0.00146178L1.3636 0.00146205C0.613618 0.00146208 -4.29477e-07 0.615096 -3.93414e-07 1.36509ZM8.18158 1.36509L8.18158 8.18324L1.3636 8.18324L1.3636 1.36509L8.18158 1.36509Z"
                fill="currentColor"
                [style.color]="'var(--trapper-color-sequence-icon)'"
              />
              <path
                d="M2.72719 8.18255L2.72719 9.54618L4.09079 9.54618L4.09079 8.18255L2.72719 8.18255ZM5.45439 8.18255L5.45439 9.54618L6.81798 9.54618L6.81798 8.18255L5.45439 8.18255ZM-1.31143e-07 8.18255C-1.06882e-07 8.93936 0.613618 9.54618 1.3636 9.54618L1.3636 8.18255L-1.31143e-07 8.18255ZM8.18158 5.45528L8.18158 6.81892L9.54518 6.81892L9.54518 5.45528L8.18158 5.45528ZM-3.49715e-07 1.36439L1.3636 1.36439L1.3636 0.000763693C0.613618 0.000763737 -3.73758e-07 0.614397 -3.49715e-07 1.36439ZM-2.18572e-07 5.45529L-1.74858e-07 6.81892L1.3636 6.81892L1.3636 5.45529L-2.18572e-07 5.45529ZM9.54518 8.18255L8.18158 8.18255L8.18158 9.54618C8.93156 9.54618 9.54518 8.93936 9.54518 8.18255ZM6.81798 1.36439L6.81798 0.000763368L5.45439 0.000763449L5.45439 1.36439L6.81798 1.36439ZM4.09079 1.36439L4.09079 0.00076353L2.72719 0.000763611L2.72719 1.36439L4.09079 1.36439ZM9.54518 1.36439C9.54518 0.614397 8.93156 0.000763242 8.18158 0.000763286L8.18158 1.36439L9.54518 1.36439ZM2.72719 10.9098L4.09079 12.2734L10.9088 12.2734C11.6588 12.2734 12.2724 11.6666 12.2724 10.9098L12.2724 4.09165L10.9088 2.72802L10.9088 10.9098L2.72719 10.9098ZM1.3636 4.09165L1.3636 2.72802L-3.06001e-07 2.72802L-2.62286e-07 4.09166L1.3636 4.09165ZM9.54518 4.09165L9.54518 2.72802L8.18158 2.72802L8.18158 4.09165L9.54518 4.09165Z"
                fill="currentColor"
                [style.color]="'var(--trapper-color-sequence-icon)'"
              />
              <path
                d="M2.72719 8.18255L2.72719 9.54618L4.09079 9.54618L4.09079 8.18255L2.72719 8.18255ZM5.45439 8.18255L5.45439 9.54618L6.81798 9.54618L6.81798 8.18255L5.45439 8.18255ZM-1.31143e-07 8.18255C-1.06882e-07 8.93936 0.613618 9.54618 1.3636 9.54618L1.3636 8.18255L-1.31143e-07 8.18255ZM8.18158 5.45528L8.18158 6.81892L9.54518 6.81892L9.54518 5.45528L8.18158 5.45528ZM-3.49715e-07 1.36439L1.3636 1.36439L1.3636 0.000763693C0.613618 0.000763737 -3.73758e-07 0.614397 -3.49715e-07 1.36439ZM-2.18572e-07 5.45529L-1.74858e-07 6.81892L1.3636 6.81892L1.3636 5.45529L-2.18572e-07 5.45529ZM9.54518 8.18255L8.18158 8.18255L8.18158 9.54618C8.93156 9.54618 9.54518 8.93936 9.54518 8.18255ZM6.81798 1.36439L6.81798 0.000763368L5.45439 0.000763449L5.45439 1.36439L6.81798 1.36439ZM4.09079 1.36439L4.09079 0.00076353L2.72719 0.000763611L2.72719 1.36439L4.09079 1.36439ZM9.54518 1.36439C9.54518 0.614397 8.93156 0.000763242 8.18158 0.000763286L8.18158 1.36439L9.54518 1.36439ZM2.72719 10.9098L4.09079 12.2734L10.9088 12.2734C11.6588 12.2734 12.2724 11.6666 12.2724 10.9098L12.2724 4.09165L10.9088 2.72802L10.9088 10.9098L2.72719 10.9098ZM1.3636 4.09165L1.3636 2.72802L-3.06001e-07 2.72802L-2.62286e-07 4.09166L1.3636 4.09165ZM9.54518 4.09165L9.54518 2.72802L8.18158 2.72802L8.18158 4.09165L9.54518 4.09165Z"
                fill="currentColor"
                [style.color]="'var(--trapper-color-sequence-icon)'"
              />
              <path
                d="M5.45522 10.9091L5.45522 12.2727L6.81882 12.2727L6.81882 10.9091L5.45522 10.9091ZM8.18241 10.9091L8.18241 12.2727L9.54601 12.2727L9.54601 10.9091L8.18241 10.9091ZM2.72803 10.9091C2.72803 11.6659 3.34165 12.2727 4.09162 12.2727L4.09162 10.9091L2.72803 10.9091ZM10.9096 8.18185L10.9096 9.54548L12.2732 9.54548L12.2732 8.18185L10.9096 8.18185ZM2.72803 8.18185L2.72803 9.54548L4.09162 9.54548L4.09162 8.18185L2.72803 8.18185ZM12.2732 10.9091L10.9096 10.9091L10.9096 12.2727C11.6596 12.2727 12.2732 11.6659 12.2732 10.9091ZM9.54601 4.09096L9.54601 2.72733L8.18241 2.72733L8.18241 4.09096L9.54601 4.09096ZM12.2732 4.09096C12.2732 3.34096 11.6596 2.72733 10.9096 2.72733L10.9096 4.09096L12.2732 4.09096ZM5.45522 13.6364L6.81882 15L13.6368 15C14.3868 15 15.0004 14.3932 15.0004 13.6364L15.0004 6.81822L13.6368 5.45459L13.6368 13.6364L5.45522 13.6364ZM12.2732 6.81822L12.2732 5.45459L10.9096 5.45459L10.9096 6.81822L12.2732 6.81822Z"
                fill="currentColor"
                [style.color]="'var(--trapper-color-sequence-icon)'"
              />
              <path
                d="M6.81721 15C6.06723 15 5.45361 14.3932 5.45361 13.6364L6.81721 13.6364L6.81721 15Z"
                fill="currentColor"
                [style.color]="'var(--trapper-color-sequence-icon)'"
              />
              <path
                d="M13.6352 5.45459C14.3852 5.45459 14.9988 6.06822 14.9988 6.81822L13.6352 6.81822L13.6352 5.45459Z"
                fill="currentColor"
                [style.color]="'var(--trapper-color-sequence-icon)'"
              />
            </svg>
            <span class="classify-button-text">
              {{ t('classifyButton') }}
            </span>
            <span class="classify-icon">
              <mat-icon fontIcon="copy_all"></mat-icon>
            </span>
          </a>
        </div>
        <span class="filename-info">{{ item.name }}</span>
      </div>
    </div>
    <ng-container *ngIf="listingItems$ | async as listingItems; else noData">
      <div class="no-items" *ngIf="listingItems.results.length === 0">
        {{ t('noItems') }}
      </div>
    </ng-container>
    <ng-template #noData>
      <div class="no-items" *ngIf="error$ | async as errors; else loading">
        Data loading error: {{ errors }}
      </div>
    </ng-template>
    <ng-template #loading>
      <div class="listing-grid">
        <div
          class="listing-item"
          *ngFor="let item of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]"
          [@inOutAnimation]
        >
          <ngx-skeleton-loader
            animation="pulse"
            [theme]="{
              backgroundColor:
                'var(--trapper-color-skeleton-loader-background)',
              height: '150px'
            }"
          ></ngx-skeleton-loader>
        </div>
      </div>
    </ng-template>
  </section>
  <section
    class="paginator"
    *ngIf="(currentFilters$('deployment') | async) !== null"
  >
    <trapper-ui-paginator
      [filtered]="(pagination$ | async)?.count"
      [total]="(pagination$ | async)?.total"
      [currentPage]="(pagination$ | async)?.page"
      [totalPages]="(pagination$ | async)?.pages"
      (pageChange)="pageChanged($event)"
      [currentPageSize]="(currentFilters$('page_size') | async) || '10'"
      (currentPageSizeChange)="
        filterChanged('page_size', $event === '10' ? null : $event)
      "
    ></trapper-ui-paginator>
  </section>
  <section
    class="listing"
    *ngIf="(currentFilters$('deployment') | async) === null"
  >
    <div class="no-items">
      {{ t('noDeploymentSelected') }}
    </div>
  </section>
</ng-container>
