<div
  class="card-content-wrapper"
  [ngClass]="{
    'c-w-sm': cardWidth === 'sm',
    'c-w-md': cardWidth === 'md',
    'c-w-lg': cardWidth === 'lg',
    'c-w-xxl': cardWidth === 'xxl',
    'c-w-full': cardWidth === 'full',
    'c-h-full': cardHeight === 'full',
    'vertical-margin-standard': verticalMargin === 'standard',
    'vertical-margin-large': verticalMargin === 'large',
    'horizontal-padding-compact': horizontalPadding === 'compact',
    'horizontal-padding-none': horizontalPadding === 'none',
    'vertical-padding-none': verticalPadding === 'none',
    'vertical-padding-compact': verticalPadding === 'compact',
    'c-align-left': horizontalAlign === 'left',
    'c-no-gap': rowGap === 'none',
    'c-compact-gap': rowGap === 'compact'
  }"
  @inOutAnimation
>
  <ng-content *ngIf="!loading"></ng-content>
  <div *ngIf="loading">Loading...</div>
</div>
