$breakpoint-standard: 500px;

.card-content-wrapper {
  background: var(--trapper-color-card-background);

  padding-left: 22px;
  padding-right: 22px;
  @media (width>500px) {
    padding-left: 22px;
    padding-right: 22px;
    box-shadow: 0px 8px 16px rgba(46, 46, 46, 0.16);
  }

  padding-top: 24px;
  padding-bottom: 40px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: var(--standard-spacing-gap);
}

.c-no-gap {
  gap: 0;
}

.c-compact-gap {
  gap: 8px;
}

.horizontal-padding-compact {
  @media (width>500px) {
    padding-left: 22px;
    padding-right: 22px;
  }
}

.horizontal-padding-none {
  padding-left: 0;
  padding-right: 0;
}

.vertical-padding-none {
  padding-top: 0;
  padding-bottom: 0;
}

.vertical-padding-compact {
  padding-top: 24px;
  padding-bottom: 24px;
}

.vertical-margin-standard {
  @media (width>500px) {
    margin-top: 56px;
    margin-bottom: 56px;
  }
}

.vertical-margin-large {
  @media (width>500px) {
    margin-top: 170px;
    margin-bottom: 170px;
  }
}

.c-w-sm {
  @media (width>500px) {
    width: 500px;
  }
}

.c-w-md {
  @media (width>800px) {
    width: 800px;
  }
}

.c-w-lg {
  @media (width>1279px) {
    width: 1280px;
  }
  @media (width>800px) and (width<1280px) {
    width: 800px;
  }
}

.c-w-xxl {
  @media (width>1520px) {
    width: 1520px;
  }
  @media (width>1279px) and (width<1521px) {
    width: 1280px;
  }
  @media (width>800px) and (width<1280px) {
    width: 800px;
  }
}

.c-w-full {
  width: 100%;
}
.c-h-full {
  height: 100%;
}

.c-align-left {
  align-items: flex-start;
}

:host {
  // width: 100%;
  &:has(.c-w-full) {
    width: 100%;
  }
}
