<div class="progress-bar-outer">
  <div
    class="progress-bar-inner"
    [style.width]="(percentage || 0) + '%'"
    *ngIf="!indeterminate"
  ></div>
  <div class="progress-bar-inner-indeterminate" *ngIf="indeterminate"></div>
</div>
