.progress-bar-outer {
  width: 100%;
  border: 1px solid var(--trapper-color-primary);
  height: 8px;
  overflow: hidden;
}

.progress-bar-inner {
  background: var(--trapper-color-secondary);
  height: 100%;
  transition: width 0.3s ease;
}

@keyframes indeterminateAnimation {
  0% {
    transform: translateX(0) scaleX(0);
  }
  40% {
    transform: translateX(0) scaleX(0.4);
  }
  100% {
    transform: translateX(100%) scaleX(0.5);
  }
}

.progress-bar-inner-indeterminate {
  background: var(--trapper-color-secondary);
  height: 100%;
  width: 100%;
  animation: indeterminateAnimation 1s infinite linear;
  transform-origin: 0% 50%;
}
