:host {
  display: inline-flex;
  flex-direction: column;
}

.checkbox {
  width: 18px;
  height: 18px;
  padding: 0;
  margin: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid var(--trapper-color-checkbox);
  border-radius: 2px;
  overflow: hidden;
  font-size: 16px;
  flex-shrink: 0;

  &.small {
    width: 14px;
    height: 14px;
    font-size: 14px;
  }
}

.checkbox-container {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  &.small {
    gap: 4px;
    font-size: 14px;
  }
}

.checkbox-input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

svg {
  vertical-align: middle;
  width: 100%;
  //   height: 100%;
  line-height: 100%;
  overflow: hidden;
}

span.field-error {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: var(--trapper-color-error);
}

.disabled {
  background: var(--trapper-color-disabled-contrast);
  border-color: var(--trapper-color-disabled-contrast);
}

.label-color-danger {
  color: var(--trapper-color-error);
}

label {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: var(--trapper-color-checkbox);
  cursor: pointer;
}

.is-required {
  color: var(--trapper-color-required);
}
