<label
  class="checkbox-container"
  [attr.data-testid]="testId"
  [class.small]="small"
>
  <input
    class="checkbox-input"
    type="checkbox"
    [ngModel]="checked"
    (ngModelChange)="onModelChange($event)"
    [disabled]="isDisabled"
    [id]="checkboxId"
  />

  <span
    class="checkbox"
    [class.checked]="checked"
    [class.disabled]="isDisabled"
    [class.small]="small"
  >
    <ng-container *ngIf="checked">
      <ng-container *ngTemplateOutlet="checkedMark"></ng-container>
    </ng-container>
  </span>
  <span
    class="checkbox-danger"
    [class.label-color-danger]="labelColor === 'danger'"
    ><ng-content></ng-content>
    <span class="is-required" *ngIf="isRequired">*</span>
  </span>
</label>
<div class="field-errors-wrapper" *ngIf="errors && errors.length > 0">
  <span *ngFor="let error of errors" class="field-error">{{ error }}</span>
</div>

<ng-template #checkedMark>
  <svg
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    [class.label-color-danger]="labelColor === 'danger'"
  >
    <path
      d="M9.41409 15.5858L5.41421 11.5857L4 12.9999L9.41409 18.4142L20.4141 7.41423L18.9998 6.00001L9.41409 15.5858Z"
      fill="currentColor"
    />
  </svg>
</ng-template>

<ng-template #intermediatemark>
  <svg
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <rect x="6" y="11" width="12" height="2" rx="1" fill="white" />
  </svg>
</ng-template>
