:host {
  width: 100%;
  padding-right: 78px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

ngx-skeleton-loader {
  width: 100%;
  height: 100%;
  //   //   display: inline-block;
  //   margin: 0;
  //   padding: 0;
}
section {
  width: 100%;
}
.media-display-map,
.map-placeholder {
  width: 100%;
  aspect-ratio: 16 / 5;
}

.media-display-header {
  font-weight: 700;
  font-size: 44px;
  line-height: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .action-button {
    color: inherit;
    cursor: pointer;
    color: var(--trapper-color-icon-button);
  }

  mat-icon {
    font-size: 32px;
    width: 1em;
    height: 1em;
  }
}

.media-display-resource {
  width: 100%;
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(277px, 2fr));
  gap: 24px;
  flex-wrap: wrap;
  img {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
  }
  trapper-resource-annotator {
    width: 100%;
    height: 100%;
  }
  .card-wrapper {
    height: 417px;
    flex: 1;
    min-width: 277px;
  }
  .img-card-wrapper {
    height: 417px;
    grid-column: span 2;
    flex: 2;
    min-width: 500px;
  }
}

section {
  margin-left: 40px;
}

.resource-data {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 16px;

  .resource-data-row {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    line-height: 1em;
    gap: 8px;

    color: var(--trapper-color-text-default);
    .label {
      font-weight: 700;
    }

    .value {
      font-weight: 400;
    }
  }
}

cdk-cell,
cdk-header-cell,
cdk-footer-cell {
  width: 100%;
  column-gap: 18px;
  row-gap: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1em;
}

cdk-row,
cdk-header-row,
cdk-footer-row {
  height: 40px;
  display: grid;
  grid-template-columns: //
    40px // ID
    minmax(130px, 2fr) // Observation type
    minmax(130px, 2fr) // Selected species
    minmax(130px, 2fr) // Predicted species
    minmax(60px, 1fr) // Sex
    minmax(60px, 1fr) // Age
    minmax(150px, 2fr); // Approved by expert
}

cdk-header-cell {
  font-weight: 700;
  font-size: 16px;
  line-height: 40px;
  color: var(--trapper-color-text-default);
}

.classifications-wrapper {
  width: 100%;
}

section.map-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--trapper-color-placeholder-background);
  gap: 16px;

  mat-icon {
    font-size: 48px;
    width: 1em;
    height: 1em;
    line-height: 1em;
  }
}

section.media-display-classifications {
  h3 {
    height: 36px;
  }
}

.classification-table-cell {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}
