<ng-container *transloco="let t; read: 'csProjects.mediaPreview'">
  <section class="media-display-header">
    <div
      class="left-box"
      *ngIf="media$ | async as m; else placeholderLoaderLine"
    >
      {{ t('mediaDisplayHeaderLocation') }}
      <span>{{ m.deployment.location_name }}</span>
    </div>
    <div class="right-box" *ngIf="media$ | async as m">
      <a
        class="action-button"
        [routerLink]="['/cs/projects', currentProjectSlug, 'classify', m.pk]"
        [queryParams]="{ deployment: m.deployment.id }"
        [matTooltip]="t('classifyTooltip')"
        ><mat-icon fontIcon="copy_all"> </mat-icon>
      </a>
      <a
        class="action-button"
        (click)="markAsFavourite()"
        [matTooltip]="
          m.is_favorite
            ? t('removeFromFavouritesTooltip')
            : t('addToFavouritesTooltip')
        "
        ><mat-icon
          class="star-icon"
          [fontIcon]="m.is_favorite ? 'star' : 'star_outlined'"
        ></mat-icon
      ></a>
      <a class="action-button" [matTooltip]="t('downloadTooltip')"
        ><mat-icon
          fontIcon="download"
          (click)="saveResourceToFile(m)"
        ></mat-icon
      ></a>
    </div>
  </section>
  <section class="media-display-resource"></section>
  <section class="media-display-resource">
    <div class="img-card-wrapper">
      <trapper-ui-card
        verticalMargin="none"
        cardWidth="full"
        cardHeight="full"
        horizontalPadding="none"
        verticalPadding="none"
      >
        @if (media$ | async; as currentItem) {
          <trapper-resource-annotator
            [resourceSrc]="
              currentItem.resource_type === 'V'
                ? currentItem.original_url
                : currentItem.original_url.replace('/file/', '/pfile/')
            "
            [hdResourceSrc]="currentItem.original_url"
            [isVideo]="currentItem.resource_type === 'V'"
            [bboxes]="objects$ | async"
            [readOnly]="true"
            [showLabels]="true"
            [autoFitPaddingLeft]="0"
            [autoFitPaddingTop]="24"
            [autoFitPaddingBottom]="24"
            [showObjectList]="false"
            [controlsOnHover]="true"
            [contextMenuEnabled]="false"
            [fullScreenToogleEnabled]="false"
            [customToolButtons]="[
              {
                icon: 'bootstrapFullscreen',
                tooltip: t('openImage'),
                eventName: 'openImage'
              }
            ]"
            (customToolButtonClicked)="
              $event === 'openImage' && openMediaResourcePreview()
            "
          ></trapper-resource-annotator>
        }
      </trapper-ui-card>
    </div>
    <div class="card-wrapper">
      <trapper-ui-card verticalMargin="none" cardWidth="full" cardHeight="full">
        <div class="resource-data">
          <h3>{{ t('resourceDataTitle') }}:</h3>
          <div class="resource-data-row">
            <span class="label">
              {{ t('resourceDataCoordinatesLabel') }}
            </span>
            <span class="value">
              <ng-container
                *ngIf="
                  locationCoordinates$ | async as latlong;
                  else placeholderLoaderLine
                "
              >
                <ng-container
                  *ngIf="
                    latlong[0] !== undefined && latlong[1] !== undefined;
                    else noCoordinates
                  "
                >
                  {{ latlong[0] | number: '0.2' }}
                  {{ latlong[0] > 0 ? 'N' : 'S' }},
                  {{ latlong[1] | number: '0.2' }}
                  {{ latlong[1] > 0 ? 'E' : 'W' }}
                </ng-container>
                <ng-template #noCoordinates>
                  <span class="no-coordinates">N/A</span>
                </ng-template>
              </ng-container>
            </span>
          </div>

          <div class="resource-data-row">
            <span class="label"> {{ t('resourceDataFileNameLabel') }} </span>
            <span class="value">
              <ng-container
                *ngIf="media$ | async as m; else placeholderLoaderLine"
                >{{ m.file_name }}</ng-container
              >
            </span>
          </div>

          <div class="resource-data-row">
            <span class="label">
              {{ t('resourceDataDeploymentIdLabel') }}
            </span>
            <span class="value">
              <ng-container
                *ngIf="media$ | async as m; else placeholderLoaderLine"
                >{{ m.deployment.deployment_id }}</ng-container
              >
            </span>
          </div>

          <div class="resource-data-row">
            <span class="label">
              {{ t('resourceDataDateRecordedLabel') }}
            </span>
            <span class="value">
              <ng-container
                *ngIf="media$ | async as m; else placeholderLoaderLine"
                >{{ m.date_recorded }}</ng-container
              >
            </span>
          </div>

          <div class="resource-data-row">
            <span class="label">
              {{ t('resourceDataOwnerLabel') }}
            </span>
            <span class="value">
              <ng-container
                *ngIf="media$ | async as m; else placeholderLoaderLine"
              >
                <trapper-ui-user-profile-link
                  [avatarUrl]="m.owner.avatar"
                  [name]="m.owner.name"
                  (click)="viewProfile(m.owner.id)"
                >
                </trapper-ui-user-profile-link
              ></ng-container>
            </span>
          </div>
        </div>
      </trapper-ui-card>
    </div>
  </section>
  <section class="media-display-classifications">
    <h3>
      {{ t('classificationTableTitle') }}
      <trapper-ui-badge
        color="var(--trapper-color-primary)"
        *ngIf="(isApproved$ | async) === true"
      >
        {{ t('classificationTableApproved') }}
      </trapper-ui-badge>
      <trapper-ui-badge
        color="var(--trapper-color-ai)"
        *ngIf="(isApproved$ | async) === false"
      >
        {{ t('classificationTableAI') }}
      </trapper-ui-badge>
    </h3>
    @if (classificationTable$ | async; as classificationTable) {
      <trapper-ui-responsive-table
        [items]="classificationTable.bodyRows || []"
        [clickableRows]="true"
        [enableResponsiveHeader]="false"
      >
        <ng-template
          trapperUiTableCellDef="header"
          [label]="t('classificationTableColHeader.id')"
          let-item="item"
          gridWidth="106px"
          [mainCell]="false"
        >
          <trapper-ui-badge color="var(--trapper-color-secondary)">
            {{ item.id.value }}
          </trapper-ui-badge>
        </ng-template>
        @for (col of classificationTable.columns; track col.name) {
          <ng-template
            [trapperUiTableCellDef]="col.name"
            [label]="col.label"
            let-item="item"
            gridWidth="minmax(100px, 2fr)"
            [mainCell]="false"
          >
            <div class="classification-table-cell">
              <trapper-ui-badge
                [color]="
                  item[col.name].color || 'var(--trapper-color-secondary)'
                "
              >
                {{ item[col.name].value }}
              </trapper-ui-badge>
              @if (item[col.name].confidence; as confidence) {
                <trapper-ui-badge
                  [matTooltip]="t('predictionConfidenceTooltip')"
                >
                  {{ confidence * 100 | number: '1.0-0' }}%
                </trapper-ui-badge>
              }
            </div>
          </ng-template>
        }
      </trapper-ui-responsive-table>
    }
  </section>
  <section class="media-display-classifications">
    @if (userClassificationTable$ | async; as classificationTable) {
      <h3>
        {{ t('myClassificationTableTitle') }}
      </h3>
      <trapper-ui-responsive-table
        [items]="classificationTable.bodyRows || []"
        [clickableRows]="true"
        [enableResponsiveHeader]="false"
      >
        <ng-template
          trapperUiTableCellDef="header"
          [label]="t('classificationTableColHeader.id')"
          let-item="item"
          gridWidth="106px"
          [mainCell]="false"
        >
          <trapper-ui-badge color="var(--trapper-color-secondary)">
            {{ item.id.value }}
          </trapper-ui-badge>
        </ng-template>
        @for (col of classificationTable.columns; track col.name) {
          <ng-template
            [trapperUiTableCellDef]="col.name"
            [label]="col.label"
            let-item="item"
            gridWidth="minmax(100px, 2fr)"
            [mainCell]="false"
          >
            <trapper-ui-badge
              [color]="item[col.name].color || 'var(--trapper-color-secondary)'"
            >
              {{ item[col.name].value }}
            </trapper-ui-badge>
          </ng-template>
        }
      </trapper-ui-responsive-table>
    } @else {}
  </section>
  <ng-container
    *ngIf="
      locationCoordinates$ | async as locationCoordinates;
      else placeholderLoaderLine
    "
  >
    <section
      class="media-display-map"
      *ngIf="
        locationCoordinates[0] !== undefined &&
          locationCoordinates[1] !== undefined;
        else mapPlaceholder
      "
    >
      <trapper-ui-map
        [markers]="[
          {
            lat: locationCoordinates[0],
            lng: locationCoordinates[1],
            id: 'resource-marker'
          }
        ]"
      >
      </trapper-ui-map>
    </section>
  </ng-container>

  <ng-template #placeholderLoaderLine>
    <ngx-skeleton-loader
      animation="pulse"
      [theme]="{
        backgroundColor: 'var(--trapper-color-skeleton-loader-background)',
        height: '100%'
      }"
    ></ngx-skeleton-loader>
  </ng-template>

  <ng-template #mapPlaceholder>
    <section class="map-placeholder">
      <mat-icon fontIcon="map"></mat-icon>
      <p>{{ t('mapPlaceholder') }}</p>
    </section>
  </ng-template>
</ng-container>
