<trapper-ui-card
  *transloco="let t; read: 'csProfile.passwordChangeConfirmationDialog'"
>
  <h1>{{ t('title') }}</h1>
  <trapper-ui-simple-message>
    {{ t('message') }}
  </trapper-ui-simple-message>
  <trapper-ui-form-column>
    <trapper-ui-button (click)="ok()">
      {{ t('ok') }}
    </trapper-ui-button>
  </trapper-ui-form-column>
</trapper-ui-card>
