.trapper-modal-title {
  text-align: center;
  width: 100%;
}

.trapper-modal-body {
  max-height: 80%;
  width: 100%;
  padding: 24px;
}

.trapper-modal {
  background-color: var(--trapper-color-primary-background);
  display: flex;
  flex-direction: column;
  height: 100vh;
  gap: 12px;
  min-width: 320px;
  padding: 12px;
  width: 100vw;
}

@media (min-width: 1000px) {
  .trapper-modal {
    padding: 40px 86px;
    width: 90vw;
    height: 90vh;
  }
}
