<div class="trapper-modal trapper-common-card-shadow">
  <div class="trapper-modal-header">
    <div class="trapper-modal-title">
      <ng-container
        [ngTemplateOutlet]="modalTitle"
        *ngIf="modalTitle"
      ></ng-container>
    </div>
  </div>
  <ng-scrollbar>
    <div class="trapper-modal-body">
      <ng-content></ng-content>
    </div>
  </ng-scrollbar>
  <div class="trapper-modal-footer">
    <ng-container
      [ngTemplateOutlet]="modalFooter"
      *ngIf="modalFooter"
    ></ng-container>
  </div>
</div>
