$switch-height: 24px;
$switch-width: 42px;
.switch-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  cursor: pointer;

  &.disabled {
    cursor: auto;
  }
}
.switch {
  display: inline-block;
  position: relative;
  width: $switch-width;
  height: $switch-height;
  //   margin: 0 10px;
  cursor: pointer;
  user-select: none;
  border-radius: $switch-height;
  background-color: var(--trapper-color-switch-background);
  &:after {
    content: '';
    position: absolute;
    left: 0;
    right: auto;
    width: $switch-height;
    height: $switch-height;
    border-radius: 50%;
    background-color: var(--trapper-color-switch-handle);
    transition: left 0.2s ease;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  }
  &.checked {
    &:after {
      left: calc(100% - #{$switch-height});
      background-color: var(--trapper-color-switch-handle-checked);
    }
  }
  &.disabled {
    cursor: auto;
    &:after {
      background-color: var(--trapper-color-disabled);
      border: none;
    }
  }
  input {
    display: none;
  }
}

.label-content {
  font-size: 14px;
  font-weight: 700;
  &.disabled {
    color: var(--trapper-color-disabled);
  }
}
