<label [for]="switchId" class="switch-container" [class.disabled]="disabled">
  <div class="switch" [class.checked]="checked" [class.disabled]="disabled">
    <input
      type="checkbox"
      [id]="switchId"
      [ngModel]="checked"
      (ngModelChange)="onModelChange($event)"
      [disabled]="disabled"
    />
  </div>
  <span class="label-content" [class.disabled]="disabled">
    <ng-content></ng-content>
  </span>
</label>
