<trapper-ui-card
  *transloco="let t; read: 'csProfile.deleteAccountConfirmationDialog'"
>
  <h1>{{ t('title') }}</h1>
  <trapper-ui-simple-message>
    {{ t('message') }}
  </trapper-ui-simple-message>

  <trapper-ui-form-column>
    <p>{{ t('emailRetypePrompt') }}</p>
    <b>
      {{ userEmailAddress }}
    </b>
    <trapper-ui-text-input
      [(ngModel)]="typedEmail"
      [isRequired]="true"
    ></trapper-ui-text-input>
  </trapper-ui-form-column>
  <trapper-ui-form-column>
    <trapper-ui-button
      (click)="ok()"
      [disabled]="typedEmail.length === 0 || typedEmail !== userEmailAddress"
      variant="danger"
    >
      {{ t('ok') }}
    </trapper-ui-button>
    <trapper-ui-button (click)="cancel()" variant="secondary">
      {{ t('cancel') }}
    </trapper-ui-button>
  </trapper-ui-form-column>
</trapper-ui-card>
