.form-column {
  padding-left: 0px;
  padding-right: 0px;
  @media (width>500px) {
    padding-left: 64px;
    padding-right: 64px;
  }

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: var(--standard-spacing-gap);

  width: 100%;
}

:host {
  width: 100%;
  min-width: 0;
}

.spacing-compact {
  gap: var(--standard-spacing-gap-small);
}
