<trapper-ui-modal *transloco="let t; read: 'csConsents'">
  <ng-template #title>
    <h1>
      {{ t('tosPopup.title') }}
    </h1>
  </ng-template>

  <div [innerHTML]="content$ | async"></div>

  <ng-template #footer>
    <trapper-ui-button (click)="close()">
      {{ t('tosPopup.close') }}
    </trapper-ui-button>
  </ng-template>
</trapper-ui-modal>
