<trapper-ui-card
  horizontalPadding="compact"
  *transloco="let t; read: 'csAccounts'"
>
  <h1>
    {{ t('passwordResetConfirmation.title') }}
  </h1>
  <trapper-ui-simple-message>
    {{ t('passwordResetConfirmation.instructions') }}
  </trapper-ui-simple-message>
  <a routerLink="/cs/accounts/login">
    {{ t('passwordResetConfirmation.login') }}
  </a>

  <trapper-accounts-accounts-card-footer-clipart></trapper-accounts-accounts-card-footer-clipart>
</trapper-ui-card>
