<div
  style="height: 100%; width: 100%"
  leaflet
  [leafletOptions]="mapOptions"
  (leafletMapReady)="onMapReady($event)"
  (leafletClick)="onMapClick($event)"
  [id]="mapId"
>
  <ng-container *ngIf="layers$ | async as layers">
    <div
      *ngFor="let layer of layers; trackBy: layerTrackBy"
      [leafletLayer]="layer.layer"
    ></div>
  </ng-container>
</div>
