<label
  [class.on-border]="onBorder"
  [class.required]="isRequired"
  [class.disabled]="isDisabled"
>
  <span><ng-content></ng-content></span>
  <span class="is-required" *ngIf="isRequired">*</span>
  @if (hint) {
    <span class="hint">
      <ng-icon name="matInfoOutline" [matTooltip]="hint"></ng-icon>
    </span>
  }
</label>
