label.on-border {
  color: var(--trapper-color-input-text);
  // position: absolute;

  z-index: 1049;
  background-color: var(--trapper-color-form-background);
  padding-left: 8px;
  padding-right: 8px;
  margin-top: 8px;

  font-weight: 400;
}

label {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  min-height: 18px;
  display: inline-block;
  vertical-align: middle;

  max-width: calc(100%);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  transition: color 0.2s linear;

  color: var(--trapper-color-input-text);
  &:not(.disabled) .is-required {
    color: var(--trapper-color-required);
  }

  &.disabled {
    color: var(--trapper-color-disabled);
  }

  .hint {
    display: inline-flex;
    align-items: center;
    padding-left: 8px;
  }
}

:host:has(.on-border) {
  position: absolute;
  top: -17px;
  left: 8px;
  right: 8px;
  z-index: 1049;
}
