<ng-container *transloco="let t; read: 'csLayout.header'">
  <div class="cs-header" [class.compact-mode]="isCompactMode">
    <div class="left-box">
      @if ((!isWideScreen || isCompactMode) && (sidebarPresent$ | async)) {
        <button
          class="menu-trigger"
          (click)="toggleSidebar()"
          data-testid="sidebar-toggle"
        >
          <mat-icon
            [fontIcon]="(sidebarExpanded$ | async) ? 'menu_open' : 'menu'"
          ></mat-icon>
        </button>
      }
      <a class="cs-logo" routerLink="/">
        @if (logo$ | async; as logo) {
          <img [src]="logo" />
        }
      </a>
    </div>
    <div class="right-box">
      <div class="sticky-header-toggle">
        @if (stickyHeader && !navHeaderHidden && !scrolledToTop) {
          <button
            (click)="toggleStickyHeader()"
            class="icon-button"
            [matTooltip]="t('stickyHeaderTooltip')"
          >
            <mat-icon fontIcon="close"></mat-icon>
          </button>
        }
      </div>
      <div class="color-scheme-selector">
        <button
          (click)="toggleColorScheme()"
          class="icon-button"
          [matTooltip]="
            colorScheme === 'dark'
              ? t('colorSchemeTooltip.darkMode')
              : colorScheme === 'light'
                ? t('colorSchemeTooltip.lightMode')
                : t('colorSchemeTooltip.systemDefault')
          "
        >
          <ng-icon
            [name]="
              colorScheme === 'dark'
                ? 'matDarkMode'
                : colorScheme === 'light'
                  ? 'matLightMode'
                  : 'matContrast'
            "
          ></ng-icon>
        </button>
      </div>
      <div class="lang-selector" [cdkMenuTriggerFor]="langMenu">
        {{ currentLanguageLabel }}
        <button class="expand-more">
          <mat-icon fontIcon="expand_more"></mat-icon>
        </button>
      </div>
      @if (currentUser$ | async; as currentUser) {
        <div class="user-box" [cdkMenuTriggerFor]="menu">
          <div class="current-user">
            <div class="avatar">
              <img
                [src]="
                  currentUser.avatar || 'assets/images/avatar-placeholder.svg'
                "
              />
            </div>
            <div class="username">{{ currentUser.username }}</div>
          </div>
          <button class="expand-more">
            <mat-icon fontIcon="expand_more"></mat-icon>
          </button>
        </div>
      }
    </div>
  </div>

  <ng-template #menu>
    @if (currentUser$ | async; as currentUser) {
      <div class="userbox-menu" cdkMenu>
        <button class="userbox-menu-item" cdkMenuItem routerLink="/cs/profile">
          {{ t('profileLink') }}
        </button>
        @if (backendURL$ | async; as backendURL) {
          @if (!currentUser.is_cs_only) {
            <a
              href="{{ backendURL }}/accounts/dashboard"
              target="_blank"
              class="userbox-menu-item"
              cdkMenuItem
            >
              {{ t('expertDashboardLink') }}
            </a>
          }
        }
        <button class="userbox-menu-item" cdkMenuItem (click)="logOut()">
          {{ t('logoutLink') }}
        </button>
      </div>
    }
  </ng-template>

  <ng-template #langMenu>
    <div class="lang-menu" cdkMenu>
      @for (lang of supportedLanguages; track lang.code) {
        <a class="other-lang" cdkMenuItem (click)="setLanguage(lang.code)">
          {{ lang.label }}
        </a>
      }
    </div>
  </ng-template>
</ng-container>
