.cs-header {
  background-color: var(--trapper-color-header);
  width: 100%;
  max-width: 100vw;
  height: var(--trapper-topbar-height);

  display: flex;
  // flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  padding: 8px;

  // padding: 0 286px;'
  padding: 0 16px;

  @media (min-width: 800px) {
    flex-direction: row;
    justify-content: space-between;
    height: var(--trapper-topbar-height);
  }

  @media (min-width: 1919px) {
    padding: 0 128px;
  }

  &.compact-mode {
    padding: 0 16px;
  }
}

.cs-logo {
  // width: 175px;
  height: calc(0.6 * var(--trapper-topbar-height));
  cursor: pointer;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.left-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}

.right-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
}

.user-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 24px;

  height: 40px;

  background: var(--trapper-color-primary);
  border: 1px solid var(--trapper-color-primary);
  border-radius: 4px;

  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

  color: var(--trapper-color-text-contrast);

  cursor: pointer;
}

.current-user {
  display: flex;
  gap: 6px;

  .username {
    display: none;
    @media (min-width: 800px) {
      display: block;
    }
  }
}

.avatar {
  width: 22px;
  height: 22px;

  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}

.expand-more {
  display: inline-flex;
  align-items: center;
}

.userbox-menu {
  margin-top: -4px;
  display: inline-flex;
  flex-direction: column;
  gap: 4px;

  min-width: 180px;
  max-width: 280px;
  color: var(--trapper-color-text-contrast);

  padding: 10px 16px;

  background: var(--trapper-color-primary);
  border: 1px solid var(--trapper-color-primary);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.userbox-menu-item {
  background-color: transparent;
  cursor: pointer;
  border: none;

  user-select: none;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;

  display: flex;
  align-items: center;
  flex-direction: row;
  flex: 1;

  color: var(--trapper-color-link);

  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.userbox-menu-item:hover {
  color: var(--trapper-color-text-contrast);
}

.userbox-menu-item:active {
  background-color: rgb(170, 170, 170);
}

.switch-project {
  display: inline-flex;
  align-items: center;
  color: var(--trapper-color-text-contrast);
}

.lang-selector {
  display: inline-flex;
  align-items: center;
  color: var(--trapper-color-text-contrast);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
}

.lang-menu {
  background: var(--trapper-color-text-contrast);

  box-shadow: 0px 8px 16px rgba(46, 46, 46, 0.16);
  border-radius: 4px;
  width: 64px;
  padding: 6px;

  display: flex;
  flex-direction: column;
  gap: 4px;
}

.username {
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu-trigger,
.expand-more {
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: var(--trapper-color-text-default);
}

.expand-more {
  color: var(--trapper-color-text-contrast);
}

.icon-button {
  cursor: pointer;
  border: none;
  background: transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--trapper-color-text-contrast);
  mat-icon {
    font-size: 1em;
    width: 1em;
    height: 1em;
    line-height: 1em;
  }
}
