.additional-fields {
  display: flex;
  flex-direction: column;
  gap: 24px;
  mat-icon {
    color: var(--trapper-color-input-text);
    font-size: 24px;
    width: 1em;
    height: 1em;
    line-height: 1em;
  }
  h2,
  a {
    color: var(--trapper-color-text-default);
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    vertical-align: middle;
    display: inline-flex;
    align-items: center;
  }
  form.additional-fields-form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 24px;
  }
}
