<section
  class="additional-fields"
  *transloco="let t; read: 'csProjects.upload'"
>
  <h2>
    <a (click)="toggleAdditionalFields()">
      {{ t('additionalFieldsLabel') }}
      <mat-icon [fontIcon]="expanded ? 'expand_less' : 'expand_more'"></mat-icon
    ></a>
  </h2>
  <form
    [formGroup]="formGroup"
    *ngIf="expanded"
    [@inOutAnimation]
    class="additional-fields-form"
  >
    <trapper-ui-form-field>
      <trapper-ui-label>
        {{ t('deploymentCameraIdLabel') }}
      </trapper-ui-label>
      <trapper-ui-text-input
        [placeholder]="t('deploymentCameraIdPlaceholder')"
        formControlName="camera_id"
      ></trapper-ui-text-input>
      <trapper-ui-server-errors
        formControlName="camera_id"
      ></trapper-ui-server-errors>
    </trapper-ui-form-field>
    <trapper-ui-form-field>
      <trapper-ui-label>
        {{ t('deploymentCameraModelLabel') }}
      </trapper-ui-label>
      <trapper-ui-text-input
        [placeholder]="t('deploymentCameraModelPlaceholder')"
        formControlName="camera_model"
      ></trapper-ui-text-input>
      <trapper-ui-server-errors
        formControlName="camera_model"
      ></trapper-ui-server-errors>
    </trapper-ui-form-field>
    <trapper-ui-form-field>
      <trapper-ui-label>
        {{ t('deploymentCameraIntervalLabel') }}
      </trapper-ui-label>
      <trapper-ui-text-input
        [placeholder]="t('deploymentCameraIntervalPlaceholder')"
        formControlName="camera_interval"
        type="number"
        [step]="1"
      ></trapper-ui-text-input>
      <trapper-ui-server-errors
        formControlName="camera_interval"
      ></trapper-ui-server-errors>
    </trapper-ui-form-field>
    <trapper-ui-form-field>
      <trapper-ui-label>
        {{ t('deploymentCameraHeightLabel') }}
      </trapper-ui-label>
      <trapper-ui-text-input
        [placeholder]="t('deploymentCameraHeightPlaceholder')"
        formControlName="camera_height"
        type="number"
        [step]="0.01"
      ></trapper-ui-text-input>
      <trapper-ui-server-errors
        formControlName="camera_height"
      ></trapper-ui-server-errors>
    </trapper-ui-form-field>
    <trapper-ui-form-field>
      <trapper-ui-label>
        {{ t('deploymentCameraTiltLabel') }}
      </trapper-ui-label>
      <trapper-ui-text-input
        [placeholder]="t('deploymentCameraTiltPlaceholder')"
        formControlName="camera_tilt"
        type="number"
        [step]="1"
      ></trapper-ui-text-input>
      <trapper-ui-server-errors
        formControlName="camera_tilt"
      ></trapper-ui-server-errors>
    </trapper-ui-form-field>
    <trapper-ui-form-field>
      <trapper-ui-label>
        {{ t('deploymentCameraHeadingLabel') }}
      </trapper-ui-label>
      <trapper-ui-text-input
        [placeholder]="t('deploymentCameraHeadingPlaceholder')"
        formControlName="camera_heading"
        type="number"
        [step]="1"
      ></trapper-ui-text-input>
      <trapper-ui-server-errors
        formControlName="camera_heading"
      ></trapper-ui-server-errors>
    </trapper-ui-form-field>
    <trapper-ui-form-field>
      <trapper-ui-label>
        {{ t('deploymentDetectionDistanceLabel') }}
      </trapper-ui-label>
      <trapper-ui-text-input
        [placeholder]="t('deploymentDetectionDistancePlaceholder')"
        formControlName="detection_distance"
        type="number"
        [step]="0.01"
      ></trapper-ui-text-input>
      <trapper-ui-server-errors
        formControlName="detection_distance"
      ></trapper-ui-server-errors>
    </trapper-ui-form-field>
    <trapper-ui-form-field>
      <trapper-ui-label>
        {{ t('deploymentFeatureTypeLabel') }}
      </trapper-ui-label>
      <trapper-ui-select-box-input
        [placeholder]="t('deploymentFeatureTypePlaceholder')"
        formControlName="feature_type"
        [items]="featureTypeChoices$ | async"
      ></trapper-ui-select-box-input>
      <trapper-ui-server-errors
        formControlName="feature_type"
      ></trapper-ui-server-errors>
    </trapper-ui-form-field>

    <trapper-ui-form-field>
      <trapper-ui-label>
        {{ t('deploymentHabitatLabel') }}
      </trapper-ui-label>
      <trapper-ui-text-input
        [placeholder]="t('deploymentHabitatPlaceholder')"
        formControlName="habitat"
      ></trapper-ui-text-input>
      <trapper-ui-server-errors
        formControlName="habitat"
      ></trapper-ui-server-errors>
    </trapper-ui-form-field>
  </form>
  <form *ngIf="expanded" [formGroup]="formGroup">
    <trapper-ui-form-field>
      <trapper-ui-checkbox formControlName="timestamp_issues">
        {{ t('deploymentTimestampIssuesLabel') }}
      </trapper-ui-checkbox>
      <trapper-ui-server-errors
        formControlName="timestamp_issues"
      ></trapper-ui-server-errors>
      <trapper-ui-alert
        [hasIcon]="true"
        *ngIf="formGroup.get('timestamp_issues')?.value && inUploadView"
      >
        {{ t('deploymentTimestampIssuesAlert') }}
      </trapper-ui-alert>
    </trapper-ui-form-field>
  </form>
</section>
