<ng-container *transloco="let t; read: 'csProjects.upload'">
  <section class="upload-view-header">
    <h1>
      {{ t('uploadHeader') }}
    </h1>
    <h3>
      {{ t('uploadSubheader') }}
    </h3>
  </section>

  <section class="location-section">
    <div class="location-section-heading">
      <form
        class="existing-deployment-column"
        [formGroup]="mediaCreateUploadService.formGroup"
      >
        <trapper-ui-form-field>
          <trapper-ui-label
            [isDisabled]="creatingNewDeployment"
            [isRequired]="true"
          >
            {{ t('selectDeploymentLabel') }}
          </trapper-ui-label>
          <trapper-ui-select-box-input
            [placeholder]="t('selectDeploymentPlaceholder')"
            [searchable]="true"
            formControlName="deployment_id"
            [items]="deploymentChoices$ | async"
            data-testid="deployment-select"
          ></trapper-ui-select-box-input>

          <trapper-ui-server-errors
            formControlName="deployment_id"
          ></trapper-ui-server-errors>
        </trapper-ui-form-field>
        <trapper-ui-form-field>
          <trapper-ui-label></trapper-ui-label>
          <div class="toggle-wrapper">
            <a (click)="toggleCreatingNewDeployment()">{{
              !creatingNewDeployment
                ? t('createNewDeploymentLabel')
                : t('selectExistingDeploymentLabel')
            }}</a>
          </div>
        </trapper-ui-form-field>
      </form>
      <form
        class="new-deployment-column"
        [formGroup]="mediaCreateUploadService.formGroup.controls.deployment"
      >
        <ng-container *ngIf="creatingNewDeployment">
          <trapper-ui-form-field [@inOutAnimation]>
            <trapper-ui-label [isRequired]="true">
              {{ t('deploymentCodeLabel') }}
            </trapper-ui-label>
            <trapper-ui-text-input
              formControlName="deployment_code"
              testId="deployment-code-input"
            ></trapper-ui-text-input>
            <trapper-ui-server-errors
              formControlName="deployment_code"
            ></trapper-ui-server-errors>
          </trapper-ui-form-field>
          <trapper-ui-form-field class="date-range" [@inOutAnimation]>
            <trapper-ui-label [isRequired]="true">
              {{ t('deploymentDateRangeLabel') }}
            </trapper-ui-label>

            <trapper-ui-date-range-input
              formControlName="date_range"
              [maxDate]="today"
              testId="deployment-date-range-input"
            ></trapper-ui-date-range-input>

            <trapper-ui-server-errors
              formControlName="date_range"
            ></trapper-ui-server-errors>
          </trapper-ui-form-field>

          <trapper-ui-form-field [@inOutAnimation]>
            <trapper-ui-label [isRequired]="true">
              {{ t('deploymentBaitTypeLabel') }}
            </trapper-ui-label>
            <trapper-ui-select-box-input
              [placeholder]="t('deploymentBaitTypePlaceholder')"
              [searchable]="true"
              formControlName="bait_type"
              [items]="baitTypeChoices$ | async"
              testId="bait-type-select"
            >
            </trapper-ui-select-box-input>
            <trapper-ui-server-errors
              formControlName="bait_type"
            ></trapper-ui-server-errors>
          </trapper-ui-form-field>
        </ng-container>
      </form>
    </div>
  </section>

  <trapper-frontend-deployment-edit-location-selection
    *ngIf="creatingNewDeployment"
    [locationEditingEnabled]="creatingNewLocation"
    (locationEditingEnabledChange)="setCreatingNewLocation($event)"
    [locationEditFormGroup]="
      mediaCreateUploadService.formGroup.controls.location
    "
    [locationSelectionFormControl]="
      mediaCreateUploadService.formGroup.controls.location_id
    "
  >
  </trapper-frontend-deployment-edit-location-selection>

  <trapper-frontend-deployment-edit-additional-fields
    *ngIf="creatingNewDeployment"
    [expanded]="additionalFieldsExpanded"
    (expandedChange)="toggleAdditionalFields($event)"
    [formGroup]="mediaCreateUploadService.formGroup.controls.deployment"
    [inUploadView]="true"
  ></trapper-frontend-deployment-edit-additional-fields>

  <section class="upload-section">
    <ngx-file-drop
      (onFileDrop)="dropped($event)"
      contentClassName="drop-zone-content"
      dropZoneClassName="drop-zone"
      [directory]="false"
      [multiple]="true"
      [accept]="videoSupportEnabled ? 'image/*,video/*' : 'image/*'"
    >
      <ng-template
        ngx-file-drop-content-tmp
        let-openFileSelector="openFileSelector"
      >
        <div class="drop-zone-inner" [class.with-files]="files.length > 0">
          <div *ngIf="files.length > 0">
            {{ t('fileCountInfo', { count: files.length }) }}
            <a
              class="clear-files"
              (click)="clearFiles()"
              [matTooltip]="t('clearFilesTooltip')"
            >
              <mat-icon fontIcon="clear"></mat-icon>
            </a>
          </div>
          <mat-icon
            class="upload-main-icon"
            fontIcon="photo"
            *ngIf="files.length < 1"
          ></mat-icon>
          <ng-scrollbar *ngIf="files.length > 0" class="file-list-container">
            <cdk-virtual-scroll-viewport
              itemSize="32"
              scrollViewport
              class="file-list"
            >
              <span
                class="file-entry-info"
                *cdkVirtualFor="let item of files; let i = index"
              >
                <mat-icon fontIcon="photo"></mat-icon>
                {{ item.relativePath }}
              </span>
            </cdk-virtual-scroll-viewport>
          </ng-scrollbar>
          <div class="upload-hint">
            {{ t('deploymentUploadHint.prefix') }}
            <a
              role="button"
              (click)="openFileSelector()"
              data-testid="open-file-selector"
            >
              {{ t('deploymentUploadHint.fileSelectorLabel') }}
            </a>
            {{ t('deploymentUploadHint.suffix') }}
          </div>
        </div>
      </ng-template>
    </ngx-file-drop>
    <trapper-ui-alert [hasIcon]="true">
      {{ t('deploymentUploadHint.alert') }}
    </trapper-ui-alert>
  </section>

  <trapper-frontend-deployment-edit-additional-informations
    [formGroup]="mediaCreateUploadService.formGroup"
    [canChangePrivacySettings]="creatingNewDeployment"
  >
  </trapper-frontend-deployment-edit-additional-informations>
  <section class="footer-section">
    <div>
      <trapper-ui-button
        (click)="upload()"
        [disabled]="!(files.length > 0)"
        testId="upload-button"
      >
        {{ t('deploymentUploadButtonLabel') }}
      </trapper-ui-button>
    </div>
  </section>
</ng-container>
