:host {
  padding-inline: 45px;
  text-align: left;
  gap: 24px;
  display: flex;
  flex-direction: column;
}

.upload-view-header {
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 8px;
}

section {
  width: 100%;
}

:host ::ng-deep {
  .drop-zone {
    background: var(--trapper-color-upload-drop-zone-background);
    width: 100%;
  }

  .drop-zone-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 274px;
    .upload-main-icon {
      font-size: 72px;
      width: 1em;
      height: 1em;
    }
  }
}

.file-entry-info {
  height: 32px;
  display: flex;
  align-items: center;
  gap: 4px;
  mat-icon {
    width: 1em;
    height: 1em;
  }
}

.file-list {
  height: 200px;
  //   width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.file-list-container {
  height: 200px;
  width: 100%;
}

.drop-zone-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-inline: 24px;

  &.with-files {
    justify-content: space-between;
  }
}

.location-section-heading {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  gap: 32px;
}

.existing-location-column,
.existing-deployment-column {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  column-gap: 24px;
  grid-column: span 2;
  .toggle-wrapper {
    border-left: solid 2px var(--trapper-color-input-border);
    height: 48px;
    padding-left: 24px;
    display: flex;
    align-items: center;
  }
}

.new-location-column,
.new-deployment-column {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  flex-wrap: wrap;
  column-gap: 24px;
  grid-column: span 3;
}

.footer-section {
  display: flex;
  justify-content: flex-end;
  * {
    min-width: 328px;
  }
}

.upload-section {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.clear-files {
  color: var(--trapper-color-text-default);
  mat-icon {
    width: 1em;
    height: 1em;
    line-height: 1em;
    font-size: 1em;
  }
}
